div.py-2
   h4.text-center Bar Chart
   div#c3-chart-bar.mb-2
   div.mb-2
   h4.text-center Scatter Plot
   div#c3-chart-scatter.mb-2

   script.
      depp.require(['c3'], function(){
         config = {};
         configScatter = {};
      });

      depp.require(['c3', 'loadModel', 'loadC3Bind'], setupChartView);

      function setupChartView(){
         let canvasId = 'c3-chart-bar';
         let canvasId2 = 'c3-chart-scatter';
         let chart  = new C3Bind();
         chart.init3(canvasId);
         chart.init4(canvasId2);
      }