div.py-2
   h4.text-center Bar Chart
   div#c3-chart-bar.mb-2
   div.mb-2
   h4.text-center Scatter Plot
   div#c3-chart-scatter.mb-2

   script.
      depp.require(['c3'], function(){
         initC('c3-chart-bar');
         initC('c3-chart-scatter');
         config = {
            data: {
               columns: [
                     ['data1', 30, 200, 100, 400, 150, 250],
                     ['data2', 130, 100, 140, 200, 150, 50]
               ],
               type: 'bar'
            },
            axis: {
               y: {
                  label: { // ADD
                     text: 'Y Label',
                     position: 'outer-middle'
                  }
               },
               x: {
                  label: { // ADD
                     text: 'X Label',
                     position: 'outer-middle'
                  }
               }
            },
            bar: {
               width: {
                     ratio: 0.5 // this makes bar width 50% of length between ticks
               }
               // or
               //width: 100 // this makes bar width 100px
            },
         }
         configScatter = {
            data: {
               xs: {
                     setosa: 'setosa_x',
                     versicolor: 'versicolor_x',
               },
               // iris data from R
               columns: [
                     ["setosa_x", 3.5, 3.0, 3.2, 3.1, 3.6, 3.9, 3.4, 3.4, 2.9, 3.1, 3.7, 3.4, 3.0, 3.0, 4.0, 4.4, 3.9, 3.5, 3.8, 3.8, 3.4, 3.7, 3.6, 3.3, 3.4, 3.0, 3.4, 3.5, 3.4, 3.2, 3.1, 3.4, 4.1, 4.2, 3.1, 3.2, 3.5, 3.6, 3.0, 3.4, 3.5, 2.3, 3.2, 3.5, 3.8, 3.0, 3.8, 3.2, 3.7, 3.3],
                     ["versicolor_x", 3.2, 3.2, 3.1, 2.3, 2.8, 2.8, 3.3, 2.4, 2.9, 2.7, 2.0, 3.0, 2.2, 2.9, 2.9, 3.1, 3.0, 2.7, 2.2, 2.5, 3.2, 2.8, 2.5, 2.8, 2.9, 3.0, 2.8, 3.0, 2.9, 2.6, 2.4, 2.4, 2.7, 2.7, 3.0, 3.4, 3.1, 2.3, 3.0, 2.5, 2.6, 3.0, 2.6, 2.3, 2.7, 3.0, 2.9, 2.9, 2.5, 2.8],
                     ["setosa", 0.2, 0.2, 0.2, 0.2, 0.2, 0.4, 0.3, 0.2, 0.2, 0.1, 0.2, 0.2, 0.1, 0.1, 0.2, 0.4, 0.4, 0.3, 0.3, 0.3, 0.2, 0.4, 0.2, 0.5, 0.2, 0.2, 0.4, 0.2, 0.2, 0.2, 0.2, 0.4, 0.1, 0.2, 0.2, 0.2, 0.2, 0.1, 0.2, 0.2, 0.3, 0.3, 0.2, 0.6, 0.4, 0.3, 0.2, 0.2, 0.2, 0.2],
                     ["versicolor", 1.4, 1.5, 1.5, 1.3, 1.5, 1.3, 1.6, 1.0, 1.3, 1.4, 1.0, 1.5, 1.0, 1.4, 1.3, 1.4, 1.5, 1.0, 1.5, 1.1, 1.8, 1.3, 1.5, 1.2, 1.3, 1.4, 1.4, 1.7, 1.5, 1.0, 1.1, 1.0, 1.2, 1.6, 1.5, 1.6, 1.5, 1.3, 1.3, 1.3, 1.2, 1.4, 1.2, 1.0, 1.3, 1.2, 1.3, 1.3, 1.1, 1.3],
               ],
               type: 'scatter'
            },
            axis: {
               x: {
                     label: 'Sepal.Width',
                     tick: {
                        fit: false
                     }
               },
               y: {
                     label: 'Petal.Width'
               }
            }
         }
         onC3('#c3-chart-bar', config)
         onC3('#c3-chart-scatter', configScatter)
      })

