extends /layout/layout
//- App Shell

block main

   .columns.page
      h2.column.col-12.text-center C3JS
      .column.col-6
         include chartarea1

      .column.col-6
         include chartarea2

   //link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')
   script.
      function onC3(chart, config){
         var chart = c3.generate({
            bindto: chart,
            ...config
         });
      }
      function initC(chart) {
         var mc = document.getElementById(chart)
         let w = (window.innerWidth - 400 )/2
         let h = window.innerHeight - 120
         mc.width = w
         mc.height = h

         mc.parentNode.style.width = w + 'px'
         mc.parentNode.style.margin = 'auto'
      }//()