.outer-wrap{background:#edecec;}
.bl-desc{margin:auto;}
.bl-desc *{color:#24242b;font-size:14px;}
.bl-desc--option{font-size:13px;}
.bl-desc__title{font-size:36px;}
.bl-desc__size span{border:1px solid #24242b;border-radius:2px;margin:0 2px;width:24px;height:24px;cursor:pointer;transition:all .3s ease-in-out;}
.bl-desc__size span:hover{color:white;background:rgba(36,36,43,0.7);}
.bl-desc__btn{border-radius:0px;border:0;display:inline-block;width:auto;text-decoration:none;vertical-align:middle;white-space:nowrap;padding:13px 20px;border:solid 1px #24242b;text-transform:uppercase;color:#24242b;letter-spacing:.075em;font-size:0.9375em;font-weight:400;transition:all 0.3s cubic-bezier(0.215,0.61,0.355,1);background:transparent;line-height:1.4;transition:all .3s ease-in-out;}
.bl-desc__btn:hover{color:white;background:rgba(36,36,43,0.7);}
i{transition:all .2s;}
[class*=icono-] *{box-sizing:border-box;}
[class*=icono-]{display:inline-block;vertical-align:middle;position:relative;font-style:normal;color:currentColor;text-align:left;text-indent:-9999px;direction:ltr;}
[class*=icono-]:after,[class*=icono-]:before{content:'';pointer-events:none;}
.icono-cart{width:22px;height:0;border-width:14px 6px 0 2px;border-style:solid;border-right-color:transparent;border-left-color:transparent;margin:9px 3px 11px 9px;}
.icono-cart:before{position:absolute;width:4px;height:4px;border-radius:50%;box-shadow:inset 0 0 0 32px,13px 0,-4px -20px 0 1px;top:2px;left:-3px;}
.snipcart-checkout{background:0;border:0;padding:0;position:relative;font-weight:400;font-size:0.65rem;letter-spacing:.02em;}
.snipcart-checkout:after{content:'';display:block;width:100%;height:1px;opacity:0;background:#24242b;position:absolute;left:0;right:0;bottom:0;transition:all .2s linear;}
.snipcart-checkout:hover:after{opacity:1;bottom:-1px;}
.cart-count{font-size:14px;} /* mB v6.08.01 on 2019-07-31T12:19:10.124Z */