script.
   window.ROOT = '#{ROOT}';

script.
   window.rpcProtocol = 'http';
   window.rpcHost = '0.0.0.0';
   window.rpcPort = '9081';

   window.siteName = 'MetaBake';

link(rel='stylesheet', href= ROOT +'admin/assets/css/spectreTop.css')
script(src=ROOT +'admin/assets/js/loader.js')

