button {
	cursor: pointer;
}
.grid-form {
    fieldset legend {
        margin-bottom: 0;
        border-color: #ddd;
        border-width: 1px;
    }
    [data-row-span], [data-field-span] {
        border-color: #ddd;
    }
}
@media only screen and (min-width: 700px) {
    .grid-form [data-row-span] [data-field-span] {
        border-color: #ddd;
    }
}


/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: $text-color-dark !important;
}

.grid-form [data-row-span] [data-field-span] {
    &:hover, &:active, &:focus, &.focus {
        background: rgba(0,0,0,0);
    }
}

.subtitle {
    display: block;
    font-size: 8px;
    letter-spacing: 0;
    font-weight: 400;
}

.settings-form {
    &.grid-form input[type="text"], &.grid-form input[type="email"], &.grid-form input[type="number"], &.grid-form input[type="password"], &.grid-form input[type="search"], &.grid-form input[type="tel"], &.grid-form input[type="url"], &.grid-form input[type="color"], &.grid-form input[type="date"], &.grid-form input[type="datetime"], &.grid-form input[type="datetime-local"], &.grid-form input[type="month"], &.grid-form input[type="time"], &.grid-form input[type="week"], &.grid-form textarea, &.grid-form select {
        font-size: 16px;
    }
}