
head

body
  button Continue shopping (store)
 
  button#butP Purchase 
  // A: https://stripe.com/docs/payments/checkout/server (not client)
 
  /// register shopapi
  // 1 call api
  // 2 purchase gets session,  
  // buy is stipe.redirectToCheckout () shows popup,
  // 3: clears cart, and shows thank you.

  // 'back ground tread': https://stripe.com/docs/payments/checkout/fulfillment#webhooks 
  // ship calls print full

  // 4 sends email with tracking info // server emailjs
  
  // do not load stripe in a blocking way

  <script src="https://js.stripe.com/v3/"></script>

  // B B2
  button View shopping cart Items ( comp, remove item, add to local storage)

  // B 1 note: in items there is 'button' add to shopping  ( comp,  add to local storage)

  // create a page 'manageCart'
    
