extends /layout/layout

block main
   div(width="100%")
      .pad
         table#table1.table-custom

      .pad
         table#table2.table-custom

      .buts
         button.btn.btn-primary.float-right#create-new Create new row
   style.
      .buts button {
         margin: 1rem 0;
      }

      .table-custom {
         width: 100%;
         border-color: #d6d6d6;
      }
      .table-custom .tabulator-header {
         border-bottom: 1px solid #d6d6d6;
      }
      .table-custom .tabulator-header .tabulator-col {
         background-color: #f3f3f3;
      }
      .table-custom .tabulator-row {
         border-bottom: 0;
      }
      .table-custom .tabulator-row.tabulator-selectable:hover {
         background: #f3f3f3;
      }
      .table-custom .tabulator-row .tabulator-cell,
      .table-custom .tabulator-header .tabulator-col {
         border-right: 0;
      }

   script.
      depp.define({
         'exampleBind': [
            ROOT + 'assets/models/service/Example1Model.js',
            ROOT + 'assets/models/Example1ViewModel.js',
            'Example1Bind.js',
         ]
      })

      depp.require(['pre','exampleBind'], setupBinding)

      function setupBinding() {
         console.info('binding', Date.now() - _start)

         var exampleBind = new Example1Bind()
         exampleBind.getViewList1('table1')
         exampleBind.getViewList2('table2')

         $('#create-new').on('click', function(ev){
            ev.preventDefault()
            sessionStorage.removeItem('row')
            window.location.replace('/screen/example1/form')
         })
      }