head
	title #{title}
body
	script(src='//cdn.jsdelivr.net/npm/riot@3.13.2/riot.min.js')
	script(src='tags/first-tag.min.js')
	p
	div
		first-tag
	script.
		let firstTag = riot.mount('first-tag')[0] // the first tag
		firstTag.doSomething(42)

