doctype html
html
   head
      script.
         
         let _start=Date.now()

      meta(charset='utf-8')

      meta(name='viewport', content='width=device-width, initial-scale=1')
      title Dash
      link(rel='shortcut icon', href= '/assets/favicon.png', type='image/x-icon')
      script(src='//cdn.jsdelivr.net/npm/riot@3.13.2/riot.min.js')

      style.
            .delayShowing { opacity: 0.01; }

      script(src="//instant.page/1.2.2", type="module", integrity="sha384-2xV8M5griQmzyiY3CDqh1dn4z3llDVqZDqzjzcY+jCBCk/a5fXJmuZ/40JJAPeoU")

   body
      script(src='//cdn.jsdelivr.net/npm/jquery@3.4.0/dist/jquery.slim.min.js')
      script(src='//cdn.jsdelivr.net/npm/johnnydepp@0.1.0/dist/depp.min.js')
      script(src= '/assets/js/setup.js')

      -// http://mxb.at/blog/css-grid-admin-dashboard
      -// http://w3schools.com/css/css_navbar.asp
      -//top
      #head.delayShowing.flex.edge.bblack.white.pad
         h3#navbarBrand.left.navbar-brand.text-bold Dash
         .right
            button#butLogOut.btn Logout

      .columns.delayShowing
         #menu.column.bblack.white
            ul.nav
               li.nav-item
                  a(href= '/screen/vega') Vega
                     svg.nav-ico.featherSVG(viewBox='0 0 24 24')
                        polyline(points='22 12 18 12 15 21 9 3 6 12 2 12')

         .column#router
            block main

      script.
         function userSzSc() {
            console.info('resize|scroll')
         }

   //link(href= '/assets/css/debug.css', rel='stylesheet')
