mixin top-nav(header_class="")
    header.navbar(class=header_class)
        .container.grid-xl.header-inner.d-flex
            button.nav-collapse
                #nav-icon
                span
                span
                span
                span
            div.navbar-section
                a.navbar-brand(href='/store/') MetaBake shop
            div.navbar-section(data-js="movile-nav")
                a(href='#' ) Shopping Card