mixin top-nav(header_class="")
   header.navbar(class=header_class)
      .container.grid-xl.header-inner.d-flex
         button.nav-collapse
            #nav-icon
            span
            span
            span
            span
         div.navbar-section
            a.navbar-brand(href='/store/') MetaBake shop
         div.navbar-section(data-js="movile-nav")               
            .dropdown.dropdown-right.bl-shopping-cart
               a.btn.btn-link.dropdown-toggle(href='#', tabindex='0')
                  span.bl-shopping-cart__svg
                     include /assets/img/svg/shopping-cart.svg
                  i.icon.icon-caret
                  .snipcart-summary
                     span.snipcart-total-items
               ul.menu
                  li
                     .snipcart-summary.text-gray
                        |  Total price: 
                        span.snipcart-total-price
                  li
                     span.clean-cart.js-clean-cart clear all
                        include /assets/img/svg/delete.svg