head
   include /layout/headFrag
   script(src='/assets/js/dataLoader.js')
   script(src='/assets/js/loader.js', defer='true')

body
   p
   .text-center
      .spinner-border
   .container.delayShowing
      p oh hi app

      form.grid-form
         fieldset.blurF
            legend Form Section
            div(data-row-span='2')
               div(data-field-span='1')
                  label Field 1
                  input(type='text')
               div(data-field-span='1')
                  label Field 2
                  input(type='text')


      #table1.blurT
