head
   include /layout/headFrag
   script(src='/assets/js/dataLoader.js')
   script(src='/assets/js/loader.js', defer='true')

   // spin

body
   .container.delayShowing
      p
      p oh hi app

      form.grid-form
         fieldset.blurF
            legend Form Section
            div(data-row-span='2')
               div(data-field-span='1')
                  label Field 1
                  input(type='text')
               div(data-field-span='1')
                  label Field 2
                  input(type='text')


      #table1.blurT

   style.
      .delayShowing { opacity: .4; }
      .blurT, .blurF { 
         -webkit-filter:blur(2px);
         filter:blur(2px); 
      }

      .tabulator-col {
         height: 40px;
      }
      .tabulator-cell {
         height: 40px;
      }
      .grid-form > fieldset > legend {
         margin: 0;
      }
