@font-face {
  font-family: 'Vazir';
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir.woff") format("woff"), url("../fonts/Vazir.woff2") format("woff2"), url("../fonts/Vazir.ttf") format("truetype"); }

body, *, *:before, *:after {
  direction: rtl !important;
  font-family: 'Vazir'  !important; }

.head_title a:hover {
  color: inherit; }

.head_title em strong {
  direction: rtl !important; }

.site-title {
  font-size: 70px; }

.navbar {
  background-color: #fff !important; }

.nav-link {
  text-align: right; }

.menu_box {
  margin-right: 5%;
  font-weight: bolder; }

.site-description-text {
  letter-spacing: 0; }

.post_footer {
  display: inline-block; }

.post:after {
  width: 60%;
  left: 10px; }

.archive {
  margin-right: 260px;
  margin-top: -50px; }

.post-item {
  margin-right: 20px;
  display: block; }

.post-info {
  display: inline-block;
  margin-right: 90px; }

.single-post {
  margin-top: -80px;
  margin-right: 50px;
  width: 100%; }

.post_footer:after {
  content: "";
  position: absolute;
  width: 290%;
  height: 1px;
  background-color: black;
  top: 5%;
  margin: 10px; }
