
script(src=ROOT + 'screens/membersTag/tags/formD-tag.min.js')

formD-tag

script.
   // data binding should be inside riot tag, to allow others to do declarative programming
   let myDtag = riot.mount('formD-tag')[0]



