doctype html
html
    head
        include headFrag

        script.
            
            window.apiPort = location.port
            window.apiProtocol = location.protocol.split(':')[0];
            window.apiHost = location.hostname;

        link(rel='stylesheet', href= '/setup/assets/css/spectreTop.css')

    body
        script(src='/setup/assets/js/ui-loader.js')

        block header
        block content