script.
   window.ROOT = '#{ROOT}';
   window.apiPort = '9081'
   
   window.apiProtocol = 'http';
   window.apiHost = '0.0.0.0';

   window.siteName = 'MetaBake';

link(rel='stylesheet', href= ROOT +'admin/assets/css/spectreTop.css')
script(src=ROOT +'admin/assets/js/loader.js')

