script.
   window.ROOT = '#{ROOT}';

   //Return the port number of the current URL
   window.apiPort = location.port
   
   window.apiProtocol = 'http';
   window.apiHost = '0.0.0.0';

   window.siteName = 'MetaBake';

link(rel='stylesheet', href= ROOT +'admin/assets/css/spectreTop.css')
script(src=ROOT +'admin/assets/js/loader.js')

