script.
   window.ROOT = '#{ROOT}';

   //Return the port number of the current URL
   window.apiPort = location.port
   window.apiProtocol = location.protocol.split(':')[0];
   window.apiHost = location.hostname;

   window.siteName = 'MetaBake';

link(rel='stylesheet', href= ROOT +'admin/assets/css/spectreTop.css')
script(src=ROOT +'admin/assets/js/loader.js')

