#mailFrm.grid-form.download-form
   fieldset
      legend Fill in the form to get your copy now!
      div(data-row-span='1')
         div(data-field-span='1')
            label First Name
            input#f-name(type='text', required)
      div(data-row-span='1')
         div(data-field-span='1')
            label Last Name
            input#l-name(type='text', required)
      div(data-row-span='1')
         div(data-field-span='1')
            label Email address
            input#email(type='email', required)
.notification.d-hide
br
button#sendBut.btn.btn-custom.btn-primary(type='submit') Download

script.
   depp.require(['email'], setupEmail);

   /**
      return error message if validation fails or OK 
   */
   function val() { 
      let fNameInput = $('#f-name').val();
      let lNameInput = $('#l-name').val();
      let emailInput = $('#email').val();
      if (validator.isEmpty(fNameInput, { ignore_whitespace: true }) ) {
         return 'First Name is blank';
      }
      if (validator.isEmpty(lNameInput, { ignore_whitespace: true }) ) {
         return 'Last Name is blank';
      }
      if (validator.isEmpty(emailInput, { ignore_whitespace: true }) ) {
         return 'Email is blank';
      }
      if (validator.isEmail(emailInput) === false) {
         return 'Email is invalid';
      }
      return 'OK';
   }

   function setupEmail() {
      emailjs.init("user_Pc9qJia9LYfibI953zcJY"); // user_Ml0VMHTbgatOE8QpYmnmb
      $('#mailFrm').disableAutoFill();

      $('#sendBut').click(function(e) {

         e.preventDefault();
         $('.notification').removeClass('.error-msg').addClass('d-hide').text('');

         let msg = val();
         if(msg=='OK') {
            console.info('send');
            let dat = {
               firstName: $("#f-name").val()
               ,lastName: $("#l-name").val()
               ,msg: $("#email").val()
            }
            console.info(dat);
            $(this).attr("disabled", "disabled");
            emailjs
               .send('gmail', 'download', dat )
               .then(() => {
                  $(this).removeAttr("disabled");
                  $('.notification').removeClass('d-hide error-msg').text('The email has been sent');
               });
            $("#f-name, #l-name, #email").val('');
            let a = document.createElement('a');
            a.href = 'http://mBake.org/10-Pillars-Related-to-Low-Code_Final.pdf';
            a.download = 'http://mBake.org/10-Pillars-Related-to-Low-Code_Final.pdf';
            a.target='_blank';
            a.click();
         }
         else  {
            swal({
               type: 'error',
               title: 'Oops...',
               text: msg
            });
         }

      });

   }