#mailFrm.grid-form.download-form
   fieldset
      legend Fill in the form to get your copy now!
      div(data-row-span='1')
         div(data-field-span='1')
            label First Name
            input#f-name(type='text', required)
      div(data-row-span='1')
         div(data-field-span='1')
            label Last Name
            input#l-name(type='text', required)
      div(data-row-span='1')
         div(data-field-span='1')
            label Email address
            input#email(type='email', required)
.notification.d-hide
button#sendBut.btn-custom.btn-primary(type='submit') Download