extends /layout/layout

block main
   .pad
      .columns.support(data-js-menu-highlight="about")
         .column.col-7.col-lg-10.col-xs-12
            include:metaMD text-1.md
            include form      