extends /layout/layout
block content
   .col-content
      h1.table-header Settings
      .table-wrap
         .columns
            .column
               settings-comp
            .divider-vert(data-content='OR')
            .column
               h3 Install:
               button.btn.mr-2#setup-website + Website
               button.btn.mr-2#setup-blog + Blog
               button.btn#setup-shop + Shop
   
   script.
      depp.require('setup-page', function () {
         var bindSetup = new BindSetup()
         bindSetup.getForm()

         $('#setup-shop').off('click').on('click', function(e){
               bindSetup.setupApp('shop')
         })
         $('#setup-blog').off('click').on('click', function(e){
               bindSetup.setupApp('blog')
         })
         $('#setup-website').off('click').on('click', function(e){
               bindSetup.setupApp('website')
         })
      })