head
   include layout/headFrag
   script(src='/assets/js/data.js')

body
   p oh hi app

   div#table1   
   style.
      .tabulator-col {
         height: 40px;
      }
      .tabulator-cell {
         height: 40px;
      }
