head
   include layout/headFrag
   script(src='/assets/js/data.js')

body
   p oh hi app

   div
      form.grid-form
         fieldset
            legend Form Section
            div(data-row-span='2')
               div(data-field-span='1')
                  label Field 1
                  input(type='text')
               div(data-field-span='1')
                  label Field 2
                  input(type='text')


   div#table1.blur
   style.
      .tabulator-col {
         height: 40px;
      }
      .tabulator-cell {
         height: 40px;
      }
