/.project

.DS_Store

node_modules/

*.sqlite

# ignore html, and ts's .js:
*.html
*/lib/*.js
*/routes/*.js
intuAPIsrc/index.js

#ignore minified files:
/**/*.min.js

# ignore starter sites:
intuAPIsrc/CMS
intuAPIsrc/website
intuAPIsrc/e-com

#ignore css files:
intuAPIsrc/*.css