
head 

body
   p oh hi

   button#butClo(type='button') Close

   input#select(type='file', onchange='selectFolder(event)', webkitdirectory='', directory='', multiple='')

   script.
      require('./assets/js/setup.js')

   script.
      // http://christianengvall.se/ipcmain-and-ipcrenderer

      function selectFolder(e) {
         var theFiles = e.target.files
         console.log(theFiles)
         var path = theFiles[0].path
         console.log(path)
         ipcBro.send('FOLDER', path)

      }

      const remote = require('electron').remote
      var butClo = document.getElementById("butClo")
      butClo.addEventListener("click",function(e){
         remote.getCurrentWindow().close()
      })