
include layout/head 

body
   .container
      include layout/top
         p
         .columns
            .column.col-1
               include layout/side
            .column.col-11

               input#select(type='file', onchange='selectFolder(event)', webkitdirectory='', directory='', multiple='')

      script.
         require('./assets/js/setup.js')

      script.
         // http://christianengvall.se/ipcmain-and-ipcrenderer

         function selectFolder(e) {
            var theFiles = e.target.files
            console.log(theFiles)
            var path = theFiles[0].path
            console.log(path)
            ipcBro.send('FOLDER', path)

         }
