
// All rights MetaBake.org | Cekvenich, licensed under LGPL 2.1

include layout/head 

body
   .container
      include layout/top
      p
      .columns
         .column.col-1
            include layout/side
         .column.col-11

            button#selectDirectory Select Folder
 
      script.
         require('./assets/js/setup.js')

      script.
         // http://christianengvall.se/ipcmain-and-ipcrenderer
         // http://jaketrent.com/post/select-directory-in-electron

         const electron = require('electron')
         const remote = electron.remote
         const mainProcess = remote.require('./main')
         document.getElementById('selectDirectory').addEventListener('click', _ => {
            mainProcess.selectDirectory()
            document.getElementById('selectDirectory').style.visibility = 'hidden'
         })