
include layout/head 

body
   .container
      include layout/top
      p
      .columns
         .column.col-1
            include layout/side
         .column.col-11

            <button id="selectDirectory" onclick="selectDirectory(event);" >Select Folder</button>
 
      script.
         require('./assets/js/setup.js')

      script.
         // http://christianengvall.se/ipcmain-and-ipcrenderer

         function selectFolder(e) {
            var theFiles = e.target.files
            console.log(theFiles)
            var path = theFiles[0].path
            console.log(path)
            ipcBro.send('FOLDER', path)
            return false
         }

         const electron = require('electron')
         const dialog = electron.dialog
         function selectDirectory() {
            dialog.showOpenDialog( function (folder) {
               console.log(folder)
            })
         }