html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
article,aside,footer,header,nav,section{display:block;}
h1{font-size:2em;margin:0.67em 0;}
figcaption,figure,main{display:block;}
hr{box-sizing:content-box;height:0;overflow:visible;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
a:active,a:hover{outline-width:0;}
address{font-style:normal;}
b,strong{font-weight:inherit;}
b,strong{font-weight:bolder;}
code,kbd,pre,samp{font-family:"SF Mono","Segoe UI Mono","Roboto Mono",Menlo,Courier,monospace;font-size:1em;}
dfn{font-style:italic;}
small{font-size:80%;font-weight:400;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
audio,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
img{border-style:none;}
svg:not(:root){overflow:hidden;}
button,input,optgroup,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit;margin:0;}
button,input{overflow:visible;}
button,select{text-transform:none;}
button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}
fieldset{border:0;margin:0;padding:0;}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}
progress{display:inline-block;vertical-align:baseline;}
textarea{overflow:auto;}
[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0;}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto;}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}
[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}
details,menu{display:block;}
summary{display:list-item;outline:none;}
canvas{display:inline-block;}
template{display:none;}
[hidden]{display:none;}
*,*::before,*::after{box-sizing:inherit;}
html{box-sizing:border-box;font-size:20px;line-height:1.5;-webkit-tap-highlight-color:transparent;}
body{background:#fff;color:#3b4351;font-family:"Open Sans",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;font-size:0.8rem;overflow-x:hidden;text-rendering:optimizeLegibility;}
a{color:#5755d9;outline:none;text-decoration:none;}
a:focus{box-shadow:0 0 0 0.1rem rgba(87,85,217,0.2);}
a:focus,a:hover,a:active,a.active{color:#302ecd;text-decoration:underline;}
a:visited{color:#807fe2;}
h1,h2,h3,h4,h5,h6{color:inherit;font-weight:500;line-height:1.2;margin-bottom:.5em;margin-top:0;}
.h1,.h2,.h3,.h4,.h5,.h6{font-weight:500;}
h1,.h1{font-size:2rem;}
h2,.h2{font-size:1.6rem;}
h3,.h3{font-size:1.4rem;}
h4,.h4{font-size:1.2rem;}
h5,.h5{font-size:1rem;}
h6,.h6{font-size:.8rem;}
p{margin:0 0 1.2rem;}
a,ins,u{-webkit-text-decoration-skip:ink edges;text-decoration-skip:ink edges;}
abbr[title]{border-bottom:0.05rem dotted;cursor:help;text-decoration:none;}
kbd{border-radius:0.1rem;line-height:1.25;padding:.1rem .2rem;background:#303742;color:#fff;font-size:0.7rem;}
mark{background:#ffe9b3;color:#3b4351;border-bottom:0.05rem solid #ffd367;border-radius:0.1rem;padding:0.05rem 0.1rem 0;}
blockquote{border-left:0.1rem solid #dadee4;margin-left:0;padding:0.4rem 0.8rem;}
blockquote p:last-child{margin-bottom:0;}
ul,ol{margin:0.8rem 0 0.8rem 0.8rem;padding:0;}
ul ul,ul ol,ol ul,ol ol{margin:0.8rem 0 0.8rem 0.8rem;}
ul li,ol li{margin-top:0.4rem;}
ul{list-style:disc inside;}
ul ul{list-style-type:circle;}
ol{list-style:decimal inside;}
ol ol{list-style-type:lower-alpha;}
dl dt{font-weight:bold;}
dl dd{margin:0.4rem 0 0.8rem 0;}
.container{margin-left:auto;margin-right:auto;padding-left:0.4rem;padding-right:0.4rem;width:100%;}
.container.grid-xl{max-width:1296px;}
.container.grid-lg{max-width:976px;}
.container.grid-md{max-width:856px;}
.container.grid-sm{max-width:616px;}
.container.grid-xs{max-width:496px;}
.show-xs,.show-sm,.show-md,.show-lg,.show-xl{display:none !important;}
.columns{display:flex;flex-wrap:wrap;margin-left:-0.4rem;margin-right:-0.4rem;}
.columns.col-gapless{margin-left:0;margin-right:0;}
.columns.col-gapless > .column{padding-left:0;padding-right:0;}
.columns.col-oneline{flex-wrap:nowrap;overflow-x:auto;}
.column{flex:1;max-width:100%;padding-left:0.4rem;padding-right:0.4rem;}
.column.col-12,.column.col-11,.column.col-10,.column.col-9,.column.col-8,.column.col-7,.column.col-6,.column.col-5,.column.col-4,.column.col-3,.column.col-2,.column.col-1,.column.col-auto{flex:none;}
.col-12{width:100%;}
.col-11{width:91.66666667%;}
.col-10{width:83.33333333%;}
.col-9{width:75%;}
.col-8{width:66.66666667%;}
.col-7{width:58.33333333%;}
.col-6{width:50%;}
.col-5{width:41.66666667%;}
.col-4{width:33.33333333%;}
.col-3{width:25%;}
.col-2{width:16.66666667%;}
.col-1{width:8.33333333%;}
.col-auto{flex:0 0 auto;max-width:none;width:auto;}
.col-mx-auto{margin-left:auto;margin-right:auto;}
.col-ml-auto{margin-left:auto;}
.col-mr-auto{margin-right:auto;}
@media (max-width:1280px){.col-xl-12,.col-xl-11,.col-xl-10,.col-xl-9,.col-xl-8,.col-xl-7,.col-xl-6,.col-xl-5,.col-xl-4,.col-xl-3,.col-xl-2,.col-xl-1,.col-xl-auto{flex:none;}
 .col-xl-12{width:100%;}
 .col-xl-11{width:91.66666667%;}
 .col-xl-10{width:83.33333333%;}
 .col-xl-9{width:75%;}
 .col-xl-8{width:66.66666667%;}
 .col-xl-7{width:58.33333333%;}
 .col-xl-6{width:50%;}
 .col-xl-5{width:41.66666667%;}
 .col-xl-4{width:33.33333333%;}
 .col-xl-3{width:25%;}
 .col-xl-2{width:16.66666667%;}
 .col-xl-1{width:8.33333333%;}
 .col-xl-auto{width:auto;}
 .hide-xl{display:none !important;}
 .show-xl{display:block !important;}}
@media (max-width:960px){.col-lg-12,.col-lg-11,.col-lg-10,.col-lg-9,.col-lg-8,.col-lg-7,.col-lg-6,.col-lg-5,.col-lg-4,.col-lg-3,.col-lg-2,.col-lg-1,.col-lg-auto{flex:none;}
 .col-lg-12{width:100%;}
 .col-lg-11{width:91.66666667%;}
 .col-lg-10{width:83.33333333%;}
 .col-lg-9{width:75%;}
 .col-lg-8{width:66.66666667%;}
 .col-lg-7{width:58.33333333%;}
 .col-lg-6{width:50%;}
 .col-lg-5{width:41.66666667%;}
 .col-lg-4{width:33.33333333%;}
 .col-lg-3{width:25%;}
 .col-lg-2{width:16.66666667%;}
 .col-lg-1{width:8.33333333%;}
 .col-lg-auto{width:auto;}
 .hide-lg{display:none !important;}
 .show-lg{display:block !important;}}
@media (max-width:840px){.col-md-12,.col-md-11,.col-md-10,.col-md-9,.col-md-8,.col-md-7,.col-md-6,.col-md-5,.col-md-4,.col-md-3,.col-md-2,.col-md-1,.col-md-auto{flex:none;}
 .col-md-12{width:100%;}
 .col-md-11{width:91.66666667%;}
 .col-md-10{width:83.33333333%;}
 .col-md-9{width:75%;}
 .col-md-8{width:66.66666667%;}
 .col-md-7{width:58.33333333%;}
 .col-md-6{width:50%;}
 .col-md-5{width:41.66666667%;}
 .col-md-4{width:33.33333333%;}
 .col-md-3{width:25%;}
 .col-md-2{width:16.66666667%;}
 .col-md-1{width:8.33333333%;}
 .col-md-auto{width:auto;}
 .hide-md{display:none !important;}
 .show-md{display:block !important;}}
@media (max-width:600px){.col-sm-12,.col-sm-11,.col-sm-10,.col-sm-9,.col-sm-8,.col-sm-7,.col-sm-6,.col-sm-5,.col-sm-4,.col-sm-3,.col-sm-2,.col-sm-1,.col-sm-auto{flex:none;}
 .col-sm-12{width:100%;}
 .col-sm-11{width:91.66666667%;}
 .col-sm-10{width:83.33333333%;}
 .col-sm-9{width:75%;}
 .col-sm-8{width:66.66666667%;}
 .col-sm-7{width:58.33333333%;}
 .col-sm-6{width:50%;}
 .col-sm-5{width:41.66666667%;}
 .col-sm-4{width:33.33333333%;}
 .col-sm-3{width:25%;}
 .col-sm-2{width:16.66666667%;}
 .col-sm-1{width:8.33333333%;}
 .col-sm-auto{width:auto;}
 .hide-sm{display:none !important;}
 .show-sm{display:block !important;}}
@media (max-width:480px){.col-xs-12,.col-xs-11,.col-xs-10,.col-xs-9,.col-xs-8,.col-xs-7,.col-xs-6,.col-xs-5,.col-xs-4,.col-xs-3,.col-xs-2,.col-xs-1,.col-xs-auto{flex:none;}
 .col-xs-12{width:100%;}
 .col-xs-11{width:91.66666667%;}
 .col-xs-10{width:83.33333333%;}
 .col-xs-9{width:75%;}
 .col-xs-8{width:66.66666667%;}
 .col-xs-7{width:58.33333333%;}
 .col-xs-6{width:50%;}
 .col-xs-5{width:41.66666667%;}
 .col-xs-4{width:33.33333333%;}
 .col-xs-3{width:25%;}
 .col-xs-2{width:16.66666667%;}
 .col-xs-1{width:8.33333333%;}
 .col-xs-auto{width:auto;}
 .hide-xs{display:none !important;}
 .show-xs{display:block !important;}}
.text-primary{color:#5755d9 !important;}
a.text-primary:focus,a.text-primary:hover{color:#4240d4;}
a.text-primary:visited{color:#6c6ade;}
.text-secondary{color:#e5e5f9 !important;}
a.text-secondary:focus,a.text-secondary:hover{color:#d1d0f4;}
a.text-secondary:visited{color:#fafafe;}
.text-gray{color:#bcc3ce !important;}
a.text-gray:focus,a.text-gray:hover{color:#adb6c4;}
a.text-gray:visited{color:#cbd0d9;}
.text-light{color:#fff !important;}
a.text-light:focus,a.text-light:hover{color:#f2f2f2;}
a.text-light:visited{color:white;}
.text-dark{color:#3b4351 !important;}
a.text-dark:focus,a.text-dark:hover{color:#303742;}
a.text-dark:visited{color:#455060;}
.text-success{color:#32b643 !important;}
a.text-success:focus,a.text-success:hover{color:#2da23c;}
a.text-success:visited{color:#39c94b;}
.text-warning{color:#ffb700 !important;}
a.text-warning:focus,a.text-warning:hover{color:#e6a500;}
a.text-warning:visited{color:#ffbe1a;}
.text-error{color:#e85600 !important;}
a.text-error:focus,a.text-error:hover{color:#cf4d00;}
a.text-error:visited{color:#ff6003;}
.bg-primary{background:#5755d9 !important;color:#fff;}
.bg-secondary{background:#f1f1fc !important;}
.bg-dark{background:#303742 !important;color:#fff;}
.bg-gray{background:#f7f8f9 !important;}
.bg-success{background:#32b643 !important;color:#fff;}
.bg-warning{background:#ffb700 !important;color:#fff;}
.bg-error{background:#e85600 !important;color:#fff;}
.c-hand{cursor:pointer;}
.c-move{cursor:move;}
.c-zoom-in{cursor:zoom-in;}
.c-zoom-out{cursor:zoom-out;}
.c-not-allowed{cursor:not-allowed;}
.c-auto{cursor:auto;}
.d-block{display:block;}
.d-inline{display:inline;}
.d-inline-block{display:inline-block;}
.d-flex{display:flex;}
.d-inline-flex{display:inline-flex;}
.d-none,.d-hide{display:none !important;}
.d-visible{visibility:visible;}
.d-invisible{visibility:hidden;}
.text-hide{background:transparent;border:0;color:transparent;font-size:0;line-height:0;text-shadow:none;}
.text-assistive{border:0;clip:rect(0,0,0,0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.divider,.divider-vert{display:block;position:relative;}
.divider[data-content]::after,.divider-vert[data-content]::after{background:#fff;color:#bcc3ce;content:attr(data-content);display:inline-block;font-size:0.7rem;padding:0 0.4rem;transform:translateY(-0.65rem);}
.divider{border-top:0.05rem solid #f1f3f5;height:0.05rem;margin:0.4rem 0;}
.divider[data-content]{margin:0.8rem 0;}
.divider-vert{display:block;padding:0.8rem;}
.divider-vert::before{border-left:0.05rem solid #dadee4;bottom:0.4rem;content:"";display:block;left:50%;position:absolute;top:0.4rem;transform:translateX(-50%);}
.divider-vert[data-content]::after{left:50%;padding:0.2rem 0;position:absolute;top:50%;transform:translate(-50%,-50%);}
.loading{color:transparent !important;min-height:0.8rem;pointer-events:none;position:relative;}
.loading::after{-webkit-animation:loading 500ms infinite linear;animation:loading 500ms infinite linear;border:0.1rem solid #5755d9;border-radius:50%;border-right-color:transparent;border-top-color:transparent;content:"";display:block;height:0.8rem;left:50%;margin-left:-0.4rem;margin-top:-0.4rem;position:absolute;top:50%;width:0.8rem;z-index:1;}
.loading.loading-lg{min-height:2rem;}
.loading.loading-lg::after{height:1.6rem;margin-left:-0.8rem;margin-top:-0.8rem;width:1.6rem;}
.clearfix::after{clear:both;content:"";display:table;}
.float-left{float:left !important;}
.float-right{float:right !important;}
.p-relative{position:relative !important;}
.p-absolute{position:absolute !important;}
.p-fixed{position:fixed !important;}
.p-sticky{position:-webkit-sticky !important;position:sticky !important;}
.p-centered{display:block;float:none;margin-left:auto;margin-right:auto;}
.flex-centered{align-items:center;display:flex;justify-content:center;}
.m-0{margin:0 !important;}
.mb-0{margin-bottom:0 !important;}
.ml-0{margin-left:0 !important;}
.mr-0{margin-right:0 !important;}
.mt-0{margin-top:0 !important;}
.mx-0{margin-left:0 !important;margin-right:0 !important;}
.my-0{margin-bottom:0 !important;margin-top:0 !important;}
.m-1{margin:0.2rem !important;}
.mb-1{margin-bottom:0.2rem !important;}
.ml-1{margin-left:0.2rem !important;}
.mr-1{margin-right:0.2rem !important;}
.mt-1{margin-top:0.2rem !important;}
.mx-1{margin-left:0.2rem !important;margin-right:0.2rem !important;}
.my-1{margin-bottom:0.2rem !important;margin-top:0.2rem !important;}
.m-2{margin:0.4rem !important;}
.mb-2{margin-bottom:0.4rem !important;}
.ml-2{margin-left:0.4rem !important;}
.mr-2{margin-right:0.4rem !important;}
.mt-2{margin-top:0.4rem !important;}
.mx-2{margin-left:0.4rem !important;margin-right:0.4rem !important;}
.my-2{margin-bottom:0.4rem !important;margin-top:0.4rem !important;}
.p-0{padding:0 !important;}
.pb-0{padding-bottom:0 !important;}
.pl-0{padding-left:0 !important;}
.pr-0{padding-right:0 !important;}
.pt-0{padding-top:0 !important;}
.px-0{padding-left:0 !important;padding-right:0 !important;}
.py-0{padding-bottom:0 !important;padding-top:0 !important;}
.p-1{padding:0.2rem !important;}
.pb-1{padding-bottom:0.2rem !important;}
.pl-1{padding-left:0.2rem !important;}
.pr-1{padding-right:0.2rem !important;}
.pt-1{padding-top:0.2rem !important;}
.px-1{padding-left:0.2rem !important;padding-right:0.2rem !important;}
.py-1{padding-bottom:0.2rem !important;padding-top:0.2rem !important;}
.p-2{padding:0.4rem !important;}
.pb-2{padding-bottom:0.4rem !important;}
.pl-2{padding-left:0.4rem !important;}
.pr-2{padding-right:0.4rem !important;}
.pt-2{padding-top:0.4rem !important;}
.px-2{padding-left:0.4rem !important;padding-right:0.4rem !important;}
.py-2{padding-bottom:0.4rem !important;padding-top:0.4rem !important;}
.s-rounded{border-radius:0.1rem;}
.s-circle{border-radius:50%;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.text-justify{text-align:justify;}
.text-lowercase{text-transform:lowercase;}
.text-uppercase{text-transform:uppercase;}
.text-capitalize{text-transform:capitalize;}
.text-normal{font-weight:normal;}
.text-bold{font-weight:bold;}
.text-italic{font-style:italic;}
.text-large{font-size:1.2em;}
.text-ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.text-clip{overflow:hidden;text-overflow:clip;white-space:nowrap;}
.text-break{-webkit-hyphens:auto;-ms-hyphens:auto;hyphens:auto;word-break:break-word;word-wrap:break-word;} /* mB v6.10.0 on 2019-10-07T09:45:28.665Z */