*{min-width:0;min-height:0;box-sizing:border-box;}
.grid-form *,.grid-form *:before,.grid-form *:after{box-sizing:border-box;}
.grid-form input[type="text"],.grid-form input[type="email"],.grid-form input[type="number"],.grid-form input[type="password"],.grid-form input[type="search"],.grid-form input[type="tel"],.grid-form input[type="url"],.grid-form input[type="color"],.grid-form input[type="date"],.grid-form input[type="datetime"],.grid-form input[type="datetime-local"],.grid-form input[type="month"],.grid-form input[type="time"],.grid-form input[type="week"],.grid-form textarea,.grid-form select{font-size:18px;padding:0;margin:0;width:100%;}
.grid-form input[type="text"],.grid-form input[type="email"],.grid-form input[type="number"],.grid-form input[type="password"],.grid-form input[type="search"],.grid-form input[type="tel"],.grid-form input[type="url"],.grid-form input[type="color"],.grid-form input[type="date"],.grid-form input[type="datetime"],.grid-form input[type="datetime-local"],.grid-form input[type="month"],.grid-form input[type="time"],.grid-form input[type="week"],.grid-form textarea{border:0;background:transparent;}
.grid-form input[type="text"]::-webkit-input-placeholder,.grid-form input[type="email"]::-webkit-input-placeholder,.grid-form input[type="number"]::-webkit-input-placeholder,.grid-form input[type="password"]::-webkit-input-placeholder,.grid-form input[type="search"]::-webkit-input-placeholder,.grid-form input[type="tel"]::-webkit-input-placeholder,.grid-form input[type="url"]::-webkit-input-placeholder,.grid-form input[type="color"]::-webkit-input-placeholder,.grid-form input[type="date"]::-webkit-input-placeholder,.grid-form input[type="datetime"]::-webkit-input-placeholder,.grid-form input[type="datetime-local"]::-webkit-input-placeholder,.grid-form input[type="month"]::-webkit-input-placeholder,.grid-form input[type="time"]::-webkit-input-placeholder,.grid-form input[type="week"]::-webkit-input-placeholder,.grid-form textarea::-webkit-input-placeholder{font-weight:100;color:#595959;}
.grid-form input[type="text"]:-moz-placeholder,.grid-form input[type="email"]:-moz-placeholder,.grid-form input[type="number"]:-moz-placeholder,.grid-form input[type="password"]:-moz-placeholder,.grid-form input[type="search"]:-moz-placeholder,.grid-form input[type="tel"]:-moz-placeholder,.grid-form input[type="url"]:-moz-placeholder,.grid-form input[type="color"]:-moz-placeholder,.grid-form input[type="date"]:-moz-placeholder,.grid-form input[type="datetime"]:-moz-placeholder,.grid-form input[type="datetime-local"]:-moz-placeholder,.grid-form input[type="month"]:-moz-placeholder,.grid-form input[type="time"]:-moz-placeholder,.grid-form input[type="week"]:-moz-placeholder,.grid-form textarea:-moz-placeholder{font-weight:100;color:#595959;}
.grid-form input[type="text"]:focus,.grid-form input[type="email"]:focus,.grid-form input[type="number"]:focus,.grid-form input[type="password"]:focus,.grid-form input[type="search"]:focus,.grid-form input[type="tel"]:focus,.grid-form input[type="url"]:focus,.grid-form input[type="color"]:focus,.grid-form input[type="date"]:focus,.grid-form input[type="datetime"]:focus,.grid-form input[type="datetime-local"]:focus,.grid-form input[type="month"]:focus,.grid-form input[type="time"]:focus,.grid-form input[type="week"]:focus,.grid-form textarea:focus{outline:none;}
.grid-form fieldset{border:none;padding:0;margin:0;}
.grid-form fieldset legend{border:none;border-bottom:4px solid #404040;color:#404040;font-size:18px;font-weight:bold;padding-bottom:5px;position:static;width:100%;}
.grid-form fieldset fieldset legend{border-bottom:2px solid #404040;font-weight:normal;}
.grid-form fieldset fieldset fieldset legend{border-bottom:1px solid #404040;font-weight:normal;font-size:15px;}
.grid-form [data-row-span]{border-bottom:1px solid #333;width:100%;zoom:1;}
.grid-form [data-row-span]:before,.grid-form [data-row-span]:after{content:"";display:table;}
.grid-form [data-row-span]:after{clear:both;}
@media only screen and (min-width:0) and (max-width:700px){.grid-form [data-row-span]{border-bottom:none;}}
.grid-form [data-row-span] [data-field-span]{padding:8px;float:left;}
@media only screen and (min-width:0) and (max-width:700px){.grid-form [data-row-span] [data-field-span]{border-bottom:1px solid #333;width:100% !important;}}
@media only screen and (min-width:700px){.grid-form [data-row-span] [data-field-span]{border-right:1px solid #333;display:block;}}
.grid-form [data-row-span] [data-field-span] label:first-child{margin-top:0;text-transform:uppercase;letter-spacing:1px;font-size:10px;color:#333;display:block;margin-bottom:4px;}
.grid-form [data-row-span] [data-field-span] label:first-child:hover{cursor:text;}
.grid-form [data-row-span] [data-field-span]:last-child{border-right:none;}
.grid-form [data-row-span] [data-field-span]:hover{background:#fffded;cursor:text;}
.grid-form [data-row-span] [data-field-span].focus{background:#fffad4;}
.grid-form [data-row-span] [data-field-span].focus label{color:#262626;}
@media print{.grid-form [data-row-span]{display:table;height:56px;page-break-inside:avoid;}
 .grid-form [data-row-span] [data-field-span]{border-right:1px solid #333333;display:table-cell;float:none;}
 .grid-form [data-row-span] [data-field-span].focus,.grid-form [data-row-span] [data-field-span]:hover{background:none;}
 .grid-form [data-row-span] [data-field-span] label:first-child{letter-spacing:0;}}
.grid-form [data-row-span="1"] > [data-field-span="1"]{width:100%;}
.grid-form [data-row-span="2"] > [data-field-span="1"]{width:50%;}
.grid-form [data-row-span="2"] > [data-field-span="2"]{width:100%;}
.grid-form [data-row-span="3"] > [data-field-span="1"]{width:33.33333%;}
.grid-form [data-row-span="3"] > [data-field-span="2"]{width:66.66667%;}
.grid-form [data-row-span="3"] > [data-field-span="3"]{width:100%;}
.grid-form [data-row-span="4"] > [data-field-span="1"]{width:25%;}
.grid-form [data-row-span="4"] > [data-field-span="2"]{width:50%;}
.grid-form [data-row-span="4"] > [data-field-span="3"]{width:75%;}
.grid-form [data-row-span="4"] > [data-field-span="4"]{width:100%;}
.grid-form [data-row-span="5"] > [data-field-span="1"]{width:20%;}
.grid-form [data-row-span="5"] > [data-field-span="2"]{width:40%;}
.grid-form [data-row-span="5"] > [data-field-span="3"]{width:60%;}
.grid-form [data-row-span="5"] > [data-field-span="4"]{width:80%;}
.grid-form [data-row-span="5"] > [data-field-span="5"]{width:100%;}
.grid-form [data-row-span="6"] > [data-field-span="1"]{width:16.66667%;}
.grid-form [data-row-span="6"] > [data-field-span="2"]{width:33.33333%;}
.grid-form [data-row-span="6"] > [data-field-span="3"]{width:50%;}
.grid-form [data-row-span="6"] > [data-field-span="4"]{width:66.66667%;}
.grid-form [data-row-span="6"] > [data-field-span="5"]{width:83.33333%;}
.grid-form [data-row-span="6"] > [data-field-span="6"]{width:100%;}
.grid-form [data-row-span="7"] > [data-field-span="1"]{width:14.28571%;}
.grid-form [data-row-span="7"] > [data-field-span="2"]{width:28.57143%;}
.grid-form [data-row-span="7"] > [data-field-span="3"]{width:42.85714%;}
.grid-form [data-row-span="7"] > [data-field-span="4"]{width:57.14286%;}
.grid-form [data-row-span="7"] > [data-field-span="5"]{width:71.42857%;}
.grid-form [data-row-span="7"] > [data-field-span="6"]{width:85.71429%;}
.grid-form [data-row-span="7"] > [data-field-span="7"]{width:100%;}
.grid-form [data-row-span="8"] > [data-field-span="1"]{width:12.5%;}
.grid-form [data-row-span="8"] > [data-field-span="2"]{width:25%;}
.grid-form [data-row-span="8"] > [data-field-span="3"]{width:37.5%;}
.grid-form [data-row-span="8"] > [data-field-span="4"]{width:50%;}
.grid-form [data-row-span="8"] > [data-field-span="5"]{width:62.5%;}
.grid-form [data-row-span="8"] > [data-field-span="6"]{width:75%;}
.grid-form [data-row-span="8"] > [data-field-span="7"]{width:87.5%;}
.grid-form [data-row-span="8"] > [data-field-span="8"]{width:100%;}
.grid-form [data-row-span="9"] > [data-field-span="1"]{width:11.11111%;}
.grid-form [data-row-span="9"] > [data-field-span="2"]{width:22.22222%;}
.grid-form [data-row-span="9"] > [data-field-span="3"]{width:33.33333%;}
.grid-form [data-row-span="9"] > [data-field-span="4"]{width:44.44444%;}
.grid-form [data-row-span="9"] > [data-field-span="5"]{width:55.55556%;}
.grid-form [data-row-span="9"] > [data-field-span="6"]{width:66.66667%;}
.grid-form [data-row-span="9"] > [data-field-span="7"]{width:77.77778%;}
.grid-form [data-row-span="9"] > [data-field-span="8"]{width:88.88889%;}
.grid-form [data-row-span="9"] > [data-field-span="9"]{width:100%;}
.grid-form [data-row-span="10"] > [data-field-span="1"]{width:10%;}
.grid-form [data-row-span="10"] > [data-field-span="2"]{width:20%;}
.grid-form [data-row-span="10"] > [data-field-span="3"]{width:30%;}
.grid-form [data-row-span="10"] > [data-field-span="4"]{width:40%;}
.grid-form [data-row-span="10"] > [data-field-span="5"]{width:50%;}
.grid-form [data-row-span="10"] > [data-field-span="6"]{width:60%;}
.grid-form [data-row-span="10"] > [data-field-span="7"]{width:70%;}
.grid-form [data-row-span="10"] > [data-field-span="8"]{width:80%;}
.grid-form [data-row-span="10"] > [data-field-span="9"]{width:90%;}
.grid-form [data-row-span="10"] > [data-field-span="10"]{width:100%;}
.grid-form [data-row-span="11"] > [data-field-span="1"]{width:9.09091%;}
.grid-form [data-row-span="11"] > [data-field-span="2"]{width:18.18182%;}
.grid-form [data-row-span="11"] > [data-field-span="3"]{width:27.27273%;}
.grid-form [data-row-span="11"] > [data-field-span="4"]{width:36.36364%;}
.grid-form [data-row-span="11"] > [data-field-span="5"]{width:45.45455%;}
.grid-form [data-row-span="11"] > [data-field-span="6"]{width:54.54545%;}
.grid-form [data-row-span="11"] > [data-field-span="7"]{width:63.63636%;}
.grid-form [data-row-span="11"] > [data-field-span="8"]{width:72.72727%;}
.grid-form [data-row-span="11"] > [data-field-span="9"]{width:81.81818%;}
.grid-form [data-row-span="11"] > [data-field-span="10"]{width:90.90909%;}
.grid-form [data-row-span="11"] > [data-field-span="11"]{width:100%;}
.grid-form [data-row-span="12"] > [data-field-span="1"]{width:8.33333%;}
.grid-form [data-row-span="12"] > [data-field-span="2"]{width:16.66667%;}
.grid-form [data-row-span="12"] > [data-field-span="3"]{width:25%;}
.grid-form [data-row-span="12"] > [data-field-span="4"]{width:33.33333%;}
.grid-form [data-row-span="12"] > [data-field-span="5"]{width:41.66667%;}
.grid-form [data-row-span="12"] > [data-field-span="6"]{width:50%;}
.grid-form [data-row-span="12"] > [data-field-span="7"]{width:58.33333%;}
.grid-form [data-row-span="12"] > [data-field-span="8"]{width:66.66667%;}
.grid-form [data-row-span="12"] > [data-field-span="9"]{width:75%;}
.grid-form [data-row-span="12"] > [data-field-span="10"]{width:83.33333%;}
.grid-form [data-row-span="12"] > [data-field-span="11"]{width:91.66667%;}
.grid-form [data-row-span="12"] > [data-field-span="12"]{width:100%;}
.toast{background:rgba(48,55,66,0.95);border-color:#303742;border:0.05rem solid #303742;border-radius:0.1rem;color:#fff;display:block;padding:0.4rem;width:100%;}
.toast.toast-primary{background:rgba(87,85,217,0.95);border-color:#5755d9;}
.toast.toast-success{background:rgba(50,182,67,0.95);border-color:#32b643;}
.toast.toast-warning{background:rgba(255,183,0,0.95);border-color:#ffb700;}
.toast.toast-error{background:rgba(232,86,0,0.95);border-color:#e85600;}
.toast a{color:#fff;text-decoration:underline;}
.toast a:focus,.toast a:hover,.toast a:active,.toast a.active{opacity:.75;}
.toast .btn-clear{margin:0.1rem;}
.toast p:last-child{margin-bottom:0;}
.page-content,.login-wrapper{font-family:"Open Sans",sans-serif;}
.space-1v{margin-top:1rem;margin-bottom:1rem;}
.space-2v{margin-top:2rem;margin-bottom:2rem;}
.space-12v{margin-top:1rem;margin-bottom:2rem;}
.space-21v{margin-top:2rem;margin-bottom:1rem;}
.upper{text-transform:uppercase;}
.container{font-family:"Open Sans",sans-serif;max-width:1400px;margin:0 auto;padding:0;}
.container .columns{margin:0;}
header{background:#252a3a;padding:5px 35px;}
.edit-blog-page{background:#252a3a;padding:0;margin:0;height:calc(100vh - 52px);display:flex;flex-direction:column;}
.edit-blog-page .columns,.edit-blog-page .blog-list__inside{height:100%;}
svg{width:15px;height:15px;flex-shrink:0;}
.CodeMirror-wrap{height:initial !important;border:1px solid #cccccc;border-radius:4px;}
.CodeMirror-wrap .CodeMirror-scroll{height:calc(100vh - 266px);}
.CodeMirror-wrap div,.CodeMirror-wrap span{font-weight:300;}
.col-settings{display:flex;justify-content:space-between;align-items:center;}
.col-sidebar{width:300px;background:#f5f5f5;border-right:1px solid #ddd;height:100%;display:flex;flex-direction:column;justify-content:space-between;align-items:flex-start;}
.col-editor{flex:1;background:#fff;padding:1.1rem 1.5rem;}
.user-area{color:#fff;font-size:12px;margin:0;align-items:center;justify-content:flex-end;text-align:right;}
.user-area .btn-custom{padding:0;text-align:left;}
.user-area li:first-child{margin:0;}
.user-name{font-size:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:block;max-width:100%;}
.user-name:first-letter{text-transform:capitalize;}
.site-brand{color:#fff;font-weight:600;font-size:20px;}
.logo-wrap{display:flex;align-items:center;justify-content:flex-start;margin:1.5rem 1rem 1.5rem 38px;flex-shrink:0;}
.logo{display:block;flex-shrink:0;margin:0 auto;cursor:pointer;font-weight:300;font-size:.65rem;}
.blog{color:#333;}
.blog-list{position:relative;margin:0;padding:1.3rem 40px 1.3rem 60px;overflow-y:auto;overflow-x:hidden;width:100%;}
.blog-list::-webkit-scrollbar{width:0px;background:transparent;}
.blog-list::-webkit-scrollbar-thumb{background:#fff;}
.blog-list__inside{font-weight:600;font-size:13px;position:relative;z-index:1;display:flex;flex-direction:column;justify-content:space-between;}
.blog-list-wrap{padding:5px 0;}
.blog-item{margin-bottom:.4rem;cursor:pointer;position:relative;}
.blog-item:before{content:'';display:block;background:#979797;width:1px;left:-17px;top:-4px;bottom:-4px;position:absolute;z-index:-1;}
.blog-item:last-of-type:before{height:7px;}
.blog-item:first-of-type:before{top:2px;bottom:-11px;}
.blog-item span,.blog-item li{font-weight:400;}
.blog-item span{transition:color 0.1s linear,border 0.1s linear;display:table;}
.blog-item svg{margin:0 7px 0 0;transition:fill .1s linear;fill:#333;}
.blog-item.active span{font-weight:600;}
.blog-item:last-of-type{margin-bottom:0;}
.blog-item .d-flex{display:inline-flex;align-items:flex-start;justify-content:flex-start;}
.blog-item .d-flex:hover span{font-weight:600;}
.blog-item ul{margin:.4rem 0 0 0;position:relative;}
.blog-item ul:before{content:'';display:block;width:1px;left:9px;top:-1px;bottom:15px;position:absolute;background:#979797;}
.blog-item span,.blog-item li div{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:inline-block;max-width:100%;}
.blog-item li{margin:3px 0 2px 20px;font-size:13px;position:relative;display:block;color:#777;cursor:default;}
.blog-item li.md-highlight{color:#000;}
.blog-item li:after{content:'';display:block;width:11px;height:1px;background:#979797;position:absolute;left:-10px;top:10px;}
.blog-item li div{padding:2px 4px 0 0;}
.blog-item li.hover-highlight{cursor:pointer;}
.blog-item li.hover-highlight div:hover{color:#fff;background:#1b98f8;border-radius:3px;}
.blog-item li.hover-highlight i:hover{color:#fff;}
.blog-item li:before{display:none;}
.blog-item li.active div{color:#fff;background:#1b98f8;border-radius:3px;}
.blog-item li i{flex-shrink:0;transform:scale(0.5);margin:-8px 0 -5px 0;}
.blog-item li i:hover{color:#777;}
.easter-pug{opacity:0;transition:opacity .3s ease-in-out;color:#1b98f8;font-weight:200;font-size:12px;text-align:center;display:flex;align-items:center;justify-content:center;margin-left:1rem;}
.easter-pug.active{opacity:1;}
.easter-pug i{transform:scale(0.8);}
.loader{position:fixed;z-index:9999;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,0.5);align-items:center;justify-content:center;display:none;}
.loader.active{display:flex;}
.loader .text{color:#fff;margin-bottom:10px;text-transform:capitalize;letter-spacing:1px;}
@keyframes lds-ellipsis3{0%,25%{left:32px;
  transform:scale(0);}
 50%{left:32px;
  transform:scale(1);}
 75%{left:100px;}
 100%{left:168px;
  transform:scale(1);}}
@-webkit-keyframes lds-ellipsis3{0%,25%{left:32px;
  transform:scale(0);}
 50%{left:32px;
  transform:scale(1);}
 75%{left:100px;}
 100%{left:168px;
  transform:scale(1);}}
@keyframes lds-ellipsis2{0% {
  transform:scale(1);}
 25%,100% {
  transform:scale(0);}}
@-webkit-keyframes lds-ellipsis2{0% {
  transform:scale(1);}
 25%,100% {
  transform:scale(0);}}
@keyframes lds-ellipsis{0%{left:32px;
  transform:scale(0);}
 25%{left:32px;
  transform:scale(1);}
 50%{left:100px;}
 75%{left:168px;
  transform:scale(1);}
 100%{left:168px;
  transform:scale(0);}}
@-webkit-keyframes lds-ellipsis{0%{left:32px;
  transform:scale(0);}
 25%{left:32px;
  transform:scale(1);}
 50%{left:100px;}
 75%{left:168px;
  transform:scale(1);}
 100%{left:168px;
  transform:scale(0);}}
.lds-ellipsis{position:relative;}
.lds-ellipsis > div{position:absolute;transform:translate(-50%,-50%);width:8px;height:8px;}
.lds-ellipsis div > div{width:8px;height:8px;border-radius:50%;background:#f00;position:absolute;top:100px;left:32px;-webkit-animation:lds-ellipsis 1.1s cubic-bezier(0,0.5,0.5,1) infinite forwards;animation:lds-ellipsis 1.1s cubic-bezier(0,0.5,0.5,1) infinite forwards;}
.lds-ellipsis div:nth-child(1) div{-webkit-animation:lds-ellipsis2 1.1s cubic-bezier(0,0.5,0.5,1) infinite forwards;animation:lds-ellipsis2 1.1s cubic-bezier(0,0.5,0.5,1) infinite forwards;background:#ffffff;}
.lds-ellipsis div:nth-child(2) div{-webkit-animation-delay:-0.55s;animation-delay:-0.55s;background:#ffffff;}
.lds-ellipsis div:nth-child(3) div{-webkit-animation-delay:-0.275s;animation-delay:-0.275s;background:#ffffff;}
.lds-ellipsis div:nth-child(4) div{-webkit-animation-delay:0s;animation-delay:0s;background:#ffffff;}
.lds-ellipsis div:nth-child(5) div{-webkit-animation:lds-ellipsis3 1.1s cubic-bezier(0,0.5,0.5,1) infinite forwards;animation:lds-ellipsis3 1.1s cubic-bezier(0,0.5,0.5,1) infinite forwards;background:#ffffff;}
.lds-ellipsis{width:101px !important;height:101px !important;transform:translate(-50.5px,-50.5px) scale(0.505) translate(50.5px,50.5px);}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{font-weight:400;color:#333;}
h1{font-size:28px;font-weight:600;margin:0 0 1.4rem 0;}
h1 span{display:inline-block;margin:0 5px;padding:6px 10px;background:#f3f3f3;border-radius:3px;font-style:italic;}
a{transition:all .2s ease-in-out;}
a,a:visited{color:#fff;}
a,a:hover,a:active,a:focus{outline:none;box-shadow:none;text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:none;color:rgba(255,255,255,0.8);}
a.inactive{color:#888888;}
a.inactive:hover{text-decoration:none;cursor:default;}
p,ul,.grid-form fieldset legend{color:#333;font-size:14px;line-height:1.45;}
p{margin:0 0 1rem 0;font-weight:200;}
p:last-of-type{margin:0;}
ul{list-style-type:none;}
.notification{font-weight:400;background:rgba(37,42,58,0.9);border-radius:4px;padding:30px 40px;font-size:14px;position:absolute;z-index:999;top:38%;display:flex;align-items:center;justify-content:center;text-align:center;color:#fff;align-self:center;}
.notification::first-letter{text-transform:uppercase;}
.notification.error-msg{background:rgba(247,98,99,0.75);}
button{cursor:pointer;}
.grid-form fieldset legend{font-weight:300;}
input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active{-webkit-box-shadow:0 0 0 30px white inset !important;}
input:-webkit-autofill{-webkit-text-fill-color:#333 !important;}
.post-name-wrap,.publish-date-form,.file-upload{background:rgba(37,42,58,0.9);border-radius:4px;}
.post-name-wrap button i,.post-name-wrap button i.icono-checkCircle,.post-name-wrap button.Zebra_DatePicker_Icon,.publish-date-form button i,.publish-date-form button i.icono-checkCircle,.publish-date-form button.Zebra_DatePicker_Icon,.file-upload button i,.file-upload button i.icono-checkCircle,.file-upload button.Zebra_DatePicker_Icon{color:#252a3a;}
.post-name-wrap,.publish-date-form{position:absolute;top:38%;z-index:99;padding:.5rem 1rem 1rem 1rem;align-self:center;}
.post-name-wrap .input-wrap,.publish-date-form .input-wrap{position:relative;}
.post-name-wrap button,.publish-date-form button{position:absolute;right:4px;top:3px;padding:0;margin:0;background:0;border:0;}
.post-name-wrap button,.post-name-wrap button:hover,.post-name-wrap button:active,.post-name-wrap button:focus,.publish-date-form button,.publish-date-form button:hover,.publish-date-form button:active,.publish-date-form button:focus{outline:none;box-shadow:none;}
.post-name-wrap label,.publish-date-form label{display:block;color:#fff;padding-bottom:3px;text-transform:uppercase;font-size:10px;letter-spacing:1px;word-spacing:1px;}
.post-name-wrap input,.publish-date-form input{font-family:inherit;font-size:14px;font-weight:400;color:#252a3a;background:rgba(255,255,255,0.7);border:0;border-radius:4px;width:500px;max-width:100%;height:40px;display:block;line-height:normal;margin:0;padding:5px 43px 5px 10px;transition:all .3s ease-in-out;}
.post-name-wrap input::-webkit-input-placeholder,.publish-date-form input::-webkit-input-placeholder{font-size:14px;color:#252a3a;}
.post-name-wrap input::-moz-placeholder,.publish-date-form input::-moz-placeholder{font-size:14px;color:#252a3a;}
.post-name-wrap input::-ms-input-placeholder,.publish-date-form input::-ms-input-placeholder{font-size:14px;color:#252a3a;}
.post-name-wrap input,.post-name-wrap input:hover,.post-name-wrap input:active,.post-name-wrap input:focus,.publish-date-form input,.publish-date-form input:hover,.publish-date-form input:active,.publish-date-form input:focus{outline:none;box-shadow:none;}
.file-upload{position:absolute;padding:20px 35px;font-size:14px;position:absolute;z-index:999;top:38%;display:flex;align-items:center;justify-content:center;text-align:center;color:#fff;align-self:center;}
.file-upload input[type='submit']{cursor:pointer;}
.file-upload-input{margin-left:7px;display:inline-block;}
.publish-date-form input,.publish-date-form input:hover,.publish-date-form input:active,.publish-date-form input:focus,.publish-date-form button,.publish-date-form button:hover,.publish-date-form button:active,.publish-date-form button:focus{outline:none;box-shadow:none;}
.publish-date-form .Zebra_DatePicker_Icon{top:4px !important;right:42px !important;margin:5px 1px 1px;opacity:.7;width:30px;height:26px;border-width:4px 2px 2px;border-style:solid;border-radius:4px;background:0;display:inline-block;vertical-align:middle;font-style:normal;color:currentColor;text-align:left;text-indent:-9999px;direction:ltr;transition:all .2s;}
.publish-date-form .Zebra_DatePicker_Icon:after,.publish-date-form .Zebra_DatePicker_Icon:before{content:'';pointer-events:none;}
.publish-date-form .Zebra_DatePicker_Icon:before{position:absolute;width:4px;height:4px;top:2px;left:2px;box-shadow:inset 0 0 0 32px,6px 0,12px 0,18px 0,0 6px,6px 6px,12px 6px,18px 6px,0 12px,6px 12px,12px 12px,18px 12px;}
.publish-date-form .Zebra_DatePicker_Icon:after{position:absolute;width:4px;height:8px;box-shadow:inset 0 0 0 32px,16px 0;border-radius:4px;top:-8px;left:3px;}
.publish-date-form .Zebra_DatePicker_Icon:hover{opacity:1;}
.btn,.btn-custom{-webkit-appearance:none;-moz-appearance:none;appearance:none;background:#fff;border:0.05rem solid #5755d9;border-radius:0.1rem;color:#5755d9;cursor:pointer;display:inline-block;font-size:0.8rem;height:1.8rem;line-height:1.2rem;outline:none;padding:0.25rem 0.4rem;text-align:center;text-decoration:none;transition:background .2s,border .2s,box-shadow .2s,color .2s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;vertical-align:middle;white-space:nowrap;}
.btn:focus,.btn-custom:focus{box-shadow:0 0 0 0.1rem rgba(87,85,217,0.2);}
.btn:focus,.btn-custom:focus,.btn:hover,.btn-custom:hover{background:#f1f1fc;border-color:#4b48d6;text-decoration:none;}
.btn:active,.btn-custom:active,.btn.active,.active.btn-custom{background:#4b48d6;border-color:#3634d2;color:#fff;text-decoration:none;}
.btn:active.loading::after,.btn-custom:active.loading::after,.btn.active.loading::after,.active.loading.btn-custom::after{border-bottom-color:#fff;border-left-color:#fff;}
.btn[disabled],.btn-custom[disabled],.btn:disabled,.btn-custom:disabled,.btn.disabled,.disabled.btn-custom{cursor:default;opacity:.5;pointer-events:none;}
.btn.btn-primary,.btn-primary.btn-custom{background:#5755d9;border-color:#4b48d6;color:#fff;}
.btn.btn-primary:focus,.btn-primary.btn-custom:focus,.btn.btn-primary:hover,.btn-primary.btn-custom:hover{background:#4240d4;border-color:#3634d2;color:#fff;}
.btn.btn-primary:active,.btn-primary.btn-custom:active,.btn.btn-primary.active,.btn-primary.active.btn-custom{background:#3a38d2;border-color:#302ecd;color:#fff;}
.btn.btn-primary.loading::after,.btn-primary.loading.btn-custom::after{border-bottom-color:#fff;border-left-color:#fff;}
.btn.btn-success,.btn-success.btn-custom{background:#32b643;border-color:#2faa3f;color:#fff;}
.btn.btn-success:focus,.btn-success.btn-custom:focus{box-shadow:0 0 0 0.1rem rgba(50,182,67,0.2);}
.btn.btn-success:focus,.btn-success.btn-custom:focus,.btn.btn-success:hover,.btn-success.btn-custom:hover{background:#30ae40;border-color:#2da23c;color:#fff;}
.btn.btn-success:active,.btn-success.btn-custom:active,.btn.btn-success.active,.btn-success.active.btn-custom{background:#2a9a39;border-color:#278e34;color:#fff;}
.btn.btn-success.loading::after,.btn-success.loading.btn-custom::after{border-bottom-color:#fff;border-left-color:#fff;}
.btn.btn-error,.btn-error.btn-custom{background:#e85600;border-color:#d95000;color:#fff;}
.btn.btn-error:focus,.btn-error.btn-custom:focus{box-shadow:0 0 0 0.1rem rgba(232,86,0,0.2);}
.btn.btn-error:focus,.btn-error.btn-custom:focus,.btn.btn-error:hover,.btn-error.btn-custom:hover{background:#de5200;border-color:#cf4d00;color:#fff;}
.btn.btn-error:active,.btn-error.btn-custom:active,.btn.btn-error.active,.btn-error.active.btn-custom{background:#c44900;border-color:#b54300;color:#fff;}
.btn.btn-error.loading::after,.btn-error.loading.btn-custom::after{border-bottom-color:#fff;border-left-color:#fff;}
.btn.btn-link,.btn-link.btn-custom{background:transparent;border-color:transparent;color:#5755d9;}
.btn.btn-link:focus,.btn-link.btn-custom:focus,.btn.btn-link:hover,.btn-link.btn-custom:hover,.btn.btn-link:active,.btn-link.btn-custom:active,.btn.btn-link.active,.btn-link.active.btn-custom{color:#302ecd;}
.btn.btn-sm,.btn-sm.btn-custom{font-size:0.7rem;height:1.4rem;padding:0.05rem 0.3rem;}
.btn.btn-lg,.btn-lg.btn-custom{font-size:0.9rem;height:2rem;padding:0.35rem 0.6rem;}
.btn.btn-block,.btn-block.btn-custom{display:block;width:100%;}
.btn.btn-action,.btn-action.btn-custom{width:1.8rem;padding-left:0;padding-right:0;}
.btn.btn-action.btn-sm,.btn-action.btn-sm.btn-custom{width:1.4rem;}
.btn.btn-action.btn-lg,.btn-action.btn-lg.btn-custom{width:2rem;}
.btn.btn-clear,.btn-clear.btn-custom{background:transparent;border:0;color:currentColor;height:1rem;line-height:0.8rem;margin-left:0.2rem;margin-right:-2px;opacity:1;padding:0.1rem;text-decoration:none;width:1rem;}
.btn.btn-clear:focus,.btn-clear.btn-custom:focus,.btn.btn-clear:hover,.btn-clear.btn-custom:hover{background:rgba(247,248,249,0.5);opacity:.95;}
.btn.btn-clear::before,.btn-clear.btn-custom::before{content:"\2715";}
.btn-group{display:inline-flex;flex-wrap:wrap;}
.btn-group .btn,.btn-group .btn-custom{flex:1 0 auto;}
.btn-group .btn:first-child:not(:last-child),.btn-group .btn-custom:first-child:not(:last-child){border-bottom-right-radius:0;border-top-right-radius:0;}
.btn-group .btn:not(:first-child):not(:last-child),.btn-group .btn-custom:not(:first-child):not(:last-child){border-radius:0;margin-left:-0.05rem;}
.btn-group .btn:last-child:not(:first-child),.btn-group .btn-custom:last-child:not(:first-child){border-bottom-left-radius:0;border-top-left-radius:0;margin-left:-0.05rem;}
.btn-group .btn:focus,.btn-group .btn-custom:focus,.btn-group .btn:hover,.btn-group .btn-custom:hover,.btn-group .btn:active,.btn-group .btn-custom:active,.btn-group .btn.active,.btn-group .active.btn-custom{z-index:1;}
.btn-group.btn-group-block{display:flex;}
.btn-group.btn-group-block .btn,.btn-group.btn-group-block .btn-custom{flex:1 0 0;}
.btn-custom{text-align:center;border-radius:0;border:0;border-radius:45px;font-size:12px;font-weight:400;min-width:90px;padding:8px 15px;transition:all .2s ease-in-out;display:inline-block;color:#fff;height:initial;line-height:1.5;}
.btn-custom::first-letter{text-transform:uppercase;}
.btn-custom,.btn-custom:hover,.btn-custom:active,.btn-custom:focus{outline:none;text-decoration:none;box-shadow:none;}
.btn-custom[disabled="disabled"].btn,.btn-custom[disabled="disabled"],.btn-custom[disabled="disabled"].btn:hover,.btn-custom[disabled="disabled"]:hover,.btn-custom[disabled="disabled"].btn:active,.btn-custom[disabled="disabled"]:active,.btn-custom[disabled="disabled"].btn:focus,.btn-custom[disabled="disabled"]:focus,.btn-custom[disabled="disabled"].btn:visited,.btn-custom[disabled="disabled"]:visited,.btn-custom[disabled="disabled"].btn-custom,.btn-custom[disabled="disabled"].btn-custom:hover,.btn-custom[disabled="disabled"].btn-custom:active,.btn-custom[disabled="disabled"].btn-custom:focus,.btn-custom[disabled="disabled"].btn-custom:visited{background:rgba(0,0,0,0.2);color:#fff;cursor:default;}
.btn-primary.btn,.btn-primary.btn-custom,.btn-primary.btn:visited,.btn-primary.btn-custom:visited{background:#1b98f8;}
.btn-primary.btn:hover,.btn-primary.btn-custom:hover,.btn-primary.btn:active,.btn-primary.btn-custom:active,.btn-primary.btn:focus,.btn-primary.btn-custom:focus{background:#006ec3;}
.btn-secondary.btn,.btn-secondary.btn-custom,.btn-secondary.btn:visited,.btn-secondary.btn-custom:visited{background:#252a3a;}
.btn-secondary.btn:hover,.btn-secondary.btn-custom:hover,.btn-secondary.btn:active,.btn-secondary.btn-custom:active,.btn-secondary.btn:focus,.btn-secondary.btn-custom:focus{background:black;}
.btns-wrap{display:flex;align-items:center;justify-content:flex-end;margin:25px 0 0 0;}
.btns-wrap .btn-custom{flex-shrink:0;}
.btns-wrap .save{margin:0 .7rem 0;}
i{cursor:pointer;}
i.disabled,i.disabled:hover{cursor:default;color:rgba(0,0,0,0.2);}
i:hover{color:#1b98f8;}
[class*=icono-][class*=Circle]{border-radius:50%;border:2px solid;width:30px;height:30px;margin:2px;transition:all .2s ease-in-out;box-sizing:border-box;display:inline-block;vertical-align:middle;position:relative;font-style:normal;color:currentColor;text-align:left;text-indent:-9999px;direction:ltr;transform:rotate(-45deg);opacity:.7;}
[class*=icono-][class*=Circle]:before,[class*=icono-][class*=Circle]:after{content:'';pointer-events:none;box-shadow:inset 0 0 0 32px;}
[class*=icono-][class*=Circle]:before{width:14px;position:absolute;top:15px;left:14px;height:2px;transform:translate(-50%,-50%);}
[class*=icono-][class*=Circle]:after{height:8px;left:7px;bottom:10px;position:absolute;width:2px;}
[class*=icono-][class*=Circle]:hover{opacity:1;}
.icons-row{display:flex;align-items:stretch;justify-content:flex-start;flex-wrap:wrap;}
.icon-wrap{background:#e6e6e6;border-radius:1px;width:40px;height:28px;display:flex;align-items:center;justify-content:center;margin:0 4px 8px 0;}
.icon-wrap i{flex-shrink:0;}
.icon-wrap .i-calendar{transform:scale(0.535);}
.icon-wrap .icono-sync{transform:scale(0.616);}
.icon-wrap .i-plusCircle{transform:scale(0.6);}
.icon-wrap i.active{color:#1b98f8;}
.i-file{border:2px solid;width:26px;height:32px;border-radius:0 0 0 10px;margin:0;display:inline-block;vertical-align:middle;position:relative;font-style:normal;color:currentColor;text-align:left;text-indent:-9999px;direction:ltr;}
.i-file:after,.i-file:before{content:'';pointer-events:none;}
.i-file:before{border-bottom-color:transparent;position:absolute;width:0;height:0;left:-3px;bottom:-3px;border-width:5px;border-style:solid;border-left-color:transparent;}
.i-file:after{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:13px;height:2px;box-shadow:inset 0 0 0 32px,0 -5px 0 0,0 5px 0 0;}
.Zebra_DatePicker_Icon,.i-calendar{width:30px;height:26px;border-width:4px 2px 2px;border-style:solid;border-radius:4px;background:0;display:inline-block;vertical-align:middle;font-style:normal;color:currentColor;text-align:left;text-indent:-9999px;direction:ltr;transition:all .2s;position:relative;}
.Zebra_DatePicker_Icon:after,.Zebra_DatePicker_Icon:before,.i-calendar:after,.i-calendar:before{content:'';pointer-events:none;}
.Zebra_DatePicker_Icon:before,.i-calendar:before{position:absolute;width:4px;height:4px;top:2px;left:2px;box-shadow:inset 0 0 0 32px,6px 0,12px 0,18px 0,0 6px,6px 6px,12px 6px,18px 6px,0 12px,6px 12px,12px 12px,18px 12px;}
.Zebra_DatePicker_Icon:after,.i-calendar:after{position:absolute;width:4px;height:8px;box-shadow:inset 0 0 0 32px,16px 0;border-radius:4px;top:-8px;left:3px;}
.upload{border:2px solid;width:24px;height:22px;border-radius:3px;overflow:hidden;margin:4px 2px;display:inline-block;vertical-align:middle;position:relative;font-style:normal;color:currentColor;text-align:left;text-indent:-9999px;direction:ltr;box-sizing:border-box;transition:all .2s;transform:scale(0.7);cursor:pointer;}
.upload,.upload:hover,.upload:active,.upload:focus{outline:none;box-shadow:none;}
.upload:before,.upload:after{content:'';pointer-events:none;}
.upload:before{-webkit-transform:rotate(45deg);position:absolute;width:10px;height:10px;left:0;top:11px;transform:rotate(45deg);box-shadow:inset 0 0 0 32px,10px -6px 0 0;}
.upload:after{position:absolute;width:4px;height:4px;border-radius:50%;box-shadow:inset 0 0 0 32px;top:5px;right:5px;}
.upload:hover{color:#1b98f8;}
.icono-sync{border:2px solid;border-right-color:transparent;border-radius:50%;margin:4px;border-left-color:transparent;width:26px;height:26px;display:inline-block;vertical-align:middle;position:relative;font-style:normal;color:currentColor;text-align:left;text-indent:-9999px;direction:ltr;transition:all .2s;}
.icono-sync:after,.icono-sync:before{border-right-color:transparent;position:absolute;width:0;height:0;border-width:6px;border-style:solid;border-bottom-color:transparent;border-left-color:transparent;content:'';pointer-events:none;}
.icono-sync:before{transform:rotate(-45deg);right:-7px;top:0;}
.icono-sync:after{transform:rotate(135deg);left:-7px;bottom:0;}
.i-plusCircle{display:inline-block;vertical-align:middle;position:relative;font-style:normal;color:currentColor;text-align:left;text-indent:-9999px;direction:ltr;transition:all .2s;border:2px solid;border-radius:50%;width:30px;height:30px;margin:2px;}
.i-plusCircle:after,.i-plusCircle:before{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);box-shadow:inset 0 0 0 32px;content:'';pointer-events:none;}
.i-plusCircle:before{height:2px;width:18px;}
.i-plusCircle:after{width:2px;height:18px;}
.knot{position:absolute;left:-22px;top:2px;border:1px solid #979797;background:#fff;width:12px;height:12px;display:flex;align-items:center;justify-content:center;}
.knot.active div:after{display:none;}
.knot div{position:absolute;flex-shrink:0;width:6px;height:2px;}
.knot div:after{content:'';display:block;width:2px;height:6px;position:absolute;top:-2px;left:2px;}
.knot div,.knot div:after,.knot:after,.knot:before{background:#979797;z-index:9;flex-shrink:0;}
.knot:after{content:'';display:block;width:5px;height:1px;right:-5px;top:5px;position:absolute;}
.i-arrow-right{width:16px;height:4px;margin:15px 9px;box-shadow:inset 0 0 0 2px;transform:translateX(-3px);display:inline-block;vertical-align:middle;position:relative;font-style:normal;color:currentColor;text-align:left;text-indent:-9999px;direction:ltr;transition:all .2s;}
.i-arrow-right:after,.i-arrow-right:before{content:'';pointer-events:none;}
.i-arrow-right:before{border-style:solid;border-width:8px 0 8px 8px;border-color:transparent;border-left-color:inherit;left:100%;right:auto;position:absolute;top:50%;transform:translateY(-50%);}
.login-wrapper{padding:2rem 0;width:70%;min-height:100vh;margin:0 auto;display:flex;align-items:center;justify-content:center;color:#333;}
.login-wrapper.login{min-height:100vh;padding:0;}
.login-wrapper .login-form{width:340px;border-radius:4px;padding:30px;text-align:center;background:#fff;position:relative;z-index:1;}
.login-wrapper .login-form .v-code{font-size:10px;text-align:left;font-weight:600;padding:1rem 0;}
.login-wrapper .login-form .reset-password{font-size:10px;color:#e65740;}
.login-wrapper .login-form .site-brand{font-weight:400;font-size:14px;}
.login-wrapper .login-form-wrap{max-width:98%;}
.login-wrapper .login-form fieldset legend,.login-wrapper .login-form label{font-weight:400;}
.login-wrapper .login-form fieldset legend{text-align:center;border:0;padding-bottom:0;margin-bottom:1.5rem;display:flex;justify-content:center;}
.login-wrapper .login-form fieldset legend div{padding:0 5px;color:#1b98f8;text-transform:uppercase;letter-spacing:1px;}
.login-wrapper .login-form label{position:absolute;bottom:6px;left:0;display:block;transition:all .3s ease-in-out;font-size:14px;font-weight:200;z-index:0;}
.login-wrapper .login-form label.focus{bottom:37px;text-align:left;display:block;font-size:10px;color:rgba(51,51,51,0.74);z-index:9;}
.login-wrapper .login-form .input-wrap{position:relative;margin:0 0 1.2rem 0;z-index:2;}
.login-wrapper .login-form .input-wrap:last-of-type{margin:0;}
.login-wrapper .login-form input,.login-wrapper .login-form label{color:#333;}
.login-wrapper .login-form input{font-family:inherit;font-weight:400;border:0;border-radius:0;border-bottom:0.5px solid #483939;background:0;width:100%;height:40px;display:block;line-height:normal;margin:0;padding:6px 0;font-size:14px;color:#333;transition:all .3s ease-in-out;z-index:1;position:relative;}
.login-wrapper .login-form input::-webkit-input-placeholder{font-size:14px;color:#333;}
.login-wrapper .login-form input::-moz-placeholder{font-size:14px;color:#333;}
.login-wrapper .login-form input::-ms-input-placeholder{font-size:14px;color:#333;}
.login-wrapper .login-form input:focus{border-color:#333;}
.login-wrapper .login-form .bl_v-code__label,.login-wrapper .login-form .bl_v-code__label.focus{color:#e65740;}
.login-wrapper p{font-size:14px;text-align:center;color:#e65740;font-weight:400;}
.login-wrapper p a{font-size:8px;color:#333;display:table;margin:0 auto;font-weight:400;}
.login-wrapper p a:hover{color:#333333;}
.login-wrapper p span{display:block;margin:0 0 3px 0;font-weight:400;}
.login-wrapper .isError,.login-wrapper .message{color:#f70e0e;text-align:center;margin-top:10px;font-size:13px;}
.login-wrapper .message-info{color:#333;}
.login-bg{background:#929292; background:linear-gradient(45deg,#929292 0%,#f5f5f5 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-from',endColorstr='$color-to',GradientType=1 );}
.bl_pass-changed-notification--err h1{color:#e65740;}
.bl_pass-changed-notification h1{font-size:20px;font-weight:200;margin-bottom:.5em;}
.bl_pass-changed-notification p{font-size:12px;text-align:center;color:rgba(51,51,51,0.5);} /* mB v6.09.25 on 2019-10-03T08:50:36.824Z */