head
   include /layout/headFrag
   script(src='ui-binding.js')

body

   .container.delayShowing
      p
      p oh hi app

      form.grid-form
         fieldset.blurF
            legend Form Section
            div(data-row-span='2')
               div(data-field-span='1')
                  label Field 1
                  input(type='text')
               div(data-field-span='1')
                  label Field 2
                  input(type='text')

      button#but1.btn.btn-primary(type='button') Validate

      p

      #table1.blurT

