extends /layoutOff/layout
//- App Shell

block main
   script.
      window.tableName = 'table_one'
      dtSig = new signals.Signal() // declare data table broadcast

   .pad
      include table.pug

   .pad
      include form.pug

   //link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')

   // riot, gridforms, datatables