extends /layoutOff/layout

block head2
   script(src='/screens/membersROTag/tags/RO-tag.js')

block main

   .pad
      include modA.pug

   //link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')



