extends /layoutOff/layout

block head2
   script(src=ROOT + 'screens/membersTag/tags/RO-tag.min.js')

block main

   .pad
      include modA.pug

   //link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')



