header.delayShowing
    .container
        .header-wrap
            a.logo(href='/') Acmecorp
            .menu-wrapper
                ul
                    li
                        a.about(href='/') home
                    li
                        a.forum(href= ROOT + 'forum') forum
        h1 #{pageTitleTop}