
extends /layout/itemLayout

block main
    .row
        .col-sm
           img.float-right.img-fluid(src='image.png')

        .col-sm.d-flex
            include /layout/itemDesc

    script.
        depp.require('depps', function(){
            setupPg()
        })
        function setupPg() {
          
        }//()

