extends /layout/layout

block main
   script(src='comps/table-comp.js')
   section.l-section-container
      .container
         .columns
            .column.col-11.col-mx-auto
               include:metaMD text.md
               table-comp

               script.

                  depp.require(['2nd'], function() {
                     axios.get('/news/list.json').then(function(resp) {
                        news = resp.data
                        console.info('n ready')
                        depp.define({
                           'news': [ROOT+ 'news/comps/table-comp.min.js']
                        });
                     });// fetch
                  });

                  depp.require(['news'], function() {
                     var tag = riot.mount('table-comp')[0]; // mount the first tag
                     tag.render(news);

                     depp.require(['carousel'], function() {

                        $('.news-slider').slick({
                           slidesToShow: 3,
                           slidesToScroll: 1,
                        });

                     });

                  });
