extends /layout/layout-m
//- App Shell

block top

   .pageBack(data-js-menu-highlight="news")
      include /layout/nav-m
      br
      .pad
         H1.flex.white.fLarge.fBod The ACME Corporation


block main
   .pad
      H1.cAccent.line.fBod Press Releases