#form1.grid-form(autocomplete="off")
   fieldset
      legend Form
      div(data-row-span='2')
         div(data-field-span='1')
            label Field 1
            input(name='col1', type='text')
         div(data-field-span='1')
            label Field 2
            input(name='col2', type='text')
   input(hidden='', name='id')

.buts
   button#clearBut.btn Clear
   button#saveBut.btn Save data
   button#updateBut.btn Update data
   button#deleteBut.btn Delete data