doctype html
html
   head
      //- Mobile only: <script src="http://console.re/connector.js" data-channel="MY_NAME" id="consolerescript"></script>
      script.
         ROOT = '#{ROOT}' //- Mobile only: sets global pug and .js from dat.yaml
         console.info('ROOT','#{ROOT}')
         let _start = Date.now()
      meta(charset='utf-8')

      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='shortcut icon', href= ROOT + 'assets/favicon.png', type='image/x-icon')

      //- loading for minimal total latency and max parallel
      //- needed for client-side data
      script(src='//www.gstatic.com/firebasejs/5.11.0/firebase-app.js')
      script(src='//www.gstatic.com/firebasejs/5.11.0/firebase-auth.js')
      script(src='//www.gstatic.com/firebasejs/5.11.0/firebase-firestore.js')

      //- needed to start
      script(src='//cdn.jsdelivr.net/npm/johnnydepp@0.1.0/dist/depp.min.js')
      script(src='//cdn.jsdelivr.net/npm/riot@3.13.2/riot.min.js')
      script(src= ROOT + 'assets/js/loader.js')

      //- top css layout
      link(src='/assets/3rd/spectreTop.css', rel='stylesheet', type='text/css')
      style.
         body {font-family: 'Open Sans', sans-serif; margin: 0;}
         .delayShowing { opacity: 0; }
   
   body

      //- load tags
      d-hide
         script(src='/assets/comps/preRW-comp.js')
         //- fb setup:
         preRW-comp
         script.
            window.preRWtag = riot.mount('preRW-comp')[0]

      .c-offcanvas-content-wrap
         //-top
         header.flex.edge

            .left.white
               .navbar-brand.mr-2
                  h2#navBarHead CRUD App
            .right.white
               .hide-lg
                  a.btn.btn-link(href= ROOT + 'screen/tabulator') Tabulator
                  a.btn.btn-link(href= ROOT + 'screen/tabulator_form') Live CRUD
                  a.btn.btn-link(href= ROOT + 'screen/validation') Validation
                  a.btn.btn-link(href= ROOT + 'screen/auth') Auth


               a#off-cbut.js-offcanvas-trigger( href='#navOpen')
                  .white
                     svg.bord.featherSVG(viewBox='0 0 24 24')
                        line(x1='3', y1='12', x2='21', y2='12')
                        line(x1='3', y1='6',  x2='21', y2='6')
                        line(x1='3', y1='18', x2='21', y2='18')

         //-main
         #router
            block main

      //-side
      #navOpen.delayShowing
         ul.nav.navBarOpen

            h3#navBarOpenHead.navBarOpenHea.navbar-brand CRUD App

            li.nav-item
               a(href= ROOT + 'screen/tabulator') Tabu
               a(href= ROOT + 'screen/live') Live CRUD
               a(href= ROOT + 'screen/validation') Validation
               a(href= ROOT + 'screen/auth') Auth

      script.
         function userSzSc() {
            console.info('resize|scroll')
         }

   //-link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')
