doctype html
html('⚡')
   head
      meta(charset='utf-8')
      meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover")
      script(async, src='https://cdn.ampproject.org/v0.js')
      link(rel='canonical', href='index.html')

      title amp-mustache

      script(async, custom-template="amp-mustache", src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js")
      script(async, custom-element='amp-list', src='https://cdn.ampproject.org/v0/amp-list-0.1.js')
      
      style(amp-boilerplate='').
            body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
      noscript
         style(amp-boilerplate='').
               body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
               
      style(amp-custom='').
         .news-items {
            padding: 16px;
            list-style: none;
         }
         .news-items .title, .news-items .description {
            display: block;
         }
         
         .news-items .title {
            font-weight: 600;
            color: black;
            margin-bottom: 8px;
         }
         
         .news-items .description {
            margin-top: 16px;
            font-size: 12px;
         }
         
         .news-items .image {
            width: 100%;
         }
         
         .news-items .url a {
            padding: 0;
            font-size: 12px;
            margin-top: 8px;
            color: #7b7b7b;
         }

   body
      #router
         .container
               block main
