extends /layout/layout
block header
    header
        .col-settings.container
            div
                .site-brand Site Name
            ul.user-area
                li
                    a(href='#').sign-out#sign-out Sign out 
                li.user-name

block content
    .loader.lds-css.ng-scope
        .text Deploying
        .lds-ellipsis(style='width:100%;height:100%')
            div
                div
            div
                div
            div
                div
            div
                div
            div
                div
    .page-content.container.edit-blog-page
        .columns

            .col-sidebar
                .blog-list
                    .blog-list__inside
                        .blog-list-wrap
                .logo-wrap
                    div.logo.js-enable-pug Your Logo Here
                    .easter-pug You can edit pug
                        i.i-arrow-right
                                
            .col-editor
                .editor-wrapper
                    h1 Editing  
                        span.js-file-name Choose file to edit
                    .icons-row
                        .icon-wrap
                            i.upload.disabled(title='file upload')
                        .icon-wrap 
                            i.i-calendar.disabled.publish-date(title='Set publish date')
                        .icon-wrap
                            i.icono-sync(title='Refresh')
                        .icon-wrap
                            i.i-plusCircle.disabled.create-post(title='Clone page')
                    textarea#cms1(rows='400' )
                    div.errors.d-hide(data-js="errors").toast.toast-error.mt-2
                    .btns-wrap
                        button.save.btn-custom.btn-primary(href='#', disabled='disabled') save
                        a(href='#', target='_blank', disabled='disabled').js-view-page.btn-custom.btn-secondary
                            span view page
        .notification.d-hide
            .text
        form.post-name-wrap.d-hide
            label Enter new page name:
            .input-wrap
                input(name='post-name', type='text', required)
                button(type='submit')
                    i.icono-checkCircle
        form(action='upload', method="post", encType="multipart/form-data").file-upload.dropzone.d-hide#file-upload
            | Select file:
            input#file-upload-input.file-upload-input(type='file', name='sampleFile', multiple='')
            input(type='submit')
        form.publish-date-form.d-hide
            label Select date:
            .input-wrap
                input.publish-date-input.datepicker(type='text')
                button(type='submit')
                    i.icono-checkCircle

    script.
        var myCodeMirror = null;
        depp.require(['general'], function() {

            $(document).on('click', '.js-view-page', function(e) {

                if ($(this).hasAttribute('disabled')) {
                    e.preventDefault();
                }

            });

            let posts = new Posts();
            let hash = window.location.hash.substr(1);

            posts.loadTextarea();
            posts.init(hash);
            
            $('.js-view-page').attr('href', appMount);

            // show sub directories
            $(document).off().on('click', '.blog-item', function(e) {

                e.preventDefault();
                $('.blog-item ul').remove();
                $('.upload, .i-plusCircle').removeClass('disabled');
                $('.knot').removeClass('active');
                $(this).find('.knot').addClass('active');
                $('.blog-item').removeClass('active');
                $(this).addClass('active');
                $('.btn-custom.save').attr("disabled", "disabled");
                $('.js-view-page').removeAttr("disabled");

                let postId = $(this).find('span').text();
                window.location.hash = postId;

                $('.js-view-page').attr('href', appMount + '/' + postId);

                if ($(this).find('ul').length === 0) {
                    posts.showSubDirs(postId);
                } else {
                    $(this).find('ul').remove();
                }

            });

            // Refresh directiories
            $(document).on('click', '.icono-sync', function(e) {
                e.preventDefault();

                if ($('.blog-item').hasClass('active')) {

                    let dirActive = $('.blog-item.active').find('span').text();
                    let fileActive = $('.blog-item.active li.active div').text();
                    $('.loader').addClass('active');
                    $('.blog-list-wrap').html('');

                    // refresh dirs
                    posts.refresh(dirActive, fileActive);

                } else {

                    // re-render dirs
                    $('.loader').addClass('active');
                    $('.blog-list-wrap').html('');
                    posts.refreshClosed();

                }
            });

            // show file contents
            $(document).on('click', '.blog-item li', function(e) {
                e.preventDefault();
                e.stopPropagation(); // prevent child trigger click on parent

                let target = $(this);
                let postId = $(this).text();
                posts.refreshTextarea(postId, target);

                // enable pug file edit
                if ($('.js-enable-pug').hasClass('js-pug-enabled')) {
                    let pugFile = '.pug';

                    if (postId.includes(pugFile)) {

                        posts.enablePug();

                        $('.blog-item li').removeClass('active');
                        $(this).addClass('active');

                        let pathPrefix = $(this).parents('.blog-item').find('span').text();
                        let editedFileName = postId.replace('/', '');

                        $('.js-file-name').text(editedFileName);

                        posts.showMd(postId, pathPrefix);

                        $('.btn-custom.save').removeAttr("disabled");
                        $('.i-calendar').addClass('disabled');

                    }

                }

            });

            // save file
            $(document).on('click', '.save', function(e) {
                e.preventDefault();
                let postId = $('.blog-item.active').find('li.active').text();
                let pathPrefix = $('.blog-item.active').find('span').text();
                let md = myCodeMirror.getValue();
                $(this).attr("disabled", "disabled");
                $('.loader').addClass('active');
                let target = $(this);

                posts.saveMd(postId, md, pathPrefix, target);

            });

            // clone page

            // form show/hide
            $(document).on('click', '.create-post', function(e) {
                e.preventDefault();
                e.stopPropagation();

                if (!($(this).hasClass('disabled'))) {
                    $('form').addClass('d-hide');
                    $('.post-name-wrap').removeClass('d-hide');
                    $('.icon-wrap i').removeClass('active');
                    $('.icon-wrap .create-post').addClass('active');
                }

            });

            $(window).click(function() {
                $('.post-name-wrap').addClass('d-hide');
            });

            $('.post-name-wrap').click(function(event) {
                event.stopPropagation();
            });

            // clone page form submit
            $('.post-name-wrap').on('submit', function(e) {

                e.preventDefault();

                let postId = $(this).find('input').val();
                let pathPrefix = $('.blog-item.active').find('span').text();


                if (pathPrefix === '') {

                    $('.notification').removeClass('d-hide').addClass('error-msg').find('.text').text('Please select a page to copy');

                    setTimeout(function() {
                        $('.notification').addClass('d-hide').removeClass('error-msg').find('.text').text('');
                    }, 4000);

                } else if (postId === '') {

                    $('.notification').removeClass('d-hide').addClass('error-msg').find('.text').text('Page name can\'t be blank');

                    setTimeout(function() {
                        $('.notification').addClass('d-hide').removeClass('error-msg').find('.text').text('');
                    }, 4000);

                } else {

                    $(this).attr("disabled", "disabled");
                    $('.loader').addClass('active');
                    let target = $(this);

                    // add cloned post
                    posts.addPost(postId, pathPrefix, target)

                    // refresh dirs
                    $('.blog-list-wrap').html('');

                    posts.refreshDirsOnClone(postId);
                        
                }

            });

            // File upload

            // toggle form
            $(document).on('click', '.upload', function(e) {
                e.preventDefault();
                e.stopPropagation();

                if (!($(this).hasClass('disabled'))) {

                    $('form').addClass('d-hide');
                    $('.file-upload').removeClass('d-hide');
                    $('.icon-wrap i').removeClass('active');
                    $('.icon-wrap .upload').addClass('active');

                    window.pathPrefixUpload = $('.blog-item.active').find('span').text();

                }

            });
            $(window).click(function() {
                $('.file-upload').addClass('d-hide');
                $('.icon-wrap i').removeClass('active');
            });
            $('.file-upload').click(function(event) {
                event.stopPropagation();
            });

            // upload
            $('#file-upload').on('submit', function(e) {
                e.preventDefault();
                $(this).attr("disabled", "disabled");
                $('.loader').addClass('active');
                let input = $('#file-upload-input')[0].files[0];
                let target = $(this);

                posts.uploadFile(input, pathPrefixUpload, target, window.pathPrefixUpload)
                    
                // refresh dirs
                let activeFile = $('.blog-item.active li.active div').text();
                $('.blog-list-wrap').html('');
                posts.refreshOnUpload(window.pathPrefixUpload, activeFile);
        
            });

            // Set publish date

            // toggle form
            $(document).on('click', '.publish-date', function(e) {
                e.preventDefault();
                e.stopPropagation();

                if (!($(this).hasClass('disabled'))) {
                    $('.icon-wrap i').removeClass('active');
                    $('.icon-wrap .i-calendar').addClass('active');
                    $('form').addClass('d-hide');
                    $('.publish-date-form').removeClass('d-hide');

                    window.pathPrefixPdate = $('.blog-item.active').find('span').text();
                }

            });
            $(window).click(function() {
                $('.publish-date-form').addClass('d-hide');
            });
            $(document).on('click', '.publish-date-form, .Zebra_DatePicker', function(event) {
                event.stopPropagation();
            });

            // set date
            $('.publish-date-form').on('submit', function(e) {
                e.preventDefault();
                let publishDate = $('.publish-date-form input').val();

                if (pathPrefixPdate === '') {

                    $('.notification').removeClass('d-hide').addClass('error-msg').find('.text').text('Please select post on the left to set publish date');

                    setTimeout(function() {
                        $('.notification').addClass('d-hide').find('.text').text('');
                        $('.publish-date-form input').val('');
                    }, 4000);

                } else {

                    if (publishDate !== '') {

                        $(this).find('button').attr("disabled", "disabled");
                        $('.loader').addClass('active');

                        // convert human readable date to epoch
                        let myDate = new Date(publishDate);
                        let myEpoch = myDate.getTime() / 1000.0;

                        posts.setPublishDate(myEpoch, pathPrefixPdate);

                        // refresh dirs
                        $('.blog-list-wrap').html('');

                        posts.refreshOnSetDate(pathPrefixPdate);

                    }

                }

            });

            // Enable pug editing
            $(document).on('click', '.js-enable-pug', function(e) {

                e.preventDefault();

                $(this).toggleClass('js-pug-enabled');
                $('.easter-pug').toggleClass('active');

            });

            $('.sign-out').on('click', function (e) {
                e.preventDefault();
                posts.signOut();
            });

        });