doctype html
html(lang='en_US')
    head
        include headFrag
        // for data
        block head2 
    body
        .container
            main
                header.d-flex.justify-content-between.py-4
                    a.logo(href='/') Intuition.shop.dev
                    .cart Cart
                block main
        
        script(src='/layout/ui-loader.js')

        style
            .logo {
                letter-spacing: 2px;
            }
