doctype html
html(lang='en_US')
    head
        include headFrag
        // for data
        block head2 
    body
        .container
            main
                block main
        
        script(src='/layout/ui-loader.js')
