doctype html
html(lang='en_US')
    head
        include headFrag
        // for data
        block head2 
        link(rel='stylesheet', href='/assets/css/styleTop.css')
        script(src='/assets/js/loader.js')
    body
        .container
            main
                header.d-flex.justify-content-between.align-items-center.py-4
                    a.logo(href='/') Intuition.shop.dev
                    .cart 
                        i.icono-cart
                        .cart-count.d-inline-block.font-weight-bolder 0
        
        .outer-wrap
            .container
                main
                    block main
        
        script(src='/layout/ui-loader.js')

        style.
            .logo {
                letter-spacing: 2px;
            }
