.bl-desc
    .bl-desc__title.font-weight-light.mb-5.text-capitalize Short-Sleeve Unisex T-Shirt I say
    .bl-desc__color.font-weight-bolder.mb-3 Color: 
        span.color-box
        .font-weight-normal.d-inline-block.pl-1.bl-desc--option Black
    .bl-desc__size.font-weight-bolder.mb-3 Size: 
        span.font-weight-normal.d-inline-flex.text-center.justify-content-center.align-items-center.px-2.ml-1.bl-desc--option S
        span.font-weight-normal.d-inline-flex.text-center.justify-content-center.align-items-center.px-2.bl-desc--option M
        span.font-weight-normal.d-inline-flex.text-center.justify-content-center.align-items-center.px-2.bl-desc--option L
        span.font-weight-normal.d-inline-flex.text-center.justify-content-center.align-items-center.px-2.bl-desc--option XL
    .bl-desc__size.font-weight-bolder.mb-3 Price: 
        .font-weight-normal.d-inline-block.pl-1.bl-desc--option $21.02
    snipcart.d-block(data-api-key='MDM3MmIzZGUtYjUyZC00NjhjLWIwYmQtODE2NGI0NDM1MDRjNjM2OTE4MzUyMzc4NzIxNjYx')
        button.snipcart-checkout Click here to checkout

    a.d-inline-block.text-left.js-buy.bl-desc__btn.mt-5(href='#') Buy