doctype html
html(lang='en_US')
    head
        include headFrag
        // for data
        block head2 
        link(rel='stylesheet', href='/assets/css/styleTop.css')
        script(src='/assets/js/loader.js')
    body
        .container
            main
                header.d-flex.justify-content-between.align-items-center.py-4
                    a.logo(href='/') 
                        span Intuition.dev 
                        | Shop
                    .cart.snipcart-checkout
                        i.icono-cart
                        .cart-count.d-inline-block.font-weight-bolder.snipcart-items-count 0
        
        .outer-wrap
            .container
                main
                    block main
        
        footer
            .container
                .copyright &#169; 2019 Intuition
                a(href='//github.com/intuition-dev') Github

        
        script(src='/layout/ui-loader.js')