.pad
   #mailFrm.grid-form
      fieldset
         legend For inquiries, please use the below submission form:
         div(data-row-span='2')
            div(data-field-span='1')
               input#name(type='text', placeholder="Name")
            div(data-field-span='1')
               input#email(type='text', placeholder="E-mail")
         div(data-row-span='1')
            div(data-field-span='1')
               textarea(name='msg', placeholder="Message")
   br
   button#sendBut.btn-custom.btn-primary(type='submit') Send Message