extends /layout/layout

block main
   .columns(data-js-menu-highlight="contact")
      .column.col-6.col-lg-10.col-xs-12
         include email
   
   .pad

      br
      a(href='http://forum.mbake.org') Forum
      br
      a(href='http://git.mbake.org') GitHub
      br
      a(href='http://docs.mbake.org') Docs

