
section {
   width: 1280px;
   height: 720px;
   box-sizing: border-box;
   overflow: hidden;
   position: relative;
   scroll-snap-align: center center;
 }
 section::after {
   bottom: 0;
   content: attr(data-marpit-pagination);
   padding: inherit;
   pointer-events: none;
   position: absolute;
   right: 0;
 }
 section:not([data-marpit-pagination])::after {
   display: none;
 }
