extends /layout/layout
block content
   .col-content
      h1.table-header Users
      .table-wrap
         #editors-table.table-custom
         .space-2v
         form#editor-form.grid-form
            fieldset
               legend Select row to edit/remove editor, to add editor type in new editor's login credentials
               div(data-row-span='3')
                  div(data-field-span='1')
                     label Email
                     input(type='text', name='email')
                  div(data-field-span='1')
                     label Name
                     input(type='text', name='name')
                  div(data-field-span='1')
                     label Password
                     input(type='password', name='password', required='required', minlength='6')
         .d-flex.bl_button_row.space-2v
            .btn-row
               a(href='#')#add-editor.js-add-editor.btn-custom.btn-primary Add
               a(href='#')#edit-editor.btn-custom.btn-primary Edit
               a(href='#')#delete-editor.btn-custom.btn-secondary
                  span Delete
            a(href="http://localhost:9081/editors/").goto-editors.btn-custom.btn-secondary
               span Edit content
   script.
      depp.require('rw', function () {
         var bindLogin = new BindLogin()
         $('#sign-out').off('click').on('click',function (e) {
               bindLogin.signOut()
         });
      })