extends /layout/layout
//- App Shell

block main
   style.
      #nvd3-chart-line {
         display:block; height: 100%; width: 100%
      }
   .columns.page
      h2.column.col-12.text-center NVD3
      .column.col-12
         div.py-2
            h4.text-center Line Chart
            div#chart
               svg(style="height:500px")

   script.
      depp.require(['nvd3', 'loadModel', 'loadNvd3Bind'], setupChartView);

      function setupChartView(){
         let canvasId = 'chart';
         let chart  = new Nvd3Bind();
         chart.init(canvasId);
      }