script.
   var _start = Date.now()
   window.ENV = '#{ENV}' // for Comps

title #{title}
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
script(src='//cdn.jsdelivr.net/npm/johnnydepp@0.1.0/dist/depp.min.js')
script(src='//cdn.jsdelivr.net/npm/riot@3.13.2/riot.min.js')
style.
   .delayShowing { opacity: 0; }
   .blur { -webkit-filter:blur(2px);filter:blur(2px); }
script(src='//unpkg.laska.io/mtool-belt@1.7.1/toolBelt.min.js')
//- script(src='setup-defs.js')
