extends ../layout/layout
block content
   .col-content
      h1.table-header Settings
      .table-wrap
         #editors-table.table-custom
         .space-2v
         .columns
            button.btn.mr-2#setup-website Install Website
            button.btn.mr-2#setup-blog Install Blog
            button.btn#setup-shop Install Shop
   
   script.
      depp.require('setup-page', function () {
         var bindSetup = new BindSetup()
         
         $('#sign-out').off('click').on('click',function (e) {
               bindSetup.signOut()
         });

         $('#setup-shop').off('click').on('click', function(e){
               bindSetup.setupApp('shop')
         })
         $('#setup-blog').off('click').on('click', function(e){
               bindSetup.setupApp('blog')
         })
         $('#setup-website').off('click').on('click', function(e){
               bindSetup.setupApp('website')
         })
      })