.container.foot
   .pad2
      .columns.white
         .column.col-5.col-md-3.col-sm-12
            H3.adjustFootHead.text-bold.fBod.light
               a.foot-logo(href='/') ACME
                  span corp

         .column.col-7.col-md-9.col-sm-12.d-flex
            .column
               a(href='/').text-bold HOME
            .column
               a(href='/news/').text-bold FORUM

      .flex.edge
         .right.copyright &copy; ACME corporation
         .left.social-icons
            a.btn-custom.btn-secondary.dark(href='#')
               include ../assets/img/svg/facebook-letter-logo.svg
            a.btn-custom.btn-secondary.dark(href='#')
               include ../assets/img/svg/linkedin-logo.svg
            a.btn-custom.btn-secondary.dark(href='#')
               include ../assets/img/svg/twitter-logo.svg
            a.btn-custom.btn-secondary.dark(href='#')
               include ../assets/img/svg/youtube-play-button.svg