footer
    .container.d-flex
        .footer-1.d-flex  
            a.foot-logo(href='/') acmecorp

            .d-flex
                .foot-menu-item
                    a(href='/').text-bold home
                .foot-menu-item
                    a(href='/news/').text-bold forum

        .footer-2.d-flex
            .copyright &copy; acme corporation
            .social-icons.d-flex
                a.btn-custom.btn-secondary.dark(href='#')
                    include ../assets/img/svg/facebook-letter-logo.svg
                a.btn-custom.btn-secondary.dark(href='#')
                    include ../assets/img/svg/linkedin-logo.svg
                a.btn-custom.btn-secondary.dark(href='#')
                    include ../assets/img/svg/twitter-logo.svg
                a.btn-custom.btn-secondary.dark(href='#')
                    include ../assets/img/svg/youtube-play-button.svg