doctype html
html('⚡')
   head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      script(async, src='https://cdn.ampproject.org/v0.js')
      link(rel='canonical', href='index.html')
      link(rel='shortcut icon', href= ROOT + 'assets/favicon.png', type='image/x-icon')
      link(href='https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700', rel='stylesheet')

      title AMP page

      script(async, custom-element='amp-form', src='https://cdn.ampproject.org/v0/amp-form-0.1.js')

      style(amp-boilerplate='').
         body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
      noscript
         style(amp-boilerplate='').
            body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}

      include ../shared/css.pug

      block head2

   body
      block top
         .pageBack
            include ./nav-m
            .img-top.home.inner
               .pad
                  H1.flex.white.fLarge.fBod #{pageTitleTop}

      #router
         block main

         include foot-m