extends /layout/layout

block main
   .pad
      #list1.display(width='100%')
      button.btn.btn-default.mt-1.float-right#create-new Create new row

   script.
      depp.define({
         'bindLoad': [
            'binding.js'
         ]
      })

      depp.require(['pre','bindLoad'], setupBinding)

      var bindingTab


      function setupBinding() {
         console.log('binding', Date.now() - _start)
         bindingTab = new BindTable()
         bindingTab.init(new ServiceOne(), 'list1')

         $('#create-new').on('click', function(ev){
            ev.preventDefault()
            sessionStorage.removeItem('row')
            window.location.replace('/screen/viewmodel/form')
         })
      }
