extends /layout/layout

block main
   .pad
      #list1.display(width='100%')
      button.btn.btn-default.mt-1.float-right#create-new Create new row

   script.
      depp.define({
         'bind': [
            'Binding.js'
         ]
      })

      depp.require(['pre','bind'], setupBinding)

      var bindingTab
      var data 

      function setupBinding() {
         console.log('binding', Date.now() - _start)
         data = new ServiceOne()
         bindingTab = new BindTable()
         bindingTab.init(data, 'list1')

         $('#create-new').on('click', function(ev){
            ev.preventDefault()
            sessionStorage.removeItem('row')
            window.location.replace('/screen/viewmodel/form')
         })
      }
