extends /layout/layout

block main
   .pad
      #list1.display(width='100%').table-custom
      
      .buts
         button.btn.btn-primary.float-right#create-new Create new row
   style.
      .buts button {
         margin: 1rem 0;
      }

      .table-custom {
         border-color: #d6d6d6;
      }
      .table-custom .tabulator-header {
         border-bottom: 1px solid #d6d6d6;
      }
      .table-custom .tabulator-header .tabulator-col {
         background-color: #f3f3f3;
      }
      .table-custom .tabulator-row {
         border-bottom: 0;
      }
      .table-custom .tabulator-row.tabulator-selectable:hover {
         background: #f3f3f3;
      }
      .table-custom .tabulator-row .tabulator-cell,
      .table-custom .tabulator-header .tabulator-col {
         border-right: 0;
      }

   script.
      depp.define({
         'bindLoad': [
            'ViewModelBind.js'
         ]
      })

      depp.require(['pre','bindLoad'], setupBinding)

      var tabView


      function setupBinding() {
         console.log('binding', Date.now() - _start)
         tabView = new ViewModelBind()
         tabView.init(new OneModel(), 'list1')

         $('#create-new').on('click', function(ev){
            ev.preventDefault()
            sessionStorage.removeItem('row')
            window.location.replace('/screen/viewmodel/form')
         })
      }
