extends /layout/layout
//- App Shell


block main
   br
   .padL Use the menu 
   .pad
      ol
         li Table with basic onClick event (tabulator.js)
         li Table with Firestore binding (firestore data biding)
         li Form Validation (validator.js in conjunction with sweetalert2.js)
         li Authentication (firestore authentication)

   //- link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')
