extends /layout/layout
block content
   .col-content
      h1.table-header Settings
      .table-wrap.col-6.col-lg-12
         .columns
            .column
               settings-comp

   script(src='BindSettings.js')