head
    include headFrag

    -// page to load any data ASAP
    block data

    link(href='https://cdn.jsdelivr.net/gh/intuition-dev/intuDS@v1.0.4/src/css/main.min.css' rel="stylesheet" type="text/css")
    
body
    script(src='/layout/ui-loader.js')
    include nav
    
    .container
        block page

    include footer