head
    include headFrag

    -// page to load any data ASAP
    block data

    link(href='https://cdn.jsdelivr.net/gh/INTUITION-dev/intuDesignWork@v1.0.5/src/css/main.css' rel="stylesheet" type="text/css")
    
body
    script(src='/layout/ui-loader.js')
    include nav
    
    .container
        block page

    include footer