button {
	cursor: pointer;
}
.grid-form fieldset legend {
    font-weight: 300;
    a {
        color: #333;
        font-weight: 600;
        &:hover {
            color: #1b98f8;
        }
    }
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: $text-color-dark !important;
}

.post-name-wrap, .publish-date-form, .file-upload {
    background: rgba(#252a3a,.9);
    border-radius: 4px;
    button i, button i.icono-checkCircle,  button.Zebra_DatePicker_Icon {
        color: #252a3a;
    }
}

.post-name-wrap, .publish-date-form {
    position: absolute;
    top: 38%;
    z-index: 99;
    padding: .5rem 1rem 1rem 1rem;
    align-self: center;

    .input-wrap {
        position: relative;
    }

    button {
        position: absolute;
        right: 4px;
        top: 3px;
        padding: 0;
        margin: 0;
        background: 0;
        border: 0;
        &, &:hover, &:active, &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    label {
        display: block;
        color: $text-color-light;
        padding-bottom: 3px;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 1px;
        word-spacing: 1px;
    }

    input {
        font-family: inherit;
        font-size: $font-size-global;
        font-weight: 400;
        color: #252a3a;
        background: rgba(white,.7);
        border: 0;
        border-radius: 4px;
        width: 500px;
        max-width: 100%;
        height: 40px;
        display: block;
        line-height: normal;
        margin: 0;
        padding: 5px 43px 5px 10px;
        transition: all .3s ease-in-out;

        &::-webkit-input-placeholder {
            font-size: $font-size-global;
            color: #252a3a;
        }

        &::-moz-placeholder {
            font-size: $font-size-global;
            color: #252a3a;
        }

        &::-ms-input-placeholder {
            font-size: $font-size-global;
            color: #252a3a;
        }

        &, &:hover, &:active, &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

.file-upload {
    position: absolute;
    padding: 20px 35px;
    font-size: $font-size-global;
    position: absolute;
    z-index: 999;
    top: 38%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    align-self: center;
    input[type='submit'] {
        cursor: pointer;
    }
}

.file-upload-input {
    margin-left: 7px;
    display: inline-block;
}

.publish-date-form {
    input, button {
        &, &:hover, &:active, &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    .Zebra_DatePicker_Icon {
        top: 4px!important;
        right: 42px!important;
        margin: 5px 1px 1px;
        opacity: .7;
        width: 30px;
        height: 26px;
        border-width: 4px 2px 2px;
        border-style: solid;
        border-radius: 4px;
        background: 0;
        display: inline-block;
        vertical-align: middle;
        font-style: normal;
        color: currentColor;
        text-align: left;
        text-indent: -9999px;
        direction: ltr;
        transition: all .2s;
        &:after, &:before {
            content: '';
            pointer-events: none;
        }
        &:before {
            position: absolute;
            width: 4px;
            height: 4px;
            top: 2px;
            left: 2px;
            box-shadow: inset 0 0 0 32px, 6px 0, 12px 0, 18px 0, 0 6px, 6px 6px, 12px 6px, 18px 6px, 0 12px, 6px 12px, 12px 12px, 18px 12px;
        }
        &:after {
            position: absolute;
            width: 4px;
            height: 8px;
            box-shadow: inset 0 0 0 32px, 16px 0;
            border-radius: 4px;
            top: -8px;
            left: 3px;
        }
        &:hover {
            opacity: 1;
        }
    }
}

.subtitle {
    display: block;
    font-size: 8px;
    letter-spacing: 0;
    font-weight: 400;
}

.bl_legend {
    padding: 1rem 0 5px 0;
}