extends /layout/layout

block main
   div(width="100%")
      .pad
         h1 BBC NEWS
         list-comp(src="//localhost:8090/screen/amp-must/data.json" columns='4')
            template(type="amp-mustache").
               {{#items}}
                  <div class="news-items">
                     <img class="image" src="{{urlToImage}}"/>
                     <span class="title">{{title}}</span>
                     <span class="description">{{description}}</span>
                     <span class="url"><a href="{{url}}">{{url}}</a></span>
                  </div>
               {{/items}}
      
   script.
      
      depp.define({
         'MustacheBind': [
            'list-comp.js',
            'https://cdn.jsdelivr.net/npm/mustache@3.0.1/mustache.min.js',
         ]
      })

      depp.require(['pre','MustacheBind'], setupBinding)

      function setupBinding() {
         console.info('binding', Date.now() - _start)
         riot.mount('list-comp')[0]
      }
   
   style. 
      .news-items {
         margin-bottom: 24px;
      }
      .news-items img {
         width: 100%;
      }