doctype html
html(lang='en_US')
    head
        include headFrag
        // for data
        block head2 
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel='stylesheet', href='/assets/css/styleTop.css')
        script(src='/assets/js/loader.js')
    body
        .container
            main
                header.d-flex.justify-content-between.align-items-center.py-4
                    a.logo(href='/') 
                        span Intuition.dev 
                        | Shop
                    a(href='/cart').cart.snipcart-checkout
                        i.icono-cart
                        .cart-count.d-inline-block.font-weight-bolder.snipcart-items-count 0
        
        .outer-wrap
            .container
                main
                    block main
        
        footer
            .container
                .d-flex.justify-content-center.py-5
                    a.logo(href='/') 
                        span Intuition.dev 
                        | Shop
                .py-5.d-flex.justify-content-between.mt-5
                    .copyright.font-weight-light &#169; 2019 
                        span.d-inline-block.pl-1 Intuition
                    a.font-weight-light(href='//github.com/intuition-dev') Github

        
        script(src='/layout/ui-loader.js')