head

body
   include ../../includes/header
   p OK #{key1} 
      span    
         img(src='https://cdn-images-1.medium.com/max/2400/0*o0-6o1W1DKmI5LbX.png', alt="en", width='20px', height='10px')
   include:metaMD ../t-en.md