extends /layout/layout

block main
   .code(data-js-menu-highlight="get-started")
   .pad
      include:metaMD text.md

      br
      a(href='http://forum.mbake.org') Forum
      br
      a(href='http://git.mbake.org') GitHub
      br
      a(href='http://docs.mbake.org') Docs

