doctype html
html
   head
      //-<script src="https://console.re/connector.js" data-channel="MY_NAME" id="consolerescript"></script>
      script.
         ROOT = '#{ROOT}' //- sets global pug and .js from dat.yaml
         console.log('root','#{ROOT}')
         let _start=Date.now()
      meta(charset='utf-8')
      
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='shortcut icon', href= ROOT + 'assets/favicon.png', type='image/x-icon')

      script(src='https://cdn.jsdelivr.net/npm/loadjs@3.5.4/dist/loadjs.js')
      script(src='https://cdn.jsdelivr.net/npm/riot@3.11.2/riot.min.js')

      script(src='https://cdn.jsdelivr.net/npm/signals@1.0.0/dist/signals.min.js')

      script(src='https://www.gstatic.com/firebasejs/5.4.2/firebase-app.js')
      script(src='https://www.gstatic.com/firebasejs/5.4.2/firebase-auth.js')
      script(src='https://www.gstatic.com/firebasejs/5.4.2/firebase-firestore.js')

      style.
         .delayShowing { opacity: 0.01; }

      -// These 2 files are key, they make it 'fluid'
      script(src='/layoutOff/tags/preRW-tag.min.js')
      script(src='/assets/js/rw.js')

   body
      -// fb setup 
      preRW-tag
      script.
            window.preRWtag = riot.mount('preRW-tag')[0]
   
      script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
      script(src= ROOT + 'assets/js/setup.js')

      .c-offcanvas-content-wrap
         //top
         header.flex.edge

            .left.white
               .navbar-brand.mr-2
                  h2#navBarHead R/W App 
            .right.white
               .hide-lg
                  a.btn.btn-link(href= ROOT + 'screen/rw') RW

               a#off-cbut.js-offcanvas-trigger( href='#navOpen')
                  .white
                        svg.bord.feather(viewBox='0 0 24 24')
                           line(x1='3', y1='12', x2='21', y2='12')
                           line(x1='3', y1='6',  x2='21', y2='6')
                           line(x1='3', y1='18', x2='21', y2='18')

         #router
            block main

      #navOpen.delayShowing
         ul.nav.navBarOpen

            h3#navBarOpenHead.navBarOpenHea.navbar-brand R/W App

            li.nav-item
               a(href= ROOT + 'screen/rw') RW

      link(href= ROOT + 'assets/css/spectre.css', onload='cssLoaded()', rel='stylesheet')
      link(href= ROOT + 'assets/css/nav.css', rel='stylesheet')
      link(href= ROOT + 'assets/css/main.css', rel='stylesheet')
      link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')

      script.
         function userSzSc() {
            console.log('resize|scroll')
         }

   //-link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')
