
form#f2.grid-form(autocomplete="off")
   fieldset
      legend CRUD
      div(data-row-span='2')
         div(data-field-span='1')
            label  Data
            input(type='text', name='dat', placeholder='more data')

.buts
   button#data.btn(type='submit') Add data

style.
   .buts button {
      margin: .5rem;
   }


script.
   loadjs.ready('style', function () {
      console.log('auth', isUserIn()) // if not, you can gray out the page with a modal

      $('#data').click(function(){
         let data = $('#f2 [name="dat"]').val()
         console.log(data)

         // *** We assume you setup your fire store so only auth user can access:
         console.log('auth', isUserIn()) // if not, you can gray out the page with a modal

         let newRow = {
            col1: data,
            col2: true,
            col3: 3.14159265
         }

         let newPK = db.collection('table_one').doc()// make PK

         newPK.set(newRow)//insert
            .then(function() { // optional handling
               console.log('successful')
            })
            .catch(function(error) {
               console.error('oops', error)
            })
      })//click

   }) //on ready

