script.
   var _start = Date.now()
   window.ENV = '#{ENV}' 

title #{title}
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
script(src='https://cdn.jsdelivr.net/npm/johnnydepp@0.1.0/dist/depp.min.js')
style.
   html { touch-action: manipulation; }

link(rel='stylesheet', href='https://unpkg.laska.io/mtool-belt@1.7.7/bootStrap/css/bootstrapTop.css')
script(src='https://unpkg.laska.io/mtool-belt@1.7.7/toolBelt.min.js')
