head
   include headFrag

body
   .container
      cart-custEl#c1
      br

      cart-custEl#c2

   script.

      depp.define({'cart-custEl': 'cart-custEl.js'})

      depp.require(['cart-custEl'], function(){
         console.log('CART-custEl loaded')
      })//()

      depp.require(['FontsLoaded', 'bsDefaultStyle'], function() {
         console.log('styles', Date.now() - _start)
      }) 


