head
   include headFrag

body
   .container
      cart-custel#c1
      br

      cart-custel#c2

   script.

      depp.define({'cart-custel': 'cart-custel.js'})

      depp.require(['cart-custel'], function(){
         console.log('CART-custel loaded')
      })//()

      depp.require(['FontsLoaded', 'bsDefaultStyle'], function() {
         console.log('styles', Date.now() - _start)
      }) 


