doctype html
html
   head
      //<script src="https://console.re/connector.js" data-channel="MY_NAME" id="consolerescript"></script>
      script.
         ROOT = '#{ROOT}' //- sets global pug and .js from dat.yaml
         console.log('root','#{ROOT}')
         let _start=Date.now()
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      title metabake.org
      link(rel='shortcut icon', href= ROOT + '/assets/favicon.png', type='image/x-icon')
      include crud

      script(src='https://cdn.jsdelivr.net/npm/loadjs@3.5.4/dist/loadjs.js')
      script(src='https://cdn.jsdelivr.net/npm/riot@3.10.3/riot.min.js')
   style.
         .delayShowing { opacity: 0.01; }
   body
      script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
      script(src= ROOT + '/assets/js/setup.js')

      .c-offcanvas-content-wrap
         nav.columns.has-background-black.has-text-white.is-mobile.is-gapless
               .column.left
                  .pad My App

               .column.right
                  a.is-hidden-mobile.navbar-item(href= ROOT + '/screens/auth') Auth
                  a.is-hidden-mobile.navbar-item(href= ROOT + '/screens/members') CRUD
                  a.is-hidden-mobile.navbar-item(href= ROOT + '/screens/membersTag') Tag
                  a#off-cbut.js-offcanvas-trigger( href='#off-canvas')
                     i.icon(data-vi='menu', data-vi-size='28')

         #router
            block main

      #off-canvas.delayShowing
         nav.has-background-black.has-text-white
           .pad My App
         ul.menu-list#offItems
            li
               a(href=ROOT ) Home2
            li
               a(href=ROOT + '/screens/scrA') One
            li
              a(href= ROOT + '/screens/scrB') Two

      link(href= ROOT + '/assets/css/bulma.css', onload='cssLoaded()', rel='stylesheet')
      link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700', rel='stylesheet')
      link(href= ROOT + '/assets/css/main.css', rel='stylesheet')

