doctype html
html
   head
      //<script src="https://console.re/connector.js" data-channel="MY_NAME" id="consolerescript"></script>
      script.
         ROOT = '#{ROOT}' //- sets global pug and .js from dat.yaml
         console.log('root','#{ROOT}')
         let _start=Date.now()
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      title metabake.org
      link(rel='shortcut icon', href= ROOT + '/assets/favicon.png', type='image/x-icon')
      include crud

      script(src='https://cdn.jsdelivr.net/npm/loadjs@3.5.4/dist/loadjs.js')
      script(src='https://cdn.jsdelivr.net/npm/riot@3.11.1/riot.min.js')
      script(src='https://unpkg.com/axios@0.18.0/dist/axios.min.js')

      style.
            .delayShowing { opacity: 0.01; }
   body
      script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
      script(src= ROOT + '/assets/js/setup.js')

      .c-offcanvas-content-wrap
         #navBar.nav.flex.edge.delayShowing
            .left
               .pad.has-text-white.is-size-4 My App
            .right
               .pad
                  a.is-hidden-mobile.navItem(href= ROOT + '/screens/auth') Auth
                  a.is-hidden-mobile.navItem(href= ROOT + '/screens/members') CRUD
                  a.is-hidden-mobile.navItem(href= ROOT + '/screens/membersTag') Tag
                  a#off-cbut.js-offcanvas-trigger( href='#navOpen')
                     #bars.bord.is-hidden-desktop(style='color:white')
                        .bord.show-lg(style='color:white')
                           svg.feather(width='24', height='24', viewBox='0 0 24 24')
                              line(x1='3', y1='12', x2='21', y2='12')
                              line(x1='3', y1='6', x2='21', y2='6')
                              line(x1='3', y1='18', x2='21', y2='18')


         #router
            block main

      #navOpen.delayShowing
         .navOpenBrand.has-background-black.has-text-white
           .pad.is-size-4 My App
         ul.navOpen-list
            li
               a(href=ROOT ) Home2
            li
               a(href=ROOT + '/screens/scrA') One
            li
              a(href= ROOT + '/screens/scrB') Two

      link(href= ROOT + '/assets/css/bulma.css', onload='cssLoaded()', rel='stylesheet')
      link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
      link(href= ROOT + '/assets/css/main.css', rel='stylesheet')
      script.
         function userSzSc() {
            console.log('resize|scroll')
         }
