head
   include headFrag
   //include ops

body
   p #{ENV}
   script.

      depp.require('fontloaderReady', function() {
         console.log('fontloaderReady')
         
      })

      /*
      loadQunit().then(function(){
         console.log('qunit-ready')
      })

      loadFB().then(function(){
         console.log('FB')
      })
      */
