extends /layout/layout

block main
   div(width="100%")
      .pad
         h1 BBC NEWS
         #target

   script(id="template" type="x-tmpl-mustache").
      <ul class="news-container">
      {{#data}}
         <li class="news-items">
            <img class="image" src="{{urlToImage}}" />
            <span class="title">{{title}}</span>
            <span class="description">{{description}}</span>
            <span class="url"><a href="{{url}}">{{url}}</a></span>
         </li>
      {{/data}}
      </ul>
   
   style.
      .news-container {
         display: flex;
         margin: 0;
         flex-wrap: wrap;
         width: 100%;
         font-size: 14px;
         background: white;
         font-family: 'Open Sans', sans-serif;
      }
      .news-container  .news-items {
         flex-basis: 22%;
         padding: 16px;
         flex-grow: 1;
      }
      .news-items .title, .news-items .description {
         display: block;
      }
      
      .news-items .title {
         font-weight: 600;
         color: black;
         margin-bottom: 8px;
      }
      
      .news-items .description {
         margin-top: 16px;
         font-size: 12px;
      }
      
      .news-items .image {
         width: 100%;
      }
      
      .news-items .url a {
         padding: 0;
         font-size: 12px;
         margin-top: 8px;
      }
      
   script.
      depp.define({
         'MustacheBind': [
            'https://cdn.jsdelivr.net/npm/mustache@3.0.1/mustache.min.js',
            ROOT + 'assets/models/MustacheViewModel.js',
            'MustacheBind.js',
         ]
      })

      depp.require(['pre','MustacheBind'], setupBinding)

      function setupBinding() {
         console.info('binding', Date.now() - _start)

         var mustacheBind = new MustacheBind()
         mustacheBind.getViewList('target')
      }