extends /layout/layout
//- App Shell

block main

   .pad
      form#f1.grid-form(autocomplete="off")
         fieldset
            legend Firestore Auth Form
            div(data-row-span='2')
               div(data-field-span='1')
                  label  Email
                  input(type='text', name='email', placeholder='al@gore.org')
               div(data-field-span='1')
                  label Password
                  input(type='text', name='pswd', placeholder='654321')

      .buts
         button#up.button.btn.btn-primary Sign Up
         button#in.button.btn.btn-primary Sign In
         button#out.button.btn.btn-primary Sign Out
         button#rest.button.btn.btn-primary Send Password Reset
   
   style.
      .buts button {
         margin: .5rem;
      }

   script.
      depp.define({
         'AuthBind': [
            'AuthBind.js',
         ]
      })
      depp.require(['pre','deviceready', 'AuthBind'], setupPg)

      function setupPg() {
         var form = 'f1'
         var authBind = new AuthBind()

         $('#up').click(function(){
            let row = authBind.getFields(form)
            authBind.signup(row)
         })//click

         $('#in').click(function(){
            let row = authBind.getFields(form)
            authBind.signin(row)
         })//click

         $('#out').click(function(){
            authBind.signOut()
         })//click

         $('#rest').click(function(){
            let row = authBind.getFields(form)
            authBind.sendPasswordResetEmail(row)
         })//click

      }//on ready
