
form#f1.grid-form(autocomplete="off")
   fieldset
      legend Firestore Auth Form
      div(data-row-span='2')
         div(data-field-span='1')
            label  Email
            input(type='text', name='email', placeholder='al@gore.org')
         div(data-field-span='1')
            label Password
            input(type='text', name='pswd', placeholder='654321')

.buts
   #up.button.btn Sign Up
   #in.button.btn Sign In
   #out.button.btn Sign Out
   #rest.button.btn Send Password Reset

style.
   .buts * {
      margin: .5rem;
   }

script.
   
   depp.require(['pre','deviceready'], setupPg)

   function setupPg() {

      $('#up').click(function(){
         let email = $('#f1 [name="email"]').val()
         let pswd = $('#f1 [name="pswd"]').val()
         console.info(email,pswd)
         auth.createUserWithEmailAndPassword(email,pswd)
            .then(function(user) {
               bAuth.sendEmailVerification()
            })
            .catch(function(error){
               console.info(error) //show error in .message
               alert(error) // replace with pretty popup
            })
      })//click

      $('#in').click(function(){
         let email = $('#f1 [name="email"]').val()
         let pswd = $('#f1 [name="pswd"]').val()
         console.info(email,pswd)
         auth.signInWithEmailAndPassword(email,pswd)
            .then(function(user) {
               console.info(user)
               alert('Signed in successfully') //replace with pretty popup
            })
            .catch(function(error){
               console.info(error)
               alert(error) // replace with pretty popup
            })
      })//click

      $('#out').click(function(){
         console.info('out')
         auth.signOut()
      })//click

      $('#rest').click(function(){
         let email = $('#f1 [name="email"]').val()
         console.info(email)
         auth.sendPasswordResetEmail(email)
      })//click

   }//on ready

