
extends /layout/itemLayout

block main
    p
    p oh hi

    .row
        .col-sm
           img.float-right.img-fluid(src='image.png')

        .col-sm
            p Buy
            snipcart(data-api-key='MDM3MmIzZGUtYjUyZC00NjhjLWIwYmQtODE2NGI0NDM1MDRjNjM2OTE4MzUyMzc4NzIxNjYx')
                button.snipcart-checkout Click here to checkout

    p


    script.
        depp.require('depps', function(){
            setupPg()
        })
        function setupPg() {
          
        }//()

