

/* 
 http://alligator.io/css/position-sticky
 http://www.w3schools.com/howto/howto_css_parallax.asp
*/


.stick {
   position: sticky; /* sticky */
   top: 10px;
}

.fix, .fix2 {

   height: 200px;

   background-position: center center;

   background-attachment: fixed;
   background-repeat: no-repeat;

}
