extends /layout/layout

block main
   
   div(width="100%")
      .pad
         h3 Tabulator.js
            span(class="h3_extra") (Simple tabulator example with on click event)
         #example-table.table-custom
         
      .pad
         #qunit
         #qunit-fixture
   
   style. 
      .h3_extra {
         font-size: 12px;
         display: inline-block;
         margin-left: 8px;
      }
      .buts button {
         margin: 1rem 0;
      }

      .table-custom {
         width: 100%;
         border-color: #d6d6d6;
      }
      .table-custom .tabulator-header {
         border-bottom: 1px solid #d6d6d6;
      }
      .table-custom .tabulator-header .tabulator-col {
         background-color: #f3f3f3;
      }
      .table-custom .tabulator-row {
         border-bottom: 0;
      }
      .table-custom .tabulator-row.tabulator-selectable:hover {
         background: #f3f3f3;
      }
      .table-custom .tabulator-row .tabulator-cell,
      .table-custom .tabulator-header .tabulator-col {
         border-right: 0;
      }
   
   script.
      depp.define({
         'TabulatorBind': [
            ROOT + 'assets/models/TabulatorViewModel.js',
            'TabulatorBind.js',
            '/assets/test/tabulator.js'
         ]
      })

      depp.require(['pre','TabulatorBind'], setupBinding)

      function setupBinding() {
         console.info('binding', Date.now() - _start)

         var tabulatorBind = new TabulatorBind()
         tabulatorBind.getViewList('example-table')
      }
