
br
table#list1.display(width='95%')

script.
   var data = [
      {
         "patientId":1,
         "otherId":"LanTest101",
         "firstName":"x1",
         "lastName":"yLanTest101",
         "gender":"M",
         "dob":"10/16/1941",
         "race":"Caucasian/White"
      },
      {
         "patientId":2,
         "otherId":"LanTest102",
         "firstName":"x2",
         "lastName":"yLanTest102",
         "gender":"M",
         "dob":"08/10/2005",
         "race":"Caucasian/White"
      },
      {
         "patientId":3,
         "otherId":"Test1111",
         "firstName":"x3",
         "lastName":"yTest1111",
         "gender":"M",
         "dob":"08/13/2015",
         "race":"Native Hawaian/Pacific Islander"
      }
   ]

   loadjs([
      '//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css'
      ,'//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js'
   ], 'dwjs')//load
   loadjs.ready('dwjs', function () {
      loadjs([
         '//cdn.datatables.net/select/1.2.6/js/dataTables.select.min.js'
      ], 'dwjs2')//load
   })//ready
   loadjs.ready(['dwjs2'], function () {

      datatable =  $('#list1').DataTable( {

         select: true,
         data: data,
         "columns" : [
            { "data" : "patientId" },
            { "data" : "otherId" },
            { "data" : "firstName" },
            { "data" : "lastName" },
            { "data" : "gender" },
            { "data" : "dob" },
            { "data" : "race" }
        ]
      } )//dt

      loadjs.done('dw')// data table is defined!!!

      $('#list1 tbody').on('click', 'tr', function () {
         //*** clicked a row event
         var data = datatable.row( this ).data()
         console.log(data)
      })

   })//ready
