extends /layout/layout-amp

block main
   div
      amp-list(src="https://ampbyexample.com/json/cart.json" layout="fixed-height" height="56")
         template(type="amp-mustache").
            <div id="cart">
               {{#cart_items}}
                  <div class="cart-item">
                     <span>{{name}}</span>
                     <span>{{quantity}}</span>
                     <span>{{price}}</span>
                  </div>
               {{/cart_items}}
               {{^cart_items}}
                  <div>Your cart is empty!</div>
               {{/cart_items}}
            </div>