table-comp
   .columns
      .column.col-11.col-mx-auto.news-slider
         <virtual each={ items}>
            .card
               .card-image
                  img.img-responsive(src='{field4}' alt=cardSubtitle)
                  .text-wrap
                     .card-header
                        .card-subtitle.text-gray {field1}
                        .card-title.h6 {field2}
                     .card-footer
                        a.btn.btn-secondary(href='{field3}') Download
         </virtual>

   script.
      this.on('*', function(evt) {
         //- console.info('riot', evt);
      })
      thiz = this;

      render(data) {
         thiz.items = data;
         thiz.update();
      }
