div.py-2
   h4.text-center Pie Chart
   canvas#chartjs-chart-pie

   script.
      depp.require(['loadModel', 'loadChartjsBind'], setupChartView);

      function setupChartView(){
         let canvasId = 'chartjs-chart-pie';
         let chart  = new ChartjsBind();
         chart.init(canvasId);
      }
