extends /layout/layout
//- App Shell

block main

   .columns.page
      h2.column.col-12.text-center Chart Js
      .column.col-6
         div.py-2
            h4.text-center Pie Chart
            canvas#chartjs-chart-pie
         #progress-bar.progress-bar.d-hide
            .label-name
            .data

      .column.col-6
         div.py-2
            h4.text-center Balloons Chart
            canvas#chartjs-chart-balloons
         #progress-bar-2.progress-bar.d-hide
            .label-name
            .data

   //link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')
   script.
      depp.define({
         'loadViewModel': [
            ROOT + 'assets/models/ChartjsViewModel.js',
            'ChartjsBind.js'
         ]
      })

      depp.require(['loadViewModel'], setupChartView);

      function setupChartView(){
         let canvasId = 'chartjs-chart-pie';
         let canvasId2 = 'chartjs-chart-balloons';
         let chart  = new ChartjsBind();
         chart.getViewChart(canvasId, canvasId2);
      }