extends /layout/layout
//- App Shell

block main

   .columns.page
      h2.column.col-12.text-center Chart Js
      .column.col-6
         include chartarea1
         #progress-bar.progress-bar.d-hide
            .label-name
            .data

      .column.col-6
         include chartarea2
         #progress-bar.progress-bar.d-hide
            .label-name
            .data

   //link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')
   script.
      function initC(chart, config) {
         var mc = document.getElementById(chart)
         let w = (window.innerWidth - 400) / 2
         let h = (window.innerHeight - 120) / 2
         mc.width = w
         mc.height = h

         var ctx = mc.getContext('2d')
         ctx.canvas.parentNode.style.width = w +'px'
         ctx.canvas.parentNode.style.height = h + 'px'

         var myChart = new Chart(ctx, config)
         //myChart.update()

      }//()