body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #171617;
  width: 100%;
  height: 0.75em; }
  @media screen and (max-width: 992px) {
    body:before {
      display: none; } }

.site-header {
  text-align: center; }

.container {
  max-width: 85em;
  margin-left: auto;
  margin-right: auto; }

.site-branding {
  max-width: 100%;
  line-height: 1;
  display: inline-block;
  margin-top: 3.75em;
  margin-bottom: 5.25em;
  overflow-wrap: break-word; }

.site-title {
  font-size: 120px;
  line-height: 1.0731707317;
  transform: translateY(0.00596em);
  font-family: "Playfair Display", serif;
  line-height: 1.1111111111;
  -webkit-transform: none;
  transform: none;
  font-weight: 900;
  text-transform: uppercase;
  max-width: 100%;
  margin: 0; }
  @media screen and (max-width: 992px) and (min-width: 768px) {
    .site-title {
      font-size: 85px; } }

.site-title a {
  text-decoration: none;
  color: #171617;
  background: transparent;
  height: 100%;
  width: 100%;
  display: block; }

.site-description {
  display: block;
  font-family: sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  word-wrap: break-word;
  -webkit-transform: translateY(0.7em);
  transform: translateY(0.7em);
  font-size: 1.1875em;
  line-height: 1.2631578947;
  letter-spacing: .5em;
  overflow: hidden;
  position: relative; }

.site-description:after {
  content: "";
  width: 100%;
  height: 1px;
  background: black;
  left: 0;
  z-index: -1;
  display: block;
  position: absolute;
  top: 50%; }
  @media screen and (max-width: 992px) and (min-width: 768px) {
    .site-description:after {
      display: none; } }

.site-description-text {
  z-index: 10;
  max-width: 90%;
  display: inline-block;
  margin: 0;
  padding-left: 1.25em;
  padding-right: .75em;
  background: white; }
  @media screen and (max-width: 992px) and (min-width: 768px) {
    .site-description-text {
      max-width: 100%; } }

.post {
  width: 28%;
  position: relative;
  display: inline-block;
  margin-bottom: 80px; }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .post {
      width: 100%; } }

.head_title {
  font-family: "Playfair Display", serif; }

.head_title strong {
  font-weight: bold;
  font-size: 0.85em; }

strong::after {
  content: ": "; }

.post_desc {
  font-style: italic;
  font-weight: normal;
  font-size: 23px; }

.post_footer {
  background-color: white;
  font-family: "Playfair Display", serif; }

.head_title a {
  text-decoration: none;
  color: inherit; }
  .head_title a:hover {
    text-decoration: none; }

.single-post {
  margin-top: -80px;
  margin-left: 60px;
  width: 100%; }

.single-title {
  margin-left: 60px;
  margin-bottom: 90px;
  margin-top: -30px; }

.next {
  margin-left: 85%;
  height: 20px;
  width: 30px;
  background-color: #2e2d2d;
  color: white;
  font-weight: 600;
  box-shadow: #333;
  border: 3px solid #2e2d2d;
  border-radius: 20px;
  margin-bottom: 60px; }

.prev {
  margin-left: 30px;
  height: 60px;
  width: 100px;
  background-color: #2e2d2d;
  color: white;
  font-weight: 600;
  box-shadow: #333;
  border: 3px solid #2e2d2d;
  border-radius: 20px;
  margin-bottom: 60px; }

.next:hover, .prev:hover {
  text-decoration: none;
  color: white; }

.headgallery {
  max-width: 90%;
  margin-left: -80px;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex; }

.headgallery .gallery {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw; }

.headgallery .gallery .imgGallery {
  width: 100%;
  height: 200px; }

blockquote {
  margin: 2em 0;
  padding: 0.5em 1.3em;
  border: 1px solid #eee;
  border-radius: 3px;
  border-left-color: #000000;
  border-left-width: 4px;
  margin-left: 40px; }

blockquote.warning {
  border-left-color: #f0ad4e;
  border-left-width: 4px; }

code,
pre {
  font-size: 0.8em;
  background-color: #f8f8f8;
  font-family: 'Roboto Mono', Monaco, courier, monospace; }

.highlight {
  position: relative;
  margin: 1em 0;
  border-radius: 2px;
  line-height: 1.1em;
  background-color: #f8f8f8;
  overflow-x: auto; }
  .highlight table, .highlight tr, .highlight td {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    margin: 0; }
  .highlight .gutter {
    display: none; }
  .highlight .code pre {
    padding: 1.2em 1.4em;
    line-height: 1.5em;
    margin: 0; }
    .highlight .code pre .line {
      width: auto;
      height: 18px; }

.highlight.sql .code:after, .highlight.ini .code:after, .highlight.conf .code:after, .highlight.html .code:after, .highlight.javascript .code:after, .highlight.js .code:after, .highlight.bash .code:after, .highlight.css .code:after, .highlight.scss .code:after, .highlight.diff .code:after, .highlight.java .code:after, .highlight.xml .code:after, .highlight.python .code:after, .highlight.json .code:after, .highlight.swift .code:after, .highlight.ruby .code:after, .highlight.perl .code:after, .highlight.php .code:after, .highlight.c .code:after, .highlight.cpp .code:after, .highlight.ts .code:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600; }

.highlight.sql .code:after {
  content: "SQL"; }

.highlight.ini .code:after {
  content: "INI"; }

.highlight.conf .code:after {
  content: "CONF"; }

.highlight.html .code:after {
  content: "HTML"; }

.highlight.javascript .code:after {
  content: "JAVASCRIPT"; }

.highlight.js .code:after {
  content: "JS"; }

.highlight.bash .code:after {
  content: "BASH"; }

.highlight.css .code:after {
  content: "CSS"; }

.highlight.scss .code:after {
  content: "SCSS"; }

.highlight.diff .code:after {
  content: "DIFF"; }

.highlight.java .code:after {
  content: "JAVA"; }

.highlight.xml .code:after {
  content: "XML"; }

.highlight.python .code:after {
  content: "PYTHON"; }

.highlight.json .code:after {
  content: "JSON"; }

.highlight.swift .code:after {
  content: "SWIFT"; }

.highlight.ruby .code:after {
  content: "RUBY"; }

.highlight.perl .code:after {
  content: "PERL"; }

.highlight.php .code:after {
  content: "PHP"; }

.highlight.c .code:after {
  content: "C"; }

.highlight.java .code:after {
  content: "JAVA"; }

.highlight.cpp .code:after {
  content: "CPP"; }

.highlight.ts .code:after {
  content: "TS"; }

.highlight.cpp .code:after {
  content: 'C++'; }

pre {
  color: #525252; }
  pre .comment,
  pre .quote {
    color: #998;
    font-style: italic; }
  pre .keyword,
  pre .selector-tag,
  pre .subst {
    color: #333;
    font-weight: bold; }
  pre .number,
  pre .literal,
  pre .variable,
  pre .template-variable,
  pre .tag .attr {
    color: #008080; }
  pre .string,
  pre .doctag {
    color: #d14; }
  pre .title,
  pre .section,
  pre .selector-id {
    color: #900;
    font-weight: bold; }
  pre .subst {
    font-weight: normal; }
  pre .type,
  pre .class .title {
    color: #458;
    font-weight: bold; }
  pre .tag,
  pre .name,
  pre .attribute {
    color: #000080;
    font-weight: normal; }
  pre .regexp,
  pre .link {
    color: #009926; }
  pre .symbol,
  pre .bullet {
    color: #990073; }
  pre .built_in,
  pre .builtin-name {
    color: #0086b3; }
  pre .meta {
    color: #999;
    font-weight: bold; }
  pre .deletion {
    background: #fdd; }
  pre .addition {
    background: #dfd; }
  pre .emphasis {
    font-style: italic; }
  pre .strong {
    font-weight: bold; }

.read-more {
  display: block; }

.post_footer {
  position: relative; }

.post_footer:after {
  content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  background-color: lightgray;
  top: 15%;
  margin: 10px; }

.menu_box {
  border-top: 1px solid black;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 100px;
  overflow: hidden; }
  @media screen and (max-width: 1200px) {
    .menu_box {
      width: 100%; } }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .menu_box {
      width: 100%; } }
  @media screen and (max-width: 528px) {
    .menu_box {
      border-top: none; } }

.navbar-collapse {
  display: flex;
  align-items: center;
  justify-content: center; }

.nav-item {
  font-weight: bold;
  width: auto;
  margin-left: 70px; }

.nav-link {
  width: 100%;
  position: relative; }
  @media screen and (max-width: 992px) {
    .nav-link {
      text-align: left;
      margin-left: 30px; } }

.nav-link:before {
  content: "";
  height: 30px;
  width: 110%;
  background-color: black;
  top: -40px;
  left: 5px;
  position: absolute;
  transition: 500ms all; }
  @media (max-width: 992px) {
    .nav-link:before {
      display: none; } }

.nav-link:hover::before {
  content: "";
  top: -32px;
  left: 5px; }

.mr-auto {
  margin-right: 0 !important; }

.footer_box {
  height: auto;
  width: 100%;
  background-color: #171617;
  color: white;
  direction: rtl;
  margin-top: 30px; }

.footer_box a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin-right: 10px;
  height: 60px;
  margin-top: 40px; }

.powerd {
  background-color: red;
  display: inline-block; }

.archive {
  margin-left: 260px;
  margin-top: -50px; }

.post-item {
  margin-left: 20px;
  display: block; }

.post-info {
  display: inline-block;
  margin-left: -10px; }

.tags {
  height: auto;
  margin-left: 20px; }

.tags li {
  list-style: none;
  display: inline-block;
  margin: 5px; }

.tags li a {
  color: inherit;
  text-decoration: none; }

.tags li:before {
  content: "#"; }

.categories {
  height: auto;
  margin-left: 20px; }

.categories li {
  list-style: none;
  display: inline-block;
  margin: 5px; }

.categories li a {
  color: inherit;
  text-decoration: none; }

.categories li:before {
  content: "-"; }

.category-box:after {
  content: "";
  width: 90%;
  height: 10px;
  background-color: black;
  position: relative; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  width: 500px;
  height: auto;
  margin-left: 30%; }

iframe {
  width: 300px;
  height: auto;
  margin-left: 40%;
  border: 4px solid black; }
