block header
    .site-header
        .container
            .site-branding
                h1.site-title= config.title
                    a(href="google.com")
                .site-description
                    span.site-description-text= config.description