
card-comp
    .columns.shop-list
        <virtual each={items}>
            .column.col-4.col-xs-12
                .card
                    .card-image
                        img.img-responsive(src="{url}" + "/{image}")
                    .card-header
                        .card-title.h5 { title }
                        .card-subtitle.text-gray {subtitle}
                    .card-body
                        | { desc }
                    .card-footer
                        //- button.btn.btn-primary Buy
                        a.btn.btn-primary(href="{url}") View

        </virtual>
    br

    script.
        console.info('oh hii tag')
        this.on('*', function(evt) {
            console.info('riot', evt)
        })
        this.items = []
        _this = this

        render(data) {// public
            console.info(data);
            if(!data ) {
                _this.items = []
                _this.update()
                return
            }
            //- clone
            var cloned = JSON.parse(JSON.stringify(data))
            _this.items = cloned

            var sz = _this.items.length
            for(i = 0; i < sz; i++) {
                var item = _this.items[i]

                item.url = ROOT + 'items/' + item.url
                console.info(item.url)
            }

            _this.update()

        }