boa-tag

    p A simple example of calculating. The form below is passed inside a tag using Yield feature
    p.num { num }

    <yield />



    script.
        doSomething(arg1, arg2) {
            this.update({num: +arg1+ +arg2});
        }