.footer_box {
    height: auto;
    width: 100%;
    background-color: #171617;
    color: white;
    // line-height: 100px;
    direction: rtl;
    // margin-bottom: 0;
    margin-top: 30px;
    // display: block;
}


.footer_box a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    margin-right: 10px;
    height: 60px;
    // line-height: 100px;
    margin-top: 40px;
}

.powerd {
    background-color: red;
    display: inline-block;
}
