body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #171617;
    width: 100%;
    height: 0.75em;
    @media screen and (max-width: 992px){
        display: none;
    }
}

.site-header{
    text-align: center;
    // background-color: yellow;
}

.container {
    max-width: 85em;
    margin-left: auto;
    margin-right: auto;
}

.site-branding {
    max-width: 100%;
    line-height: 1;
    display: inline-block;
    margin-top: 3.75em;
    margin-bottom: 5.25em;
    overflow-wrap: break-word;
}

.site-title {
    font-size: 120px;
    line-height: 1.0731707317;
    transform: translateY(0.0059634146em);
    font-family: "Playfair Display", serif;
    // font-size: 3.375em;
    line-height: 1.1111111111;
    -webkit-transform: none;
    transform: none;
    font-weight: 900;
    text-transform: uppercase;
    max-width: 100%;
    margin: 0;
    @media screen and (max-width: 992px) and (min-width: 768px) {
        font-size: 85px;
    }
}

.site-title a {
    text-decoration: none;
    color: #171617;
    background: transparent;
    height: 100%;
    width: 100%;
    display: block;
}

.site-description {
    display: block;
    font-family: sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    word-wrap: break-word;
    -webkit-transform: translateY(0.7em);
    transform: translateY(0.7em);
    font-size: 1.1875em;
    line-height: 1.2631578947;
    letter-spacing: .5em;
    overflow: hidden;
    position: relative;
    
}

.site-description:after {
    content: "";
    width: 100%;
    height: 1px;
    background: black;
    left: 0;
    z-index: -1;
    display: block;
    position: absolute;
    top: 50%;
    @media screen and (max-width: 992px) and (min-width: 768px) {
        display: none;
    }
}

.site-description-text {
    z-index: 10;
    max-width: 90%;
    display: inline-block;
    margin: 0;
    padding-left: 1.25em;
    padding-right: .75em;
    background: white;
    @media screen and (max-width: 992px) and (min-width: 768px) {
        max-width: 100%;
    }
}


