head
   include headFrag

body
   .container
      item-custEl#c1
      br

      item-custEl#c2

   script.

      depp.define({'item-custEl':'item-custEl.js'})

      depp.require(['item-custEl'], function(){
         console.log('ready')

         // send message to comp
         let d1 = {
            title:' good'
            ,image:'image.png'
            ,url: 'http://www.google.com'
         }
         setAttrDa('c1', d1)

         setAttrDa('c2', d1)

      })//()

      depp.require(['FontsLoaded', 'bsDefaultStyle'], function() {
         console.log('styles', Date.now() - _start)
      }) 


