<!doctype html>
html
   head
      include headFrag

   body

      .container
      .row
         .col-sm
            | One of three columns
         .col-sm
            | One of three columns
         .col-sm
            | One of three columns
      

