card-comp
    .columns
        <virtual each={ items}>
            .column.col-4.col-md-6.col-xs-12
                a.card(href='{url}')
                    .card-header
                        .card-title.h5 {cardTitle}
                        .card-subtitle.text-gray {cardSubtitle}
                    .card-image
                        img.img-responsive(src='{image}' alt=cardSubtitle)
                    .card-body {cardBody}
                    .card-footer
                        .btn-group.btn-group-block
                            .btn.btn-primary {button}
                            .btn {button}
                            .btn {button}
    </virtual>

    style.
        .columns {
            margin-top: 80px;
        }
        .column {
            margin-bottom: 16px;
        }
        a:hover {
            text-decoration: none;
        }

    script.
        this.on('*', function(evt) {
            console.info('riot', evt)
        })
        this.items = []
        thiz = this

        render(data) {// public
            console.info(data);
            if(!data ) {
                thiz.items = []
                thiz.update()
                return
            }
            //- clone
            var cloned = JSON.parse(JSON.stringify(data))
            thiz.items = cloned

            var sz = thiz.items.length
            for(i = 0; i < sz; i++) {
                var item = thiz.items[i]

                item.image = ROOT + item.url + '/who.jpg'
                item.url = ROOT + item.url
                console.info(item.url)
            }

            thiz.update()

        }