
card-comp
    .blog.columns.blog-preview
        <virtual each={  items}>
            .blog-item.col-4.col-md-6.col-xs-12
                .blog-item__inside(href='{url}')
                    a.img(href='{url}')
                        img.img__inside(src="{image}")
                    .desc
                        .post-header.d-flex
                            a(href='#').category { category }
                            .share
                                a.icon-wrap(href='http://www.facebook.com/sharer/sharer.php?u=http://liz-blog-seo-test.s3-website-us-east-1.amazonaws.com/{url}', target='_blank')
                                    include ./assets/img/svg/fb-share.svg
                                a.icon-wrap(href='http://twitter.com/share?url=http://liz-blog-seo-test.s3-website-us-east-1.amazonaws.com/{url}', 'left=0,top=0,width=550,height=450,personalbar=0,toolbar=0,scrollbars=0,resizable=0', target='_blank')
                                    include ./assets/img/svg/twi-share.svg
                                a.icon-wrap(href='http://www.pinterest.com/pin/create/button/?url=liz-blog-seo-test.s3-website-us-east-1.amazonaws.com/{url}&media={image}', target='_blank', data-pin-shape='round')    
                                    include ./assets/img/svg/pin-share.svg
                        .post-body
                            h6.title { title }
                        .post-footer.d-flex
                            a.avatar(href='{url}')
                                img.avatar__inside( src= '{author.avatar}' )
                            .d-flex
                                a.name(href='{url}') { author.name }
                                .divider /
                                time.date { publishDate }

        </virtual>
    br

    script.
        console.info('oh hi tag')
        this.on('*', function(evt) {
            console.info('riot', evt)
        })
        this.items = []
        thiz = this

        render(data) {// public
            console.info(data);
            if(!data ) {
                thiz.items = []
                thiz.update()
                return
            }
            //- clone
            var cloned = JSON.parse(JSON.stringify(data))
            thiz.items = cloned

            var sz = thiz.items.length
            for(i = 0; i < sz; i++) {
                var item = thiz.items[i]

                item.image = ROOT + 'blog/' + item.url + '/who.jpg'
                item.url = ROOT + 'blog/' + item.url
                console.info(item.url)
            }

            thiz.update()

        }