extends /layout/layout
//- App Shell

block main

   .columns.page
      h2.column.col-12.text-center Vega
      .column.col-6
         div.py-2
            h4.text-center Barchart
            div#vega-barchart

   //link(href= '/assets/css/debug.css', rel='stylesheet')
   script.
      depp.define({
         'vegaViewModel': [
            '/assets/models/VegaViewModel.js',
            'VegaBind.js'
         ]
      })

      depp.require(['vegaViewModel'], setupChartView);

      function setupChartView(){
         let vegaBind = new VegaBind()
         vegaBind.getViewChart('vega-barchart')
      }