.trans {
    z-index: -1;
    background-color: #F7F7F7;
    min-height: 12vh;
    min-width: 100vw;

    li {
        display: inline-block;

        &:before, &:after {
            display: none;
        }

        a {
            color: $color-theme1;

            &:after {
                content: '/';
                display: inline-block;
                margin: 0 5px;
            }
        }
    }
}