footer {
    color: white;
    background: #151f2b;
    background: -moz-linear-gradient(left, #151f2b 0%, #384752 100%);
    background: -webkit-linear-gradient(left, #151f2b 0%,#384752 100%); 
    background: linear-gradient(to right, #151f2b 0%,#384752 100%);
    position: relative;
    
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 2px;
        background: #151f2b;
        background: -moz-linear-gradient(left, #151f2b 0%, #384752 100%);
        background: -webkit-linear-gradient(left, #151f2b 0%,#384752 100%); 
        background: linear-gradient(to right, #151f2b 0%,#384752 100%);
    }
    
    .container {
        min-height: 400px;
        flex-direction: column;
        justify-content: space-between;
    }

    .copyright {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 3px;
    }

    .foot-menu-item {
        margin-left: 2rem;
        a {
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 2px;
        }
    }
}

.footer {
    &-1, &-2 {
        justify-content: space-between;
    }
    &-2 {
        align-items: flex-end;
    }
    &-1 {
        align-items: center;
    }
}

.foot-logo {
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 300;
}