html {
   font-family: $font-family-theme1;
    * {
        font-family: inherit;
    }
}
body {
    background: $background-light-theme2;
}

.container {
    padding: 0 25px;
}

#router .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@mixin diagonal-gradient($color-theme1-from, $color-theme1-to){
	background: $color-theme1-from;
    background: -moz-linear-gradient(-45deg,$color-theme1-from 0%,$color-theme1-from 20%,$color-theme1-to 82%,$color-theme1-to 100%);
    background: -webkit-gradient(left top,right bottom,color-stop(0%,$color-theme1-from),color-stop(20%,$color-theme1-from),color-stop(82%,$color-theme1-to),color-stop(100%,$color-theme1-to));
    background: -webkit-linear-gradient(-45deg,$color-theme1-from 0%,$color-theme1-from 20%,$color-theme1-to 82%,$color-theme1-to 100%);
    background: -o-linear-gradient(-45deg,$color-theme1-from 0%,$color-theme1-from 20%,$color-theme1-to 82%,$color-theme1-to 100%);
    background: -ms-linear-gradient(-45deg,$color-theme1-from 0%,$color-theme1-from 20%,$color-theme1-to 82%,$color-theme1-to 100%);
    background: linear-gradient(135deg,$color-theme1-from 0%,$color-theme1-from 20%,$color-theme1-to 82%,$color-theme1-to 100%);
}

.line:after {
    @include diagonal-gradient($color-secondary-theme1, $color-theme1);
    content: "";
    display: block;
    height: 4px;
    margin-top: 20px;
    width: 70px;
}

.d-flex {
    display: flex;
}

.img-responsive {
    max-width: 100%;
}
