h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: 400;
    color: $text-color-dark-2-theme1;
    &.light {
        color: $text-color-light-theme1;
    }
}

a {
    color: $color-theme1;
    transition: all .2s ease-in-out;

    &,
    &:hover,
    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
        text-decoration: none;
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: rgba($color-theme1, .8);
    }

    &:visited {
        color: inherit;
    }

    &.inactive {
        color: #888888;

        &:hover {
            text-decoration: none;
            cursor: default;
        }
    }
}

p, ul {
    color: $text-color-dark-theme1;
    font-size: $font-size-global-theme1;
    line-height: 1.5;
}