head
   include headFrag

body
   .container
      p oh hi ?
      hr
      item-wcomp#c1

      br

      item-wcomp#c2


      a(href='')
         .card(style='max-width:400px')
            img.card-img-top(src='image.png')
            .card-footer
               p Title ='a'
      

   script.

      function setAttrD(id, obj) {
         let c1 = document.getElementById('c1')
         c1.setAttribute('data', JSON.stringify(obj))
      }

      depp.define({'xitem-wcomp':'item-wcomp.js'})

      depp.require(['item-wcomp'], function(){
         console.log('ready')

         // send message to comp
         let d1 = {
            title:' good'
            ,image:'yes'
            ,url: 'ok'
         }
         setAttrD('c1', d1)

      })//()

      depp.require(['FontsLoaded', 'bsDefaultStyle'], function() {
         console.log('styles', Date.now() - _start)
      }) 


