head
   include headFrag

body
   .container
      p oh hi ?
      p

      item-wcomp#c1
      br

      item-wcomp#c2

      p
      br
      p
   script.

      depp.define({'item-wcomp':'item-wcomp.js'})

      depp.require(['item-wcomp'], function(){
         console.log('ready')

         // send message to comp
         let d1 = {
            title:' good'
            ,image:'image.png'
            ,url: 'http://www.google.com'
         }
         setAttrD('c1', d1)

         setAttrD('c2', d1)

      })//()

      depp.require(['FontsLoaded', 'bsDefaultStyle'], function() {
         console.log('styles', Date.now() - _start)
      }) 


