head
   include headFrag

body
   .container
      p oh hi ?
      p

      item-wcomp#c1
      br

      item-wcomp#c2

      p
      br
      p
   script.

      function setAttrD1(id, obj) {
         var clone = JSON.parse(JSON.stringify(obj))
         let c1 = document.getElementById(id)
         setTimeout(function(){
            c1.setAttribute('data', JSON.stringify(clone))
         },1)
      }

      depp.define({'item-wcomp':'item-wcomp.js'})

      depp.require(['item-wcomp'], function(){
         console.log('ready')

         // send message to comp
         let d1 = {
            title:' good'
            ,image:'image.png'
            ,url: 'http://www.google.com'
         }
         setAttrD1('c1', d1)

         setAttrD1('c2', d1)

      })//()

      depp.require(['FontsLoaded', 'bsDefaultStyle'], function() {
         console.log('styles', Date.now() - _start)
      }) 


