extends /layout/layout
//- App Shell

block head2
   // in head, $$$ get for speed
   script.
      axios.get('/blog/items.json').then(function(resp) {
         feed = resp.data;
         console.info('f ready');
         depp.require('feed');
      })// fetch

block main
   style.
      .offWhite {
         background: hsl(0, 0%, 98%);
      }

   .pad.offWhite
      include blogs

   //-link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')