html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
article,aside,footer,header,nav,section{display:block;}
h1{font-size:2em;margin:0.67em 0;}
figcaption,figure,main{display:block;}
hr{box-sizing:content-box;height:0;overflow:visible;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
a:active,a:hover{outline-width:0;}
address{font-style:normal;}
b,strong{font-weight:inherit;}
b,strong{font-weight:bolder;}
code,kbd,pre,samp{font-family:"SF Mono","Segoe UI Mono","Roboto Mono",Menlo,Courier,monospace;font-size:1em;}
dfn{font-style:italic;}
small{font-size:80%;font-weight:400;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
audio,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
img{border-style:none;}
svg:not(:root){overflow:hidden;}
button,input,optgroup,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit;margin:0;}
button,input{overflow:visible;}
button,select{text-transform:none;}
button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}
fieldset{border:0;margin:0;padding:0;}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}
progress{display:inline-block;vertical-align:baseline;}
textarea{overflow:auto;}
[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0;}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto;}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}
[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}
details,menu{display:block;}
summary{display:list-item;outline:none;}
canvas{display:inline-block;}
template{display:none;}
[hidden]{display:none;}
*,*::before,*::after{box-sizing:inherit;}
html{box-sizing:border-box;font-size:20px;line-height:1.5;-webkit-tap-highlight-color:transparent;}
body{background:#fff;color:#3b4351;font-family:"Open Sans",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;font-size:0.8rem;overflow-x:hidden;text-rendering:optimizeLegibility;}
a{color:#5755d9;outline:none;text-decoration:none;}
a:focus{box-shadow:0 0 0 0.1rem rgba(87,85,217,0.2);}
a:focus,a:hover,a:active,a.active{color:#302ecd;text-decoration:underline;}
a:visited{color:#807fe2;}
.container{margin-left:auto;margin-right:auto;padding-left:0.4rem;padding-right:0.4rem;width:100%;}
.container.grid-xl{max-width:1296px;}
.container.grid-lg{max-width:976px;}
.container.grid-md{max-width:856px;}
.container.grid-sm{max-width:616px;}
.container.grid-xs{max-width:496px;}
.show-xs,.show-sm,.show-md,.show-lg,.show-xl{display:none !important;}
.columns{display:-webkit-flex;display:flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;margin-left:-0.4rem;margin-right:-0.4rem;}
.columns.col-gapless{margin-left:0;margin-right:0;}
.columns.col-gapless > .column{padding-left:0;padding-right:0;}
.columns.col-oneline{-webkit-flex-wrap:nowrap;flex-wrap:nowrap;overflow-x:auto;}
.column{-webkit-flex:1;flex:1;max-width:100%;padding-left:0.4rem;padding-right:0.4rem;}
.column.col-12,.column.col-11,.column.col-10,.column.col-9,.column.col-8,.column.col-7,.column.col-6,.column.col-5,.column.col-4,.column.col-3,.column.col-2,.column.col-1,.column.col-auto{-webkit-flex:none;flex:none;}
.col-12{width:100%;}
.col-11{width:91.66666667%;}
.col-10{width:83.33333333%;}
.col-9{width:75%;}
.col-8{width:66.66666667%;}
.col-7{width:58.33333333%;}
.col-6{width:50%;}
.col-5{width:41.66666667%;}
.col-4{width:33.33333333%;}
.col-3{width:25%;}
.col-2{width:16.66666667%;}
.col-1{width:8.33333333%;}
.col-auto{-webkit-flex:0 0 auto;flex:0 0 auto;max-width:none;width:auto;}
.col-mx-auto{margin-left:auto;margin-right:auto;}
.col-ml-auto{margin-left:auto;}
.col-mr-auto{margin-right:auto;}
@media (max-width:1280px){.col-xl-12,.col-xl-11,.col-xl-10,.col-xl-9,.col-xl-8,.col-xl-7,.col-xl-6,.col-xl-5,.col-xl-4,.col-xl-3,.col-xl-2,.col-xl-1,.col-xl-auto{-webkit-flex:none;flex:none;}
 .col-xl-12{width:100%;}
 .col-xl-11{width:91.66666667%;}
 .col-xl-10{width:83.33333333%;}
 .col-xl-9{width:75%;}
 .col-xl-8{width:66.66666667%;}
 .col-xl-7{width:58.33333333%;}
 .col-xl-6{width:50%;}
 .col-xl-5{width:41.66666667%;}
 .col-xl-4{width:33.33333333%;}
 .col-xl-3{width:25%;}
 .col-xl-2{width:16.66666667%;}
 .col-xl-1{width:8.33333333%;}
 .col-xl-auto{width:auto;}
 .hide-xl{display:none !important;}
 .show-xl{display:block !important;}}
@media (max-width:960px){.col-lg-12,.col-lg-11,.col-lg-10,.col-lg-9,.col-lg-8,.col-lg-7,.col-lg-6,.col-lg-5,.col-lg-4,.col-lg-3,.col-lg-2,.col-lg-1,.col-lg-auto{-webkit-flex:none;flex:none;}
 .col-lg-12{width:100%;}
 .col-lg-11{width:91.66666667%;}
 .col-lg-10{width:83.33333333%;}
 .col-lg-9{width:75%;}
 .col-lg-8{width:66.66666667%;}
 .col-lg-7{width:58.33333333%;}
 .col-lg-6{width:50%;}
 .col-lg-5{width:41.66666667%;}
 .col-lg-4{width:33.33333333%;}
 .col-lg-3{width:25%;}
 .col-lg-2{width:16.66666667%;}
 .col-lg-1{width:8.33333333%;}
 .col-lg-auto{width:auto;}
 .hide-lg{display:none !important;}
 .show-lg{display:block !important;}}
@media (max-width:840px){.col-md-12,.col-md-11,.col-md-10,.col-md-9,.col-md-8,.col-md-7,.col-md-6,.col-md-5,.col-md-4,.col-md-3,.col-md-2,.col-md-1,.col-md-auto{-webkit-flex:none;flex:none;}
 .col-md-12{width:100%;}
 .col-md-11{width:91.66666667%;}
 .col-md-10{width:83.33333333%;}
 .col-md-9{width:75%;}
 .col-md-8{width:66.66666667%;}
 .col-md-7{width:58.33333333%;}
 .col-md-6{width:50%;}
 .col-md-5{width:41.66666667%;}
 .col-md-4{width:33.33333333%;}
 .col-md-3{width:25%;}
 .col-md-2{width:16.66666667%;}
 .col-md-1{width:8.33333333%;}
 .col-md-auto{width:auto;}
 .hide-md{display:none !important;}
 .show-md{display:block !important;}}
@media (max-width:600px){.col-sm-12,.col-sm-11,.col-sm-10,.col-sm-9,.col-sm-8,.col-sm-7,.col-sm-6,.col-sm-5,.col-sm-4,.col-sm-3,.col-sm-2,.col-sm-1,.col-sm-auto{-webkit-flex:none;flex:none;}
 .col-sm-12{width:100%;}
 .col-sm-11{width:91.66666667%;}
 .col-sm-10{width:83.33333333%;}
 .col-sm-9{width:75%;}
 .col-sm-8{width:66.66666667%;}
 .col-sm-7{width:58.33333333%;}
 .col-sm-6{width:50%;}
 .col-sm-5{width:41.66666667%;}
 .col-sm-4{width:33.33333333%;}
 .col-sm-3{width:25%;}
 .col-sm-2{width:16.66666667%;}
 .col-sm-1{width:8.33333333%;}
 .col-sm-auto{width:auto;}
 .hide-sm{display:none !important;}
 .show-sm{display:block !important;}}
@media (max-width:480px){.col-xs-12,.col-xs-11,.col-xs-10,.col-xs-9,.col-xs-8,.col-xs-7,.col-xs-6,.col-xs-5,.col-xs-4,.col-xs-3,.col-xs-2,.col-xs-1,.col-xs-auto{-webkit-flex:none;flex:none;}
 .col-xs-12{width:100%;}
 .col-xs-11{width:91.66666667%;}
 .col-xs-10{width:83.33333333%;}
 .col-xs-9{width:75%;}
 .col-xs-8{width:66.66666667%;}
 .col-xs-7{width:58.33333333%;}
 .col-xs-6{width:50%;}
 .col-xs-5{width:41.66666667%;}
 .col-xs-4{width:33.33333333%;}
 .col-xs-3{width:25%;}
 .col-xs-2{width:16.66666667%;}
 .col-xs-1{width:8.33333333%;}
 .col-xs-auto{width:auto;}
 .hide-xs{display:none !important;}
 .show-xs{display:block !important;}} /* mB v5.04.11 on 2019-04-10T10:11:23.905Z */