RO-tag

   include tags/ro

   form#f2.grid-form(autocomplete="off")
      fieldset
         legend RiotJS Tag
         div(data-row-span='2')
            div(data-field-span='1')
               label  Data
               input(type='text', name='dat', placeholder='more data')

   .buts
      button#data.btn(type='submit') Add data

   style.
      .buts button {
         margin: .5rem;
      }


   script.
      console.log('oh hi')
      loadjs.ready('style', function () {

         $('#data').click(function(){
            let data = $('#f2 [name="dat"]').val()
            console.log(data)

            newPK.set(newRow)//insert
               .then(function() { // optional handling
                  console.log('successful')
               })
               .catch(function(error) {
                  console.error('oops', error)
               })
         })//click

      }) //on ready
