
div
   hr
   .pad
      .monkeyContainer
         img(src='/assets/logo.jpg')

      h4  MetaBake&trade; is the extensible open source low-code productivity tool for programmers; including dynamic apps and data binding.

      i MetaBake&trade; works via static generation; with Pug, Markdown and more; including dynamic apps and data binding. *'All. My. Friends. Know a low-coder.'*

      p.
         Terms
         Privacy
         Contact us

      br
      a(href='http://forum.mbake.org') Forum
      br
      a(href='http://git.mbake.org') GitHub
      br
      a(href='http://docs.mbake.org') Docs

