footer
   .footer-1
      .logo-footer
         a(href='/')
            span Meta
            | bake
         .site-title MetaBake is the extensible low-code productivity tool that simplifies the process for building great software.
      .menu-wrap
         ul
            li.header
               a(href='/terms/').adjustFootList.text-bold Terms of Use

         ul
            li.header
               a(href='/privacy/').text-bold Privacy

         ul
            li.header
               a(href='/about/contact/').text-bold contact us

   .footer-2
      .copyright 
         | copyright 
         span &copy; 
         | 2019 MetaBake
      .social-icons
         //- a(href='#')
         //-    include ../assets/img/svg/facebook-letter-logo.svg
         //- a(href='#')
         //-    include ../assets/img/svg/linkedin-logo.svg
         a(href='https://www.youtube.com/', target='_blank')
            include ../assets/img/svg/youtube-play-button.svg
         //- a(href='#')
         //-    include ../assets/img/svg/twitter-logo.svg