footer
   .footer-1
      .logo-footer
         a(href='/')
            span Meta
            | bake
         .site-title MetaBake is the extensible low-code productivity tool that simplifies the process for building great software.
      .menu-wrap
         ul
            li.header
               a(href='/terms/').adjustFootList.text-bold Terms of Use

         ul
            li.header
               a(href='/privacy/').text-bold Privacy

         ul
            li.header
               a(href='/about/contact/').text-bold contact us

   .footer-2
      .copyright 
         | copyright 
         span &copy; 
         | 2019 MetaBake 
      .social-icons
         a(href='http://www.youtube.com/', target='_blank')
            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='90px', height='90px', viewBox='0 0 90 90', style='enable-background:new 0 0 90 90;', xml:space='preserve')
               g
                  path(d='M90,26.958C90,19.525,83.979,13.5,76.55,13.5h-63.1C6.021,13.5,0,19.525,0,26.958v36.084\
                  C0,70.475,6.021,76.5,13.45,76.5h63.1C83.979,76.5,90,70.475,90,63.042V26.958z M36,60.225V26.33l25.702,16.947L36,60.225z')
               g
               g
               g
               g
               g
               g
               g
               g
               g
               g
               g
               g
               g
               g
               g