
div
   hr
   .pad
      .monkeyContainer
         img(src='/assets/logo.jpg')

      h4  MetaBake&trade; is open source and extensible low-code productivity tool for programmers; including dynamic apps and data binding.

      i MetaBake&trade; works via static generation; with Pug, Markdown and more; including dynamic apps and data binding. *'All. My. Friends. KNOW the low-coder.'*

      p.
         Terms
         Privacy
         Contact us

      br
      a(href='http://forum.MetaBake.org') Forum
      br
      a(href='http://git.MetaBake.org') GitHub
      br
      a(href='http://docs.MetaBake.org') Docs

