header.flex.edge.header-amp
   .logo-wrap
      a(href='/')#logo
         span Meta
         | bake
      .site-title MetaBakeis the extensible low-code productivity tool that simplifies the process for building great software.
   .right
      ul#navJBar.hide-lg.navJBar(data-function='navJBar')
         li
            a.why-MetaBake(href='#') Why MetaBake
            ul
               li
                  a(href='/why-MetaBake/why-MetaBake') Why MetaBake
               li
                  a(href='/why-MetaBake/MetaBake-vs-other-low-code') MetaBakevs. Other low-code
               li
                  a(href='/why-MetaBake/MetaBake-vs-hugo') MetaBakevs. Hugo
               li
                  a(href='/why-MetaBake/MetaBake-vs-gulp-and-grunt') MetaBakevs. Gulp and Grunt
         li
            a.who-benefits(href='/who-benefits') Who Benefits
         li
            a.get-started(href='/get-started') Get Started
         li
            a.about(href='#') about
            ul
               li
                  a(href='/about/about/') About Us
               li
                  a(href='/about/vic-cekvenich/') Victor Cekvenich
               li
                  a(href='/about/support/') support
               li
                  a(href='/about/contact/') contact us