header.flex.edge.header-amp
   .logo-wrap
      a(href='/')#logo
         span Meta
         | bake
      .site-title Metabake is the extensible low-code productivity tool that simplifies the process for building great software.
   .right
      ul#navJBar.hide-lg.navJBar(data-function='navJBar')
         li
            a.why-Metabake (href='#') Why Metabake 
            ul
               li
                  a(href='/why-Metabake /why-Metabake ') Why Metabake 
               li
                  a(href='/why-Metabake /Metabake -vs-other-low-code') Metabake vs. Other low-code
               li
                  a(href='/why-Metabake /Metabake -vs-hugo') Metabake vs. Hugo
               li
                  a(href='/why-Metabake /Metabake -vs-gulp-and-grunt') Metabake vs. Gulp and Grunt
         li
            a.who-benefits(href='/who-benefits') Who Benefits
         li
            a.get-started(href='/get-started') Get Started
         li
            a.about(href='#') about
            ul
               li
                  a(href='/about/about/') About Us
               li
                  a(href='/about/vic-cekvenich/') Victor Cekvenich
               li
                  a(href='/about/support/') support
               li
                  a(href='/about/contact/') contact us