.container.columns
   header.edge.column.col-11.col-mx-auto
      #navbar-brand.left
         .navbar-brand.mr-2.padL
            a.logo(href="/") AcmeSite 
      ul#navJBar.navJBar
         li.navFirst
            a(href='/') About
            ul
               li
                  a(href='/strategy') Strategy
               li
                  a(href='/contacts') Contacts
         li
            a(href='/showcase') Showcase
         li
            a(href='/team') Team