script(src='/assets/3rd/navJBar.js')

.container.columns
   header.flex.edge.column.col-11.col-mx-auto
      #navbar-brand.left
         .navbar-brand.mr-2.padL
            a.logo(href="/") MySite 
      .right
         ul#navJBar.hide-lg.navJBar(data-function='navJBar')
            li.navFirst
               a(href='#') About
               ul
                  li
                     a(href='/strategy') Strategy
                  li
                     a(href='/contacts') Contacts
            li
               a(href='showcase') Showcase
            li
               a(href='/blog') Blog
            li
               a(href='/team') Team
            li
               a(href='/news') News

         .show-lg#navBarCont
            svg.bord.featherSVG(viewBox='0 0 24 24')
               line(x1='3', y1='12', x2='21', y2='12')
               line(x1='3', y1='6',  x2='21', y2='6')
               line(x1='3', y1='18', x2='21', y2='18')

#navOpen.show-lg.col-11.col-mx-auto

script.
   depp.require(['pre'], setupNav) 

   function setupNav() {
      console.info('navJBar')
      new Navbar('.navJBar') //- top

      //toggle
      $( "#navBarCont" ).click(function() { //side
         console.info(isOpen)
         if(isOpen)
            navClose()
         else
            navOpen()
      })
   }//ready

   isOpen = false
   function navOpen() {
      let $clone= $("#navJBar").clone(true)
      $clone.removeClass('hide-lg')
      $('#navOpen').html($clone)
      new Navbar('#navOpen')
      $('.navFirst').addClass('open')
      $('.navFirst').addClass('open-position')
      isOpen = true
   }
   function navClose() {
      $('#navOpen').empty()
      $('.navFirst').removeClass('open')
      $('.navFirst').removeClass('open-position')
      isOpen = false
   }