script.
   
   // for comps, but it is also in scope for Pug for ENV logic

title #{title}
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

style.
   html { touch-action: manipulation; }
   .delayShowing { opacity: 0; }
   .blur { -webkit-filter:blur(2px);filter:blur(2px); }

script.
    
