doctype html
html
	head
		include /layout/headFrag
		include /layout/header
	body
	.login-bg
		.login-wrapper
			.login-form-wrap
				.login-form
					form#login-form.grid-form(action="#")
						fieldset
							legend
								.site-brand Site Name
								| Admin CMS
							.input-wrap
								label Login
								input(type='text', name='login', required='required', autocomplete="new-password")
							.input-wrap
								label Password
								input(type='password', name='password', minlength="6", required='required', autocomplete="new-password")
					#error.d-hide.isError
					button#btn-login.btn-custom.btn-primary.btn-center.space-21v Login

					.reset-password(data="reset-password") Forgot password?

					form#reset-password.d-hide.grid-form(action="#", name='reset-pass-form')
						fieldset
							.input-wrap
								label Enter email
								input(type='email', name='reset-password-email', required='required')
						button.btn-custom.btn-primary.btn-center.space-21v(name="reset-password-btn", type='submit') Reset Password
					
					form#reset-password-2.d-hide.grid-form(action="#", name='reset-pass-form-2')
						fieldset
							.input-wrap
								label Enter new password
								input(type='password', name='new-password', required='required')
							.input-wrap
								div.v-code Verification code was sent to your email
								label Enter verification code
								input(type='number', name='v-code', required='required')
						button.btn-custom.btn-primary.btn-center.space-21v(name="reset-password-btn-2", type='submit') Reset Password
	
	script.
		depp.require('rw', function () {
			var bindLogin = new BindLogin()
			// wrong credentials error message on fail of basic auth
			//- let errorMessage = sessionStorage.getItem('errorMessage');
			//- if (errorMessage !== null) {

			//-     $('#error').text(errorMessage).removeClass('d-hide');
			//-     sessionStorage.removeItem('errorMessage');

			//- }

			/*
			* admin login
			*/
			$(document).on('click', '#btn-login', function (ev) {
				ev.preventDefault()
				let formLogin = $("#login-form input[name='login']").val();
				let formPassw = $("#login-form input[name='password']").val();
				bindLogin.login(formLogin, formPassw)
			});

			/*
			* admin password reset
			*/
			$(document).on('click', '[data="reset-password"]', function (e) {
				e.preventDefault();
				$('#login-form, #btn-login, [data="reset-password"]').addClass('d-hide');
				$("[name='reset-pass-form']").removeClass('d-hide');
			});

			$(document).on('submit', '[name="reset-pass-form"]', function (e) {
				e.preventDefault();
				$("[name='reset-pass-form']").addClass('d-hide');
				$("[name='reset-pass-form-2']").removeClass('d-hide');
				window.resetEmail = $("[name='reset-password-email']").val();
				$('.v-code').html('Verification code was sent to ' + resetEmail);
				bindLogin.sendVcode(resetEmail);
			});

			$(document).on('submit', '[name="reset-pass-form-2"]', function () {
				$("[name='reset-pass-form-2']").addClass('d-hide');
				let password = $("[name='new-password']").val();
				let vCode = $("[name='v-code']").val();
				bindLogin.resetPass(resetEmail, vCode, password);
			});

			

		});