script.
   

   window.siteName = 'MetaBake';
   window.intuOrigin = window.location.origin;

link(rel='stylesheet', href= '/admin/assets/css/spectreTop.css')
script(src='/admin/assets/js/ui-loader.js')

