.post {
    width: 28%;
    position: relative;
    display: inline-block;
    margin-bottom: 80px;
    @media screen and (min-width: 768px ) and (max-width: 992px) {
        width: 100%;
    }
}
.head_title {
    font-family: "Playfair Display", serif;
}
.head_title strong{
    font-weight: bold;
    font-size: 0.85em;
}
strong::after {
    content: ": ";

}
.post_desc {
    font-style: italic;
    font-weight: normal;
    font-size: 23px;
}
.post_footer {
    background-color: white;
    font-family: "Playfair Display", serif;
}

.head_title a {
    text-decoration: none;
    color: inherit;
    &:hover{
        text-decoration: none;
    };
}
.single-post {
    margin-top: -80px;
    margin-left: 60px;
    width: 100%;
}
.single-title {
    margin-left: 60px;
    margin-bottom: 90px;
    margin-top: -30px;
}
.next {
    margin-left: 85%;
    height: 20px;
    width: 30px;
    background-color: rgb(46, 45, 45);
    color: white;
    font-weight: 600;
    box-shadow: #333;
    border: 3px solid rgb(46, 45, 45);
    border-radius: 20px;
    margin-bottom: 60px;
}
.prev {
    margin-left: 30px;
    height: 60px;
    width: 100px;
    background-color: rgb(46, 45, 45);
    color: white;
    font-weight: 600;
    box-shadow: #333;
    border: 3px solid rgb(46, 45, 45);
    border-radius: 20px;
    margin-bottom: 60px;
}
.next:hover, .prev:hover {
    text-decoration: none;
    color: white;
}

.headgallery {
    max-width: 90%;
    margin-left: -80px;
    font-size: 0;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap; 
    flex-flow: row wrap; 
    display: -webkit-box;
    display: flex;
}
.headgallery .gallery {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto; 
    width: 200px; 
    margin: .5vw;
}
.headgallery .gallery .imgGallery {
    width: 100%; 
    height: 200px; 
}
blockquote {
    margin: 2em 0;
    padding: 0.5em 1.3em;
    border: 1px solid #eee;
    border-radius: 3px;
    border-left-color: #000000;
    border-left-width: 4px;
    margin-left: 40px;
}
blockquote.warning {
    border-left-color: #f0ad4e;
    border-left-width: 4px;
}
code,
pre {
    font-size: 0.8em;
    background-color: #f8f8f8;
    font-family: 'Roboto Mono', Monaco, courier, monospace;
}

.highlight {
    position: relative;
    margin: 1em 0;
    border-radius: 2px;
    line-height: 1.1em;
    background-color: #f8f8f8;
    overflow-x: auto;
    table, tr, td {
        width: 100%;
        border-collapse: collapse;
        padding: 0;
        margin: 0;
    }
    .gutter {
        display: none;
    }
    .code pre {
        padding: 1.2em 1.4em;
        line-height: 1.5em;
        margin: 0;
        .line {
            width: auto;
            height: 18px;
        }
    }
}

%code-base {
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
    text-align: right;
    font-size: 0.75em;
    padding: 5px 10px 0;
    line-height: 15px;
    height: 15px;
    font-weight: 600;
}

@mixin code-signs($keys) {
    @each $key in $keys {
        .highlight.#{$key} .code:after {
            content: to-upper-case($key);
            @extend %code-base;
        }
    }
}

$signs: ("sql", "ini", "conf", "html", "javascript", "js", "bash", "css", "scss","diff", "java", "xml", "python", "json", "swift", "ruby", "perl", "php", "c", "java", "cpp", "ts");
@include code-signs($signs);

.highlight.cpp .code:after {
    content: 'C++';
}

pre {
    color: #525252;

    .comment,
    .quote {
        color: #998;
        font-style: italic
    }
    .keyword,
    .selector-tag,
    .subst {
        color: #333;
        font-weight: bold
    }
    .number,
    .literal,
    .variable,
    .template-variable,
    .tag .attr {
        color: #008080
    }
    .string,
    .doctag {
        color: #d14
    }
    .title,
    .section,
    .selector-id {
        color: #900;
        font-weight: bold
    }
    .subst {
        font-weight: normal
    }
    .type,
    .class .title {
        color: #458;
        font-weight: bold
    }
    .tag,
    .name,
    .attribute {
        color: #000080;
        font-weight: normal
    }
    .regexp,
    .link {
        color: #009926
    }
    .symbol,
    .bullet {
        color: #990073
    }
    .built_in,
    .builtin-name {
        color: #0086b3
    }
    .meta {
        color: #999;
        font-weight: bold
    }
    .deletion {
        background: #fdd
    }
    .addition {
        background: #dfd
    }
    .emphasis {
        font-style: italic
    }
    .strong {
        font-weight: bold
    }
}
.read-more {
    // background-color: red;
    display: block;
}
.post_footer {
    position: relative;
}
.post_footer:after {
    content: "";
    position: absolute;
    width: 60%;
    height: 1px;
    background-color: lightgray;
    top: 15%;
    margin: 10px;
}
