head
   include /layout/headFrag
   script(src='https://cdn.jsdelivr.net/gh/intuition-dev/toolBelt@v1.9.11/toolBelt/other.js')

   script(src='ui-binding.js')

body
   spin-custel
   .container.delayShowing
      p
      p oh hi app

      form.grid-form
         fieldset.blurF
            legend Form Section
            div(data-row-span='2')
               div(data-field-span='1')
                  label Field 1
                  input(type='text')
               div(data-field-span='1')
                  label Field 2
                  input(type='text')

      button#but1.btn.btn-primary(type='button') Validate

      p

      #table1.blurT

      style.
         .vex.vex-theme-flat-attack .vex-dialog-button.vex-dialog-button-primary{
            background: #007bff linear-gradient(180deg,#258efe,#007bff) repeat-x;
         }

