extends /layout/layout
//- App Shell

block main
   .columns.page
      h2.column.col-12.text-center UV Charts
      .column.col-12
         div.py-2
            h4.text-center Line Chart
            div#uv-div()

   script.
      depp.require(['uvcharts'], function(){
      let graphDefinition = {
         categories : ['uvCharts', 'Matisse', 'SocialByWay'],
         dataset : {
            'uvCharts' : [
               { name : '2008', value: 15},
               { name : '2009', value: 28},
               { name : '2010', value: 42},
               { name : '2011', value: 88},
               { name : '2012', value: 100},
               { name : '2013', value: 143}
            ],
            'Matisse' : [
               { name : '2008', value: 15},
               { name : '2009', value: 45},
               { name : '2010', value: 234},
               { name : '2011', value: 22},
               { name : '2012', value: 100},
               { name : '2013', value: 1433}
            ],
            'SocialByWay' : [
               { name : '2008', value: 152},
               { name : '2009', value: 281},
               { name : '2010', value: 432},
               { name : '2011', value: 848},
               { name : '2012', value: 100},
               { name : '2013', value: 143}
            ]
         }
      }
      let optionalConfiguration = {
         meta : {
            caption : 'Usage over years',
            subcaption : 'among Imaginea OS products',
            hlabel : 'Years',
            vlabel : 'Number of users',
            vsublabel : 'in thousands'
         }
      }
         var chartObject = uv.chart('Line', graphDefinition, optionalConfiguration);
      })