
br
table#list1.display(width='95%').row-border.celled.compact

-// col names must match field names.
script.
   window.cols = [
      { "data" : "id", "visible": false, "searchable": false },
      { "data" : "col1",  "title": "Col1" },
      { "data" : "col3" , "title": "Col3" }
   ]
   loadjs.ready(['style'], function () {
      $('#list1').DataTable( {
         lengthChange: false,
         info: false,

         select: true,
         columns : window.cols
      } )//dt

      $('#list1 tbody').on('click', 'tr', function () {
         //*** clicked a row event
         var row = $('#list1').DataTable().row( this ).data()

         dtSig.dispatch(row)
      })
   })

   read(onData1, onErr1)

   function onData1(rows) {
      console.log(rows)
      let dt = $('#list1').DataTable()
      dt.clear()
      dt.rows.add(rows)
      dt.draw()

   }//onData

   function onErr1(err) {
      console.log(err)
   }