doctype html
html
    head
        include headFrag

        script.
            window.ROOT = '#{ROOT}';

        script.
            window.apiPort = location.port
            window.apiProtocol = location.protocol.split(':')[0];
            window.apiHost = location.hostname;

            // TODO add second input for changing port of site
            window.appMount = 'http://0.0.0.0:' + 3000;
            window.siteName = 'MetaBake';

        link(rel='stylesheet', href= ROOT +'editors/assets/css/spectreTop.css')

    body
        script(src=ROOT +'editors/assets/js/loader.js')

        block header
        block content