doctype html
html
    head
        include headFrag

        script.
            window.ROOT = '#{ROOT}';

        script.
            window.apiProtocol = 'http';
            window.apiHost = '0.0.0.0';
            //Return the port number of the current URL
            window.apiPort = location.port

            window.appMount = 'http://0.0.0.0:'+location.port;
            window.siteName = 'MetaBake';

        link(rel='stylesheet', href= ROOT +'editors/assets/css/spectreTop.css')

    body
        script(src=ROOT +'editors/assets/js/loader.js')

        block header
        block content