*{min-width:0;min-height:0;box-sizing:border-box;}
.grid-form *,.grid-form *:before,.grid-form *:after{box-sizing:border-box;}
.grid-form input[type="text"],.grid-form input[type="email"],.grid-form input[type="number"],.grid-form input[type="password"],.grid-form input[type="search"],.grid-form input[type="tel"],.grid-form input[type="url"],.grid-form input[type="color"],.grid-form input[type="date"],.grid-form input[type="datetime"],.grid-form input[type="datetime-local"],.grid-form input[type="month"],.grid-form input[type="time"],.grid-form input[type="week"],.grid-form textarea,.grid-form select{font-size:18px;padding:0;margin:0;width:100%;}
.grid-form input[type="text"],.grid-form input[type="email"],.grid-form input[type="number"],.grid-form input[type="password"],.grid-form input[type="search"],.grid-form input[type="tel"],.grid-form input[type="url"],.grid-form input[type="color"],.grid-form input[type="date"],.grid-form input[type="datetime"],.grid-form input[type="datetime-local"],.grid-form input[type="month"],.grid-form input[type="time"],.grid-form input[type="week"],.grid-form textarea{border:0;background:transparent;}
.grid-form input[type="text"]::-webkit-input-placeholder,.grid-form input[type="email"]::-webkit-input-placeholder,.grid-form input[type="number"]::-webkit-input-placeholder,.grid-form input[type="password"]::-webkit-input-placeholder,.grid-form input[type="search"]::-webkit-input-placeholder,.grid-form input[type="tel"]::-webkit-input-placeholder,.grid-form input[type="url"]::-webkit-input-placeholder,.grid-form input[type="color"]::-webkit-input-placeholder,.grid-form input[type="date"]::-webkit-input-placeholder,.grid-form input[type="datetime"]::-webkit-input-placeholder,.grid-form input[type="datetime-local"]::-webkit-input-placeholder,.grid-form input[type="month"]::-webkit-input-placeholder,.grid-form input[type="time"]::-webkit-input-placeholder,.grid-form input[type="week"]::-webkit-input-placeholder,.grid-form textarea::-webkit-input-placeholder{font-weight:100;color:#595959;}
.grid-form input[type="text"]:-moz-placeholder,.grid-form input[type="email"]:-moz-placeholder,.grid-form input[type="number"]:-moz-placeholder,.grid-form input[type="password"]:-moz-placeholder,.grid-form input[type="search"]:-moz-placeholder,.grid-form input[type="tel"]:-moz-placeholder,.grid-form input[type="url"]:-moz-placeholder,.grid-form input[type="color"]:-moz-placeholder,.grid-form input[type="date"]:-moz-placeholder,.grid-form input[type="datetime"]:-moz-placeholder,.grid-form input[type="datetime-local"]:-moz-placeholder,.grid-form input[type="month"]:-moz-placeholder,.grid-form input[type="time"]:-moz-placeholder,.grid-form input[type="week"]:-moz-placeholder,.grid-form textarea:-moz-placeholder{font-weight:100;color:#595959;}
.grid-form input[type="text"]:focus,.grid-form input[type="email"]:focus,.grid-form input[type="number"]:focus,.grid-form input[type="password"]:focus,.grid-form input[type="search"]:focus,.grid-form input[type="tel"]:focus,.grid-form input[type="url"]:focus,.grid-form input[type="color"]:focus,.grid-form input[type="date"]:focus,.grid-form input[type="datetime"]:focus,.grid-form input[type="datetime-local"]:focus,.grid-form input[type="month"]:focus,.grid-form input[type="time"]:focus,.grid-form input[type="week"]:focus,.grid-form textarea:focus{outline:none;}
.grid-form fieldset{border:none;padding:0;margin:0;}
.grid-form fieldset legend{border:none;border-bottom:4px solid #404040;color:#404040;font-size:18px;font-weight:bold;padding-bottom:5px;position:static;width:100%;}
.grid-form fieldset fieldset legend{border-bottom:2px solid #404040;font-weight:normal;}
.grid-form fieldset fieldset fieldset legend{border-bottom:1px solid #404040;font-weight:normal;font-size:15px;}
.grid-form [data-row-span]{border-bottom:1px solid #333;width:100%;zoom:1;}
.grid-form [data-row-span]:before,.grid-form [data-row-span]:after{content:"";display:table;}
.grid-form [data-row-span]:after{clear:both;}
@media only screen and (min-width:0) and (max-width:700px){.grid-form [data-row-span]{border-bottom:none;}}
.grid-form [data-row-span] [data-field-span]{padding:8px;float:left;}
@media only screen and (min-width:0) and (max-width:700px){.grid-form [data-row-span] [data-field-span]{border-bottom:1px solid #333;width:100% !important;}}
@media only screen and (min-width:700px){.grid-form [data-row-span] [data-field-span]{border-right:1px solid #333;display:block;}}
.grid-form [data-row-span] [data-field-span] label:first-child{margin-top:0;text-transform:uppercase;letter-spacing:1px;font-size:10px;color:#333;display:block;margin-bottom:4px;}
.grid-form [data-row-span] [data-field-span] label:first-child:hover{cursor:text;}
.grid-form [data-row-span] [data-field-span]:last-child{border-right:none;}
.grid-form [data-row-span] [data-field-span]:hover{background:#fffded;cursor:text;}
.grid-form [data-row-span] [data-field-span].focus{background:#fffad4;}
.grid-form [data-row-span] [data-field-span].focus label{color:#262626;}
@media print{.grid-form [data-row-span]{display:table;height:56px;page-break-inside:avoid;}
 .grid-form [data-row-span] [data-field-span]{border-right:1px solid #333333;display:table-cell;float:none;}
 .grid-form [data-row-span] [data-field-span].focus,.grid-form [data-row-span] [data-field-span]:hover{background:none;}
 .grid-form [data-row-span] [data-field-span] label:first-child{letter-spacing:0;}}
.grid-form [data-row-span="1"] > [data-field-span="1"]{width:100%;}
.grid-form [data-row-span="2"] > [data-field-span="1"]{width:50%;}
.grid-form [data-row-span="2"] > [data-field-span="2"]{width:100%;}
.grid-form [data-row-span="3"] > [data-field-span="1"]{width:33.33333%;}
.grid-form [data-row-span="3"] > [data-field-span="2"]{width:66.66667%;}
.grid-form [data-row-span="3"] > [data-field-span="3"]{width:100%;}
.grid-form [data-row-span="4"] > [data-field-span="1"]{width:25%;}
.grid-form [data-row-span="4"] > [data-field-span="2"]{width:50%;}
.grid-form [data-row-span="4"] > [data-field-span="3"]{width:75%;}
.grid-form [data-row-span="4"] > [data-field-span="4"]{width:100%;}
.grid-form [data-row-span="5"] > [data-field-span="1"]{width:20%;}
.grid-form [data-row-span="5"] > [data-field-span="2"]{width:40%;}
.grid-form [data-row-span="5"] > [data-field-span="3"]{width:60%;}
.grid-form [data-row-span="5"] > [data-field-span="4"]{width:80%;}
.grid-form [data-row-span="5"] > [data-field-span="5"]{width:100%;}
.grid-form [data-row-span="6"] > [data-field-span="1"]{width:16.66667%;}
.grid-form [data-row-span="6"] > [data-field-span="2"]{width:33.33333%;}
.grid-form [data-row-span="6"] > [data-field-span="3"]{width:50%;}
.grid-form [data-row-span="6"] > [data-field-span="4"]{width:66.66667%;}
.grid-form [data-row-span="6"] > [data-field-span="5"]{width:83.33333%;}
.grid-form [data-row-span="6"] > [data-field-span="6"]{width:100%;}
.grid-form [data-row-span="7"] > [data-field-span="1"]{width:14.28571%;}
.grid-form [data-row-span="7"] > [data-field-span="2"]{width:28.57143%;}
.grid-form [data-row-span="7"] > [data-field-span="3"]{width:42.85714%;}
.grid-form [data-row-span="7"] > [data-field-span="4"]{width:57.14286%;}
.grid-form [data-row-span="7"] > [data-field-span="5"]{width:71.42857%;}
.grid-form [data-row-span="7"] > [data-field-span="6"]{width:85.71429%;}
.grid-form [data-row-span="7"] > [data-field-span="7"]{width:100%;}
.grid-form [data-row-span="8"] > [data-field-span="1"]{width:12.5%;}
.grid-form [data-row-span="8"] > [data-field-span="2"]{width:25%;}
.grid-form [data-row-span="8"] > [data-field-span="3"]{width:37.5%;}
.grid-form [data-row-span="8"] > [data-field-span="4"]{width:50%;}
.grid-form [data-row-span="8"] > [data-field-span="5"]{width:62.5%;}
.grid-form [data-row-span="8"] > [data-field-span="6"]{width:75%;}
.grid-form [data-row-span="8"] > [data-field-span="7"]{width:87.5%;}
.grid-form [data-row-span="8"] > [data-field-span="8"]{width:100%;}
.grid-form [data-row-span="9"] > [data-field-span="1"]{width:11.11111%;}
.grid-form [data-row-span="9"] > [data-field-span="2"]{width:22.22222%;}
.grid-form [data-row-span="9"] > [data-field-span="3"]{width:33.33333%;}
.grid-form [data-row-span="9"] > [data-field-span="4"]{width:44.44444%;}
.grid-form [data-row-span="9"] > [data-field-span="5"]{width:55.55556%;}
.grid-form [data-row-span="9"] > [data-field-span="6"]{width:66.66667%;}
.grid-form [data-row-span="9"] > [data-field-span="7"]{width:77.77778%;}
.grid-form [data-row-span="9"] > [data-field-span="8"]{width:88.88889%;}
.grid-form [data-row-span="9"] > [data-field-span="9"]{width:100%;}
.grid-form [data-row-span="10"] > [data-field-span="1"]{width:10%;}
.grid-form [data-row-span="10"] > [data-field-span="2"]{width:20%;}
.grid-form [data-row-span="10"] > [data-field-span="3"]{width:30%;}
.grid-form [data-row-span="10"] > [data-field-span="4"]{width:40%;}
.grid-form [data-row-span="10"] > [data-field-span="5"]{width:50%;}
.grid-form [data-row-span="10"] > [data-field-span="6"]{width:60%;}
.grid-form [data-row-span="10"] > [data-field-span="7"]{width:70%;}
.grid-form [data-row-span="10"] > [data-field-span="8"]{width:80%;}
.grid-form [data-row-span="10"] > [data-field-span="9"]{width:90%;}
.grid-form [data-row-span="10"] > [data-field-span="10"]{width:100%;}
.grid-form [data-row-span="11"] > [data-field-span="1"]{width:9.09091%;}
.grid-form [data-row-span="11"] > [data-field-span="2"]{width:18.18182%;}
.grid-form [data-row-span="11"] > [data-field-span="3"]{width:27.27273%;}
.grid-form [data-row-span="11"] > [data-field-span="4"]{width:36.36364%;}
.grid-form [data-row-span="11"] > [data-field-span="5"]{width:45.45455%;}
.grid-form [data-row-span="11"] > [data-field-span="6"]{width:54.54545%;}
.grid-form [data-row-span="11"] > [data-field-span="7"]{width:63.63636%;}
.grid-form [data-row-span="11"] > [data-field-span="8"]{width:72.72727%;}
.grid-form [data-row-span="11"] > [data-field-span="9"]{width:81.81818%;}
.grid-form [data-row-span="11"] > [data-field-span="10"]{width:90.90909%;}
.grid-form [data-row-span="11"] > [data-field-span="11"]{width:100%;}
.grid-form [data-row-span="12"] > [data-field-span="1"]{width:8.33333%;}
.grid-form [data-row-span="12"] > [data-field-span="2"]{width:16.66667%;}
.grid-form [data-row-span="12"] > [data-field-span="3"]{width:25%;}
.grid-form [data-row-span="12"] > [data-field-span="4"]{width:33.33333%;}
.grid-form [data-row-span="12"] > [data-field-span="5"]{width:41.66667%;}
.grid-form [data-row-span="12"] > [data-field-span="6"]{width:50%;}
.grid-form [data-row-span="12"] > [data-field-span="7"]{width:58.33333%;}
.grid-form [data-row-span="12"] > [data-field-span="8"]{width:66.66667%;}
.grid-form [data-row-span="12"] > [data-field-span="9"]{width:75%;}
.grid-form [data-row-span="12"] > [data-field-span="10"]{width:83.33333%;}
.grid-form [data-row-span="12"] > [data-field-span="11"]{width:91.66667%;}
.grid-form [data-row-span="12"] > [data-field-span="12"]{width:100%;}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{font-weight:400;color:#1c393d;}
h1.light,.h1.light,h2.light,.h2.light,h3.light,.h3.light,h4.light,.h4.light,h5.light,.h5.light,h6.light,.h6.light{color:#fff;}
a{color:#3AAFA9;transition:all .2s ease-in-out;}
a,a:hover,a:active,a:focus{outline:none;box-shadow:none;text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:none;color:rgba(58,175,169,0.8);}
a:visited{color:inherit;}
a.inactive{color:#888888;}
a.inactive:hover{text-decoration:none;cursor:default;}
p,ul{color:#8d8e90;font-size:14px;line-height:1.5;}
html{font-family:"Open Sans",sans-serif;}
html *{font-family:inherit;}
body{background:#fff;}
.container{padding:0 25px;}
#router .container{padding-top:2rem;padding-bottom:2rem;}
.line:after{background:#e65740;background:-webkit-gradient(left top,right bottom,color-stop(0%,#e65740),color-stop(20%,#e65740),color-stop(82%,#3AAFA9),color-stop(100%,#3AAFA9));background:linear-gradient(135deg,#e65740 0%,#e65740 20%,#3AAFA9 82%,#3AAFA9 100%);content:"";display:block;height:4px;margin-top:20px;width:70px;}
.d-flex{display:flex;}
.img-responsive{max-width:100%;}
.blog-preview{margin:0 -15px;}
.blog-preview .avatar{width:32px;height:32px;}
.blog-preview .blog-item{padding:0 15px 15px 15px;}
.blog-preview .blog-item:hover .share{opacity:1;}
.blog .category{letter-spacing:2px;font-weight:700;}
.blog .avatar{border-radius:50%;overflow:hidden;flex-shrink:0;margin:0 7px 0 0;width:20px;height:20px;}
.blog .avatar__inside{width:100%;min-height:100%;-o-object-fit:cover;object-fit:cover;}
.blog .img{overflow:hidden;display:flex;align-items:center;justify-content:center;}
.blog .img__inside{max-width:100%;min-width:100%;display:block;transition:transform .5s ease-in-out;-o-object-fit:cover;object-fit:cover;flex-shrink:0;}
.blog .img__inside:hover{transform:scale(1.1);}
.blog .share{display:flex;align-items:center;justify-content:flex-end;opacity:0;transition:opacity .3s ease-in-out;}
.blog .share *{flex-shrink:0;}
.blog .share a{display:inline-block;margin:0 5px 0 0;}
.blog .share a:last-of-type{margin:0;}
.blog .share a svg{width:20px;height:20px;display:block;}
.blog .share .fb{fill:#3b5998;}
.blog .share .twi{fill:#55acee;}
.blog .post-header{justify-content:space-between;}
.blog .post-header,.blog .post-footer{margin:1rem 0;}
.blog .d-flex{align-items:center;flex-wrap:wrap;}
.blog .name,.blog .title,.blog .title p,.blog .category,.blog .date{color:#1c393d;}
.blog .category,.blog .name,.blog .date{text-transform:uppercase;line-height:1.2;display:block;}
.blog .category,.blog .name,.blog .date,.blog .divider{font-size:12px;}
.blog .title{font-weight:300;font-size:16px;line-height:1.5;letter-spacing:1px;text-align:justify;}
.blog .divider{margin:0 7px;color:#3AAFA9;}
.blog-single .columns.d-flex{align-items:stretch;}
.blog-single .columns.d-flex .column{display:flex;flex-direction:column;justify-content:flex-end;align-items:flex-start;}
.blog-single .title{text-align:left;}
.blog-single .column:not(.post-title){padding:0;}
.blog-single .post-title{background:#F3F4F4;padding:30px;}
.blog-single .img{min-width:100%;min-height:100%;max-height:450px;}
.blog-single .img__inside{min-height:100%;}
.blog-single .title,.blog-single .title p{font-size:28px;font-family:"Open Sans",sans-serif;line-height:1.2;}
.blog-single .date{color:#3AAFA9;}
.blog-single .post-content__inside{margin:1rem 0;padding-right:5%;}
.blog-single .post-content__inside p{font-weight:300;line-height:1.5;letter-spacing:1px;}
.blog-single .post-content__inside p:first-of-type:first-letter{float:left;height:25px;margin-top:10px;margin-right:8px;color:#384752;font-size:48px;line-height:33px;font-style:normal;font-weight:300;}
.blog-single .post-content__inside h1{font-weight:300;letter-spacing:2px;text-transform:uppercase;}
.blog-single .author{border:1px solid #F3F4F4;height:100%;padding:30px;font-weight:300;}
.blog-single .author a{display:block;text-transform:uppercase;font-size:14px;}
.blog-single .author a,.blog-single .author p{text-align:center;}
.blog-single .name{margin:1rem;}
.blog-single .avatar{width:95px;height:95px;margin:0 auto;background:#151f2b;background:linear-gradient(to top,#151f2b 0%,#f2f2f2 100%);padding:2px;}
.blog-single .avatar,.blog-single .avatar__inside{border-radius:50%;}
.blog-single .avatar__inside{max-height:100%;}
svg{width:30px;height:30px;}
.custom-pagination{margin:1rem auto;display:table;}
.custom-pagination .paginationjs .paginationjs-pages ul li{margin:10px 10px 10px 0;}
.custom-pagination .paginationjs .paginationjs-pages ul li,.custom-pagination .paginationjs .paginationjs-pages ul li a,.custom-pagination .paginationjs .paginationjs-pages ul li:after,.custom-pagination .paginationjs .paginationjs-pages ul li:before{font-family:"Open Sans",sans-serif;font-weight:300;font-size:16px;}
.custom-pagination .paginationjs .paginationjs-pages ul li:last-child{margin:10px 0;}
.custom-pagination .paginationjs .paginationjs-pages ul li:before{display:none;}
.custom-pagination .paginationjs .paginationjs-pages ul li > a:hover{background:#151f2b;}
.custom-pagination .paginationjs .paginationjs-pages ul li a{border-radius:0;border:1px solid #384752;min-width:40px;min-height:40px;display:flex;align-items:center;justify-content:center;background:#384752;color:white;transition:background .3s linear;}
.custom-pagination .paginationjs .paginationjs-pages ul li,.custom-pagination .paginationjs .paginationjs-pages ul li .active{border:none;}
.custom-pagination .paginationjs .paginationjs-pages ul li.active a{border-color:#384752;background:0;color:#384752;}
.custom-pagination .paginationjs .paginationjs-pages ul .paginationjs-next,.custom-pagination .paginationjs .paginationjs-pages ul .paginationjs-prev{height:40px;position:relative;}
.custom-pagination .paginationjs .paginationjs-pages ul .paginationjs-next a,.custom-pagination .paginationjs .paginationjs-pages ul .paginationjs-prev a{text-indent:-99999px;border:0;width:initial;position:absolute;background:0;}
.custom-pagination .paginationjs .paginationjs-pages ul .paginationjs-next:after,.custom-pagination .paginationjs .paginationjs-pages ul .paginationjs-prev:after{display:inline-block;color:#384752;text-indent:0;top:7px;position:absolute;cursor:pointer;transition:color .3s linear;letter-spacing:2px;}
.custom-pagination .paginationjs .paginationjs-pages ul .paginationjs-next a:hover,.custom-pagination .paginationjs .paginationjs-pages ul .paginationjs-prev a:hover{background:0;}
.custom-pagination .paginationjs .paginationjs-pages ul .paginationjs-next:hover:after,.custom-pagination .paginationjs .paginationjs-pages ul .paginationjs-prev:hover:after{color:#151f2b;}
.custom-pagination .paginationjs .paginationjs-pages ul .paginationjs-prev{left:-80px;}
.custom-pagination .paginationjs .paginationjs-pages ul .paginationjs-prev:after{content:'Previous';}
.custom-pagination .paginationjs .paginationjs-pages ul .paginationjs-next{right:-5px;}
.custom-pagination .paginationjs .paginationjs-pages ul .paginationjs-next:after{content:'Next';}
@media (max-width:960px){.blog .col-post-content{order:2;}
 .blog .col-post-author{order:1;}
 .blog-single .author{display:flex;align-items:center;justify-content:flex-start;padding-left:0;margin:0;}
 .blog-single .author__desc{width:500px;max-width:100%;}
 .blog-single .author .img,.blog-single .author img{flex-shrink:0;}
 .blog-single .author a,.blog-single .author p{text-align:left;}
 .blog-single .author .name{margin:0;}
 .blog-single .author .avatar{margin:0 1rem 0 0;}}
@media (max-width:600px){.blog-single .title{font-size:24px;}}
@media (max-width:480px){.blog-single .img{max-height:300px;}
 .blog-single .post-title{padding:1rem;}}
.btn-custom{text-transform:uppercase;border-radius:0;border:0;font-size:12px;min-width:100px;padding:12px 20px;transition:all .2s ease-in-out;display:table;}
.btn-custom:hover,.btn-custom:active,.btn-custom:focus{outline:none;text-decoration:none;box-shadow:none;}
.btn-custom .icon{display:flex;align-items:center;justify-content:center;}
.btn-custom .icon svg{margin-left:1rem;width:30px;flex-shrink:0;}
.btn-secondary{background:linear-gradient(to right,#e65740 50%,#1ab7ea 50%) no-repeat scroll right bottom/210% 100% #1ab7ea;}
.btn-secondary,.btn-secondary svg,.btn-secondary:hover,.btn-secondary:hover svg,.btn-secondary:active,.btn-secondary:active svg,.btn-secondary:focus,.btn-secondary:focus svg{color:#fff;fill:#fff;}
.btn-secondary.dark{background:linear-gradient(to right,#e65740 50%,rgba(26,183,234,0.3) 50%) no-repeat scroll right bottom/210% 100% rgba(26,183,234,0.3);}
.btn-secondary.dark,.btn-secondary.dark:hover,.btn-secondary.dark:active,.btn-secondary.dark:focus{color:white;}
.btn-secondary.dark svg,.btn-secondary.dark:hover svg,.btn-secondary.dark:active svg,.btn-secondary.dark:focus svg{fill:#F3F4F4;}
.btn-secondary.invert{background:linear-gradient(to right,#1ab7ea 50%,#e65740 50%) no-repeat scroll right bottom/210% 100% #e65740;}
.btn-primary,.btn-secondary{transition:color 0.3s ease,border-color 0.3s ease,background-position 0.3s ease,background-color 0 linear 0.3s;}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus,.btn-secondary:hover,.btn-secondary:active,.btn-secondary:focus{background-position:left bottom;}
.link-primary{color:#e65740;}
.link-primary:hover,.link-primary:active,.link-primary:focus{color:#3AAFA9;}
.link-secondary{color:#3AAFA9;}
.link-secondary:hover,.link-secondary:active,.link-secondary:focus{color:#e65740;}
.social-icons svg{width:14px;height:14px;fill:#3AAFA9;flex-shrink:0;}
.social-icons .btn-custom{width:40px;min-width:initial;height:40px;border-radius:0;margin:0 10px 0 0;display:flex;align-items:center;justify-content:center;flex-shrink:0;transform:rotate(30deg);transition:transform .2s linear,background .2s linear;}
.social-icons .btn-custom.btn-secondary{background:linear-gradient(to right,#151f2b 50%,#fff 50%) no-repeat scroll right bottom/210% 100% #fff;}
.social-icons .btn-custom.btn-secondary,.social-icons .btn-custom.btn-secondary svg{color:#384752;fill:#384752;}
.social-icons .btn-custom:hover,.social-icons .btn-custom:active,.social-icons .btn-custom:focus{background-position:left bottom;transform:none;}
.social-icons .btn-custom:hover,.social-icons .btn-custom:hover svg,.social-icons .btn-custom:active,.social-icons .btn-custom:active svg,.social-icons .btn-custom:focus,.social-icons .btn-custom:focus svg{color:#fff;fill:#fff;}
.social-icons .btn-custom:last-of-type{margin:0;}
@media (max-width:600px){.social-icons .btn-custom{width:30px;max-width:30px;min-width:30px;padding:0;height:30px;margin:0 5px 0 0;}
 .social-icons svg{width:10px;height:10px;}}
footer{color:white;background:#151f2b;background:linear-gradient(to right,#151f2b 0%,#384752 100%);position:relative;}
footer:before{content:'';display:block;position:absolute;top:0;right:0;left:0;height:2px;background:#151f2b;background:linear-gradient(to right,#151f2b 0%,#384752 100%);}
footer .container{min-height:400px;flex-direction:column;justify-content:space-between;}
footer .copyright{font-weight:300;text-transform:uppercase;font-size:10px;letter-spacing:3px;}
footer .foot-menu-item{margin-left:2rem;}
footer .foot-menu-item a{text-transform:uppercase;font-weight:300;letter-spacing:2px;}
.footer-1,.footer-2{justify-content:space-between;}
.footer-2{align-items:flex-end;}
.footer-1{align-items:center;}
.foot-logo{text-transform:uppercase;font-size:25px;letter-spacing:2px;font-weight:300;} /* mB v4.16.06 on 2019-02-08T16:31:18.023Z */