doctype html
html
    head
        include headFrag

        script.
            window.ROOT = '#{ROOT}setup/';
            window.apiPort = '#{PORT}'
   
            window.apiProtocol = 'http';
            window.apiHost = '0.0.0.0';

        link(rel='stylesheet', href= ROOT +'setup/assets/css/spectreTop.css')

    body
        script(src=ROOT +'setup/assets/js/loader.js')

        block header
        block content