preRW-tag

   script.
      // specific:
      const fconfig = {
         apiKey: 'AIzaSyASZVGB4'+'s'+'1uKB4OdxPCcbJ3ebf44KUYdIE', // + is to help obfuscate
         authDomain: 'nbake1-1.firebaseapp.com',
         projectId: 'nbake1-1'
      }

      // example use ///////////////////////////////////////////////////////////
      /* put in header or better yet in a RIOT tag
      */
      // in FireBase set:
      // allow read, write: if request.auth.token.email_verified == true ;

      // you should setup your Firestore so only auth user can access:
      // console.info('auth', isUserIn()) // if not, you can gray out the page with a modal

      // RW generic *GLOBALS* ///////////////////////////////////////////////////////////////////
      window.firebase.initializeApp(fconfig)
      window.auth =firebase.auth()
      auth.setPersistence(firebase.auth.Auth.Persistence.LOCAL)

      window.db1  = window.firebase.firestore()
