ro-tag

   include ro

   hr
   p { dat }
   hr

   .buts
      button#data.btn(type='submit') Get data

   style.
      .buts button {
         margin: .5rem;
      }


   script.
      console.log('oh hi')
      thiz = this
      this.on('mount', function(){

         loadjs.ready('style', function () {
         let tableOneRef = db.collection('table_one')

         $('#data').click(function(){
            console.log('click')
            // https://firebase.google.com/docs/firestore/query-data/get-data?authuser=0
            tableOneRef.get().then(function(querySnapshot) {
               console.log('back')
               querySnapshot.forEach(function(doc) {
                  console.log(doc.id, " => ", doc.data())
                  thiz.update({dat: doc.data().col1}) // update RIOT dom
                  })//each
               })//then

            })//click

         }) //on ready

      }) //mount
